<style>
  .also-like {
    background: black;
    color: #fff;
    padding-top: 40px;
  }
  .also-like__header {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    .also-like__header {
      font-weight: 600;
      font-size: 45px;
      line-height: 130%;
    }

    .series_collection-inner {
      justify-content: center;
      gap: 10px;
    }
  }
</style>

{{ 'fe800-all.css' | asset_url | stylesheet_tag }}
{% include 'fe800-all-custom' %}

<div class="also-like">
  {% section 'fe800-popup_3d_viewer' %}
  
  <div class="also-like__header">You Might Also Like</div>
  <div class="series_collection" id="series_collection">

      <div class="series_collection-inner">
  
          <!-- series_collection  SL3800-->
        {% unless collection_name == 'sl3800' %}
          <div class="series_collection-item">
  
              <!-- bg  -->
              <div class="bg-content">
                  <img src="{{ 'fe800-series1.jpg' | asset_img_url: '500x' }}" />
              </div>
  
              <!-- button viewmode -->
              <a class="fe800-btn-viewmode-js  btn-viewmode" name="SL3800">
                  <img src="{{ 'fe800-viewmode.svg' | asset_url }}" />
                  <span class="mb-hide">View in&nbsp;</span> 3D Mode
              </a>
  
              <a class="btn-expand fe800-btn-seemore-js btn-seemore">See more</a>
              <!-- prods-group -->
              <div class="prods-group">
                  <!-- NAME -->
                  <div class="product-line-name">S-line</div>
  
                  <!--MODE -->
  
                  <div class="mode mode-seat">
                      <img class="lazyload"data-src="{{ 'fe800-mode-seat.svg' | asset_url }}" />
                  </div>
  
              </div>
  
              <!-- content detail -->
              <div class="series_collection-item-detail">
  
                  <div class="gr-product">
                      <span class="name"> SL3800 </span>
                      <span class="price"> $299.9 </span>
                  </div>
  
                  <div class="gr-info">
                      <div class="info info-weight">
                          <img src="{{ 'fe800-intro-weight.svg' | asset_url }}" />
                          Up to 100kg / 220lb
                      </div>
  
                      <div class="info info-height">
                          <img src="{{ 'fe800-intro-height.svg' | asset_url }}" />
                          Up to 178cm / 5’10”
                      </div>
                  </div>
  
                  <h3> Product keY features </h3>
                  <ul>
                      <li>ContourMax<sup>TM</sup> Lumbar. <a class="js-popups" popup="lumbar" onclick="namOpenLumbarPopup()">Learn more</a></li>
                      <li>VertaAir<sup>TM</sup> Seat. <a class="js-popups" popup="seat" onclick="namOpenSeatPopup()">Learn more</a></li>
                      <!-- <li>RGB LED Kit. <a class="js-popups" popup="rgb">Learn more</a></li> -->
                      <li>HygennX. <a class="js-popups" popup="hygennx" onclick="namOpenHygennPopup()">Learn more</a></li>
                      <li>Effortless Assembly. <a data-youtube="https://www.youtube.com/embed/Vr_OXiEFJYA">Learn more</a></li>
                  </ul>
  
                  <a class="btn-expand fe800-btn-seeless-js btn-seeless">See less</a>
              </div>
              <a class="btn-shopnow" href="https://www.vertagear.com/products/sl3800" target="_blank">Shop Now</a>
  
          </div>
        {% endunless %}
  
          <!-- series_collection SL5800 -->
        {% unless collection_name == 'sl5800' %}
          <div class="series_collection-item">
  
              <!-- bg  -->
              <div class="bg-content">
                  <img src="{{ 'fe800-series2.jpg' | asset_url }}" />
              </div>
              <!-- button viewmode -->
              <a class="fe800-btn-viewmode-js  btn-viewmode" name="SL5800">
                  <img src="{{ 'fe800-viewmode.svg' | asset_url }}" />
                  <span class="mb-hide">View in&nbsp;</span> 3D Mode
              </a>
  
              <a class="btn-expand fe800-btn-seemore-js btn-seemore">See more</a>
  
              <!-- prods-group -->
              <div class="prods-group">
                  <!-- NAME -->
                  <div class="product-line-name">S-line</div>
  
  
                  <!--MODE -->
                  <div class="mode mode-led">
                    <img class="lazyload"data-src="{{'fe800-mode-led.svg' | asset_url}}" />
                  </div>
  
                  <div class="mode mode-seat">
                      <img class="lazyload" data-src="{{ 'fe800-mode-seat.svg' | asset_url }}" />
                  </div>
  
              </div>
  
              <!-- content detail -->
              <div class="series_collection-item-detail">
                  <div class="gr-product">
                      <span class="name"> SL5800 </span>
                      <span class="price"> $299.9 </span>
                  </div>
                  <div class="gr-info">
                      <div class="info info-weight">
                          <img src="{{ 'fe800-intro-weight.svg' | asset_url }}" />
                          Up to 113kg / 250lb
  
                      </div>
  
                      <div class="info info-height">
                          <img src="{{ 'fe800-intro-height.svg' | asset_url }}" />
                          Up to 183cm / 6’
                      </div>
                  </div>
                  <h3> Product keY features </h3>
                  <ul>
                      <li>ContourMax<sup>TM</sup> Lumbar. <a class="js-popups" popup="lumbar" onclick="namOpenLumbarPopup()">Learn more</a></li>
                      <li>VertaAir<sup>TM</sup> Seat. <a class="js-popups" popup="seat" onclick="namOpenSeatPopup()">Learn more</a></li>
                      <li>RGB LED Kit. <a class="js-popups" popup="rgb" onclick="namRgbModalOpen()">Learn more</a></li>
                      <li>HygennX. <a class="js-popups" popup="hygennx" onclick="namOpenHygennPopup()">Learn more</a></li>
                      <li>Effortless Assembly. <a data-youtube="https://www.youtube.com/embed/Vr_OXiEFJYA">Learn more</a></li>
                  </ul>
  
                  <a class="btn-expand fe800-btn-seeless-js btn-seeless">See less</a>
  
              </div>
              <a class="btn-shopnow" href="https://www.vertagear.com/products/sl5800" target="_blank">Shop Now</a>
  
          </div>
          {% endunless %}
  
          <!-- series_collection PL4800-->
        {% unless collection_name == 'pl4800' %}
          <div class="series_collection-item">
  
              <!-- bg  -->
              <div class="bg-content">
                  <img src="{{ 'fe800-series3.jpg' | asset_img_url: '500x' }}" />
              </div>
              <!-- button viewmode -->
              <a class="fe800-btn-viewmode-js  btn-viewmode" name="PL4800">
                  <img src="{{ 'fe800-viewmode.svg' | asset_url }}" />
                  <span class="mb-hide">View in&nbsp;</span> 3D Mode
              </a>
  
              <a class="btn-expand fe800-btn-seemore-js btn-seemore">See more</a>
  
              <!-- prods-group -->
              <div class="prods-group">
                  <!-- NAME -->
                  <div class="product-line-name">P-line</div>
  
  
                  <!--MODE -->
                  <div class="mode mode-led">
                    <img class="lazyload"src="{{'fe800-mode-led.svg' | asset_url}}" />
                  </div>
  
                  <div class="mode mode-seat">
                      <img class="lazyload"src="{{ 'fe800-mode-seat.svg' | asset_url }}" />
                  </div>
  
  
              </div>
  
              <!-- content detail -->
              <div class="series_collection-item-detail">
                  <div class="gr-product">
                      <span class="name"> PL4800 </span>
                      <span class="price"> $299.9 </span>
                  </div>
                  <div class="gr-info">
                      <div class="info info-weight">
                          <img src="{{ 'fe800-intro-weight.svg' | asset_url }}" />
  
                          Up to 163kg / 360lb
                      </div>
  
                      <div class="info info-height">
                          <img class="lazyload" data-src="{{ 'fe800-intro-height.svg' | asset_url }}" />
                          175cm-198cm / 5’9”-6’6”
                      </div>
                  </div>
  
                  <h3> Product keY features </h3>
                  <ul>
                      <li>ContourMax<sup>TM</sup> Lumbar. <a class="js-popups" popup="lumbar" onclick="namOpenLumbarPopup()">Learn more</a></li>
                      <li>VertaAir<sup>TM</sup> Seat. <a class="js-popups" popup="seat" onclick="namOpenSeatPopup()">Learn more</a></li>
                      <li>RGB LED Kit. <a class="js-popups" popup="rgb" onclick="namRgbModalOpen()">Learn more</a></li>
                      <li>HygennX. <a class="js-popups" popup="hygennx" onclick="namOpenHygennPopup()">Learn more</a></li>
                      <li>Effortless Assembly. <a data-youtube="https://www.youtube.com/embed/Vr_OXiEFJYA">Learn more</a></li>
                  </ul>
  
                  <a class="btn-expand fe800-btn-seeless-js btn-seeless">See less</a>
  
              </div>
              <a class="btn-shopnow" href="https://www.vertagear.com/products/pl4800-ergonomic-gaming-chair" target="_blank" >Shop Now</a>
  
          </div>
        {% endunless %}
  
          <!-- series_collection SL6800-->
        {% unless collection_name == 'pl6800' %}
          <div class="series_collection-item">
  
              <!-- bg  -->
              <div class="bg-content">
                  <img src="{{ 'fe800-series4.jpg' | asset_url }}" />
              </div>
  
              <!-- button viewmode -->
              <a class="fe800-btn-viewmode-js  btn-viewmode" name="PL6800">
                  <img src="{{ 'fe800-viewmode.svg' | asset_url }}" />
                  <span class="mb-hide">View in&nbsp;</span> 3D Mode
              </a>
  
              <a class="btn-expand fe800-btn-seemore-js btn-seemore">See more</a>
              <!-- prods-group -->
              <div class="prods-group">
                  <!-- NAME -->
                  <div class="product-line-name">P-line</div>
  
                  <!--MODE -->
                  <!-- <div class="mode mode-led">
                      <img src="{{ 'fe800-mode-led.svg" />' | asset_url }}
                  </div> -->
  
                  <div class="mode mode-seat">
                      <img class="lazyload" data-src="{{ 'fe800-mode-seat.svg' | asset_url }}" />
                  </div>
              </div>
  
              <!-- content detail -->
              <div class="series_collection-item-detail">
                  <div class="gr-product">
                      <span class="name"> PL6800 </span>
                      <span class="price"> $299.9 </span>
                  </div>
                  <div class="gr-info">
                      <div class="info info-weight">
                          <img src="{{ 'fe800-intro-weight.svg' | asset_url }}" />
                          Up to 181kg / 400lb
                      </div>
  
                      <div class="info info-height">
                          <img src="{{ 'fe800-intro-height.svg' | asset_url }}" />
                          175cm-203cm / 5’9”-6’8”
                      </div>
                  </div>
  
  
                  <h3> Product keY features </h3>
                  <ul>
                      <li>ContourMax<sup>TM</sup> Lumbar. <a class="js-popups" popup="lumbar" onclick="namOpenLumbarPopup()">Learn more</a></li>
                      <li>VertaAir<sup>TM</sup> Seat. <a class="js-popups" popup="seat" onclick="namOpenSeatPopup()">Learn more</a></li>
                      <!-- <li>RGB LED Kit. <a class="js-popups" popup="rgb" onclick="namRgbModalOpen()">Learn more</a></li> -->
                      <li>HygennX. <a class="js-popups" popup="hygennx" onclick="namOpenHygennPopup()">Learn more</a></li>
                      <li>Effortless Assembly. <a data-youtube="https://www.youtube.com/embed/Vr_OXiEFJYA">Learn more</a></li>
                  </ul>
  
                  <a class="btn-expand fe800-btn-seeless-js btn-seeless">See less</a>
  
  
  
              </div>
              <a class="btn-shopnow" href="https://www.vertagear.com/products/pl6800-big-and-tall-ergonomic-gaming-chair" target="_blank">Shop Now</a>
  
          </div>
          {% endunless %}
  
      </div>
  </div>
</div>

<script type="module" src="{{ 'fe800-model-viewer.min.js' | asset_url }}" crossorigin="anonymous"></script>
<script src="{{ 'fe800-custom.src.js' | asset_url }}" type="text/javascript" async defer="defer"></script>