<link rel="stylesheet" href="{{ 'apf.css' | asset_url }}" />

<div class="popup-wrapper" id="apfPopupWrapper">
      <div
        class="popup-background"
        style="display: block"
        onclick="namCloseApfPopup()"
      ></div>

      <div id="allProductFeatures" class="all-product-features popup">
        <div id="apfPopHeader" class="pop-header">
          <div class="sticky">
            <div class="collapse">
              <div class="logo display-mobile">
                <img src="{{ 'pop-logo.svg' | file_url }}" />
              </div>
              <div class="title display-desktop">All Product Features</div>
              <button class="close-btn" onclick="namCloseApfPopup()">
                <img src="{{ 'pop-close.svg' | file_url }}" />
              </button>
            </div>
          </div>
        </div>

        <div id="apfHero" class="apf-hero">
          <div class="apf-hero__text">
            <div class="apf-header">All Product Features</div>
            <div class="apf-hero__desc">
              The Vertagear 800 Series revolutionizes ergonomics to an entirely
              different dimension. Through a series of groundbreaking research
              and new technology focused on spinal health, we've designed a
              chair that will tailor itself to you specifically. Dive into the
              details and see for yourself what makes our new line of chairs the
              best for you.
            </div>
          </div>
          <div class="apf-hero__img-wrapper">
            <img
              src="{{ 'apf-hero-mob.jpg' | file_url }}"
              class="display-mobile"
            />
            <img
              src="{{ 'apf-hero-desk.jpg' | file_url }}"
              class="display-desktop"
            />
          </div>
        </div>

        <div class="apf-conma">
          <div class="apf-header">Construction & Materials</div>

          <div class="apf-scroll">
            <div class="apf-scroll__each">
              <div class="apf-scroll__each__img-wrapper">
                <img
                  class="display-mobile"
                  src="{{ 'apf-conma-mob-1.jpg' | file_url }}"
                />
                <img
                  class="display-desktop"
                  src="{{ 'apf-conma-desk-1.jpg' | file_url }}"
                />
              </div>
              <div class="apf-scroll__each__text">
                <div class="header">Steel Frame</div>
                <div class="desc">
                  The integrated steel skeleton that forms the shape of the
                  gaming chair ensures long-term durability. The steel frame
                  includes a 10-year warranty, keeping you secure and stable
                  throughout any intense gameplay.
                </div>
              </div>
            </div>

            <div class="apf-scroll__each">
              <div class="apf-scroll__each__img-wrapper">
                <img
                  class="display-mobile"
                  src="{{ 'apf-conma-mob-2.jpg' | file_url }}"
                />
                <img
                  class="display-desktop"
                  src="{{ 'apf-conma-desk-2.jpg' | file_url }}"
                />
              </div>
              <div class="apf-scroll__each__text">
                <div class="header">Aluminum Alloy 5 Star Base</div>
                <div class="desc">
                  As one of the critical support structure of the chair, the
                  five-star base is fabricated with aluminum alloy to provide
                  stability, lightweight construction, and lasting durability,
                  providing the necessary strength to ensure longevity..
                </div>
              </div>
            </div>

            <div class="apf-scroll__each">
              <div class="apf-scroll__each__img-wrapper">
                <img
                  class="display-mobile"
                  src="{{ 'apf-conma-mob-3.jpg' | file_url }}"
                />
                <img
                  class="display-desktop"
                  src="{{ 'apf-conma-desk-3.jpg' | file_url }}"
                />
              </div>
              <div class="apf-scroll__each__text">
                <div class="header">Gas Lift</div>
                <div class="desc">
                  Vertagear Gaming Chair is supported with an industrial grade
                  class-4 gas lift, providing the extra adjustability you need.
                  Set the chair to your preferred height, to keep you at an
                  optimal level relative to your setup to prevent sore
                  shoulders.
                </div>
              </div>
            </div>

            <div class="apf-scroll__each">
              <div class="apf-scroll__each__img-wrapper">
                <img
                  class="display-mobile"
                  src="{{ 'apf-conma-mob-4.jpg' | file_url }}"
                />
                <img
                  class="display-desktop"
                  src="{{ 'apf-conma-desk-4.jpg' | file_url }}"
                />
              </div>
              <div class="apf-scroll__each__text">
                <div class="header">PUC Synthetic Faux Leather</div>
                <div class="desc">
                  PUC combines the best attributes of both PVC and PU
                  faux-leather into one. It retains the durability of PVC for
                  everyday use, while maintaining the softness of PU for a
                  low-maintenance solution without sacrificing comfort.
                </div>
              </div>
            </div>

            <div class="apf-scroll__each">
              <div class="apf-scroll__each__img-wrapper">
                <img
                  class="display-mobile"
                  src="{{ 'apf-conma-mob-5.jpg' | file_url }}"
                />
                <img
                  class="display-desktop"
                  src="{{ 'apf-conma-desk-5.jpg' | file_url }}"
                />
              </div>
              <div class="apf-scroll__each__text">
                <div class="header">UPHR Foam</div>
                <div class="desc">
                  Our Ultra Premium High Resilience Foam boasts a density well
                  above industry standard. While standard High Resilience foam
                  stands up to approximately 2.5lbs per cubic foot, our UPHR
                  foam can withstand 62% more per cubic foot. The foam prolongs
                  the lifespan of the chair by preventing deformities from long
                  periods of use, inching it closest to the characteristics of
                  memory foam.
                </div>
              </div>
            </div>

            <div class="apf-scroll__each">
              <div class="apf-scroll__each__img-wrapper">
                <img
                  class="display-mobile"
                  src="{{ 'apf-conma-mob-6.jpg' | file_url }}"
                />
                <img
                  class="display-desktop"
                  src="{{ 'apf-conma-desk-6.jpg' | file_url }}"
                />
              </div>
              <div class="apf-scroll__each__text">
                <div class="header">Penta RS1 Caster</div>
                <div class="desc">
                  The motorsports inspired style extends all the way down to the
                  casters. Engineered to be carefree, the Penta RS1 Casters are
                  coated with polyurethane (PU) for soft and smooth gliding on
                  any surface. (Color matching chair)
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="apf-ergo">
          <div class="apf-header">Posture Perfect Ergonomics</div>

          <div class="apf-scroll">
            <div class="apf-ergo__first-three">
              <div class="apf-scroll__each">
                <div class="apf-scroll__each__img-wrapper">
                  <img
                    class="display-mobile"
                    src="{{ 'apf-ergo-mob-1.jpg' | file_url }}"
                  />
                  <img
                    class="display-desktop"
                    src="{{ 'apf-ergo-desk-1.jpg' | file_url }}"
                  />
                </div>
                <div class="apf-scroll__each__text">
                  <div class="header">Adjustable Seat Height</div>
                  <div class="desc">
                    Having a good range of height adjustment allows you to be at
                    an optimal level relative to your desk and PC setup. Our
                    chairs are ergonomically-designed to cater to a wide range
                    of body shapes and height for long-lasting comfort.
                  </div>
                </div>
              </div>

              <div class="apf-scroll__each">
                <div class="apf-scroll__each__img-wrapper">
                  <img
                    class="display-mobile"
                    src="{{ 'apf-ergo-mob-2.jpg' | file_url }}"
                  />
                  <img
                    class="display-desktop"
                    src="{{ 'apf-ergo-desk-2.jpg' | file_url }}"
                  />
                </div>
                <div class="apf-scroll__each__text">
                  <div class="header">Neck Support</div>
                  <div class="desc">
                    Vertagear Gaming Chair comes with our standard memory foam
                    neck support, to give you the extra padding you need for any
                    position. Both cushions are easily removable for increased
                    adjustability and correct posture.
                  </div>
                </div>
              </div>

              <div class="apf-scroll__each">
                <div class="apf-scroll__each__img-wrapper">
                  <img
                    class="display-mobile"
                    src="{{ 'apf-ergo-mob-3.jpg' | file_url }}"
                  />
                  <img
                    class="display-desktop"
                    src="{{ 'apf-ergo-desk-3.jpg' | file_url }}"
                  />
                </div>
                <div class="apf-scroll__each__text">
                  <div class="header">Adjustable Backrest</div>
                  <div class="desc">
                    Features an independently adjustable backrest, allowing you
                    to adjust the angle of your sitting position throughout your
                    gaming sessions (up to 140 degrees).
                  </div>
                </div>
              </div>
            </div>

            <div class="apf-ergo__last-two">
              <div class="apf-scroll__each">
                <div class="apf-scroll__each__img-wrapper">
                  <img
                    class="display-mobile"
                    src="{{ 'apf-ergo-mob-4.jpg' | file_url }}"
                  />
                  <img
                    class="display-desktop"
                    src="{{ 'apf-ergo-desk-4.jpg' | file_url }}"
                  />
                </div>
                <div class="apf-scroll__each__text">
                  <div class="header">Adjustable Tilt with Locking System</div>
                  <div class="desc">
                    The chair's tilt tension is easily adaptable to your body
                    weight, allowing you to lean back with ease and comfort. The
                    tilt mechanism is also engineered to be lockable at
                    anupright position.
                  </div>
                </div>
              </div>

              <div class="apf-scroll__each">
                <div class="apf-scroll__each__img-wrapper">
                  <img
                    class="display-mobile"
                    src="{{ 'apf-ergo-mob-5.jpg' | file_url }}"
                  />
                  <img
                    class="display-desktop"
                    src="{{ 'apf-ergo-desk-5.jpg' | file_url }}"
                  />
                </div>
                <div class="apf-scroll__each__text">
                  <div class="header">4D Armrests</div>
                  <div class="desc">
                    Adjustability extends to the armrests with 4 directional
                    adjustments. The ergonomically designed metal plate armrests
                    keep your forearms comfortable and steady regardless of body
                    shape and habit, to prevent sore shoulders..
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="apf-compare">
          <div class="apf-header">Comparison Chart</div>
          <div class="table-wrapper">
            <table>
              <tr>
                <th><div></div></th>
                <th>
                  <div class="header">
                    <img
                      class="display-desktop"
                      src="{{ 'apf-compare-1.png' | file_url }}"
                    />
                    <div class="text">SL3800</div>
                  </div>
                </th>
                <th>
                  <div class="header">
                    <img
                      class="display-desktop"
                      src="{{ 'apf-compare-2.png' | file_url }}"
                    />
                    <div class="text">SL5800</div>
                  </div>
                </th>
                <th>
                  <div class="header">
                    <img
                      class="display-desktop"
                      src="{{ 'apf-compare-3.png' | file_url }}"
                    />
                    <div class="text">SL4800</div>
                  </div>
                </th>
                <th>
                  <div class="header">
                    <img
                      class="display-desktop"
                      src="{{ 'apf-compare-4.png' | file_url }}"
                    />
                    <div class="text">SL6800</div>
                  </div>
                </th>
              </tr>
              <tr>
                <td>
                  <div class="title" onclick="">
                    ContourMax® Lumbar
                    <svg
                      width="16"
                      height="17"
                      viewBox="0 0 16 17"
                      class="info-icon"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_834_6647)">
                        <path
                          d="M8 0.5C3.57803 0.5 0 4.07834 0 8.5C0 12.922 3.57834 16.5 8 16.5C12.422 16.5 16 12.9217 16 8.5C16 4.07803 12.4216 0.5 8 0.5ZM8 15.25C4.26897 15.25 1.25 12.2308 1.25 8.5C1.25 4.76897 4.26922 1.75 8 1.75C11.731 1.75 14.75 4.76922 14.75 8.5C14.75 12.231 11.7308 15.25 8 15.25Z"
                          fill="inherit"
                        />
                        <path
                          d="M8 7.19775C7.65481 7.19775 7.375 7.47757 7.375 7.82275V11.8475C7.375 12.1927 7.65481 12.4725 8 12.4725C8.34519 12.4725 8.625 12.1927 8.625 11.8475V7.82275C8.625 7.47757 8.34519 7.19775 8 7.19775Z"
                          fill="inherit"
                        />
                        <path
                          d="M8 6.4325C8.46599 6.4325 8.84375 6.05474 8.84375 5.58875C8.84375 5.12275 8.46599 4.745 8 4.745C7.53401 4.745 7.15625 5.12275 7.15625 5.58875C7.15625 6.05474 7.53401 6.4325 8 6.4325Z"
                          fill="inherit"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_834_6647">
                          <rect
                            width="16"
                            height="16"
                            fill="red"
                            transform="translate(0 0.5)"
                          />
                        </clipPath>
                      </defs>
                    </svg>
                    <div class="tooltip">
                      <div class="text">
                        Our patent pending ContourMax Lumbar features a layer of
                        memory foam that adjusts specifically to the curves and
                        angles of any individual’s body. Four highly durable
                        Thermoplastic Elastomer (TPE) modules, consisting of 64
                        individual responsive branches, lay beneath the foam and
                        shift themselves according to the shape and movement of
                        the sitter’s back, maintaining a healthy posture at all
                        times.
                      </div>
                      <a class="main-btn" href="#">Learn More</a>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="title" onclick="">
                    VertaAir® Seat
                    <svg
                      width="16"
                      height="17"
                      viewBox="0 0 16 17"
                      class="info-icon"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_834_6647)">
                        <path
                          d="M8 0.5C3.57803 0.5 0 4.07834 0 8.5C0 12.922 3.57834 16.5 8 16.5C12.422 16.5 16 12.9217 16 8.5C16 4.07803 12.4216 0.5 8 0.5ZM8 15.25C4.26897 15.25 1.25 12.2308 1.25 8.5C1.25 4.76897 4.26922 1.75 8 1.75C11.731 1.75 14.75 4.76922 14.75 8.5C14.75 12.231 11.7308 15.25 8 15.25Z"
                          fill="inherit"
                        />
                        <path
                          d="M8 7.19775C7.65481 7.19775 7.375 7.47757 7.375 7.82275V11.8475C7.375 12.1927 7.65481 12.4725 8 12.4725C8.34519 12.4725 8.625 12.1927 8.625 11.8475V7.82275C8.625 7.47757 8.34519 7.19775 8 7.19775Z"
                          fill="inherit"
                        />
                        <path
                          d="M8 6.4325C8.46599 6.4325 8.84375 6.05474 8.84375 5.58875C8.84375 5.12275 8.46599 4.745 8 4.745C7.53401 4.745 7.15625 5.12275 7.15625 5.58875C7.15625 6.05474 7.53401 6.4325 8 6.4325Z"
                          fill="inherit"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_834_6647">
                          <rect
                            width="16"
                            height="16"
                            fill="red"
                            transform="translate(0 0.5)"
                          />
                        </clipPath>
                      </defs>
                    </svg>
                    <div class="tooltip">
                      <div class="text">
                        If you're struggling with tightness and discomfort from
                        the traditional gaming chair, we understand your pain.
                        Our patent pending VertaAir Seat is a fresh concept that
                        solves the primary issues plaguing traditional chairs.
                      </div>
                      <a class="main-btn" href="#">Learn More</a>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="title" onclick="">
                    RGB LED Kit (Sold Separately)
                    <svg
                      width="16"
                      height="17"
                      viewBox="0 0 16 17"
                      class="info-icon"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_834_6647)">
                        <path
                          d="M8 0.5C3.57803 0.5 0 4.07834 0 8.5C0 12.922 3.57834 16.5 8 16.5C12.422 16.5 16 12.9217 16 8.5C16 4.07803 12.4216 0.5 8 0.5ZM8 15.25C4.26897 15.25 1.25 12.2308 1.25 8.5C1.25 4.76897 4.26922 1.75 8 1.75C11.731 1.75 14.75 4.76922 14.75 8.5C14.75 12.231 11.7308 15.25 8 15.25Z"
                          fill="inherit"
                        />
                        <path
                          d="M8 7.19775C7.65481 7.19775 7.375 7.47757 7.375 7.82275V11.8475C7.375 12.1927 7.65481 12.4725 8 12.4725C8.34519 12.4725 8.625 12.1927 8.625 11.8475V7.82275C8.625 7.47757 8.34519 7.19775 8 7.19775Z"
                          fill="inherit"
                        />
                        <path
                          d="M8 6.4325C8.46599 6.4325 8.84375 6.05474 8.84375 5.58875C8.84375 5.12275 8.46599 4.745 8 4.745C7.53401 4.745 7.15625 5.12275 7.15625 5.58875C7.15625 6.05474 7.53401 6.4325 8 6.4325Z"
                          fill="inherit"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_834_6647">
                          <rect
                            width="16"
                            height="16"
                            fill="red"
                            transform="translate(0 0.5)"
                          />
                        </clipPath>
                      </defs>
                    </svg>
                    <div class="tooltip">
                      <a class="main-btn no-text" href="#">Learn More</a>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
                <td>
                  <div class="data"></div>
                </td>
                <td>
                  <div class="data"></div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="title" onclick="">
                    HygennX
                    <svg
                      width="16"
                      height="17"
                      viewBox="0 0 16 17"
                      class="info-icon"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_834_6647)">
                        <path
                          d="M8 0.5C3.57803 0.5 0 4.07834 0 8.5C0 12.922 3.57834 16.5 8 16.5C12.422 16.5 16 12.9217 16 8.5C16 4.07803 12.4216 0.5 8 0.5ZM8 15.25C4.26897 15.25 1.25 12.2308 1.25 8.5C1.25 4.76897 4.26922 1.75 8 1.75C11.731 1.75 14.75 4.76922 14.75 8.5C14.75 12.231 11.7308 15.25 8 15.25Z"
                          fill="inherit"
                        />
                        <path
                          d="M8 7.19775C7.65481 7.19775 7.375 7.47757 7.375 7.82275V11.8475C7.375 12.1927 7.65481 12.4725 8 12.4725C8.34519 12.4725 8.625 12.1927 8.625 11.8475V7.82275C8.625 7.47757 8.34519 7.19775 8 7.19775Z"
                          fill="inherit"
                        />
                        <path
                          d="M8 6.4325C8.46599 6.4325 8.84375 6.05474 8.84375 5.58875C8.84375 5.12275 8.46599 4.745 8 4.745C7.53401 4.745 7.15625 5.12275 7.15625 5.58875C7.15625 6.05474 7.53401 6.4325 8 6.4325Z"
                          fill="inherit"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_834_6647">
                          <rect
                            width="16"
                            height="16"
                            fill="red"
                            transform="translate(0 0.5)"
                          />
                        </clipPath>
                      </defs>
                    </svg>
                    <div class="tooltip">
                      <a class="main-btn" href="#">Learn More</a>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="title" onclick="">
                    Heavy Duty Base
                    <svg
                      width="16"
                      height="17"
                      viewBox="0 0 16 17"
                      class="info-icon"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_834_6647)">
                        <path
                          d="M8 0.5C3.57803 0.5 0 4.07834 0 8.5C0 12.922 3.57834 16.5 8 16.5C12.422 16.5 16 12.9217 16 8.5C16 4.07803 12.4216 0.5 8 0.5ZM8 15.25C4.26897 15.25 1.25 12.2308 1.25 8.5C1.25 4.76897 4.26922 1.75 8 1.75C11.731 1.75 14.75 4.76922 14.75 8.5C14.75 12.231 11.7308 15.25 8 15.25Z"
                          fill="inherit"
                        />
                        <path
                          d="M8 7.19775C7.65481 7.19775 7.375 7.47757 7.375 7.82275V11.8475C7.375 12.1927 7.65481 12.4725 8 12.4725C8.34519 12.4725 8.625 12.1927 8.625 11.8475V7.82275C8.625 7.47757 8.34519 7.19775 8 7.19775Z"
                          fill="inherit"
                        />
                        <path
                          d="M8 6.4325C8.46599 6.4325 8.84375 6.05474 8.84375 5.58875C8.84375 5.12275 8.46599 4.745 8 4.745C7.53401 4.745 7.15625 5.12275 7.15625 5.58875C7.15625 6.05474 7.53401 6.4325 8 6.4325Z"
                          fill="inherit"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_834_6647">
                          <rect
                            width="16"
                            height="16"
                            fill="red"
                            transform="translate(0 0.5)"
                          />
                        </clipPath>
                      </defs>
                    </svg>
                    <div class="tooltip">
                      <div class="text">
                        The heavy-duty frame ensures the long term durability of
                        the chair's critical components.
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="data"></div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="title" onclick="">
                    PUC
                    <svg
                      width="16"
                      height="17"
                      viewBox="0 0 16 17"
                      class="info-icon"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_834_6647)">
                        <path
                          d="M8 0.5C3.57803 0.5 0 4.07834 0 8.5C0 12.922 3.57834 16.5 8 16.5C12.422 16.5 16 12.9217 16 8.5C16 4.07803 12.4216 0.5 8 0.5ZM8 15.25C4.26897 15.25 1.25 12.2308 1.25 8.5C1.25 4.76897 4.26922 1.75 8 1.75C11.731 1.75 14.75 4.76922 14.75 8.5C14.75 12.231 11.7308 15.25 8 15.25Z"
                          fill="inherit"
                        />
                        <path
                          d="M8 7.19775C7.65481 7.19775 7.375 7.47757 7.375 7.82275V11.8475C7.375 12.1927 7.65481 12.4725 8 12.4725C8.34519 12.4725 8.625 12.1927 8.625 11.8475V7.82275C8.625 7.47757 8.34519 7.19775 8 7.19775Z"
                          fill="inherit"
                        />
                        <path
                          d="M8 6.4325C8.46599 6.4325 8.84375 6.05474 8.84375 5.58875C8.84375 5.12275 8.46599 4.745 8 4.745C7.53401 4.745 7.15625 5.12275 7.15625 5.58875C7.15625 6.05474 7.53401 6.4325 8 6.4325Z"
                          fill="inherit"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_834_6647">
                          <rect
                            width="16"
                            height="16"
                            fill="red"
                            transform="translate(0 0.5)"
                          />
                        </clipPath>
                      </defs>
                    </svg>
                    <div class="tooltip">
                      <div class="text">
                        PUC combines the best attributes of both PVC and PU
                        faux-leather into one. It retains the durability of PVC
                        for everyday use, while maintaining the softness of PU
                        for a low-maintenance solution without sacrificing
                        comfort.
                      </div>
                      <a class="main-btn" href="#">Learn More</a>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="title" onclick="">
                    Effortless Assembly
                    <svg
                      width="16"
                      height="17"
                      viewBox="0 0 16 17"
                      class="info-icon"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_834_6647)">
                        <path
                          d="M8 0.5C3.57803 0.5 0 4.07834 0 8.5C0 12.922 3.57834 16.5 8 16.5C12.422 16.5 16 12.9217 16 8.5C16 4.07803 12.4216 0.5 8 0.5ZM8 15.25C4.26897 15.25 1.25 12.2308 1.25 8.5C1.25 4.76897 4.26922 1.75 8 1.75C11.731 1.75 14.75 4.76922 14.75 8.5C14.75 12.231 11.7308 15.25 8 15.25Z"
                          fill="inherit"
                        />
                        <path
                          d="M8 7.19775C7.65481 7.19775 7.375 7.47757 7.375 7.82275V11.8475C7.375 12.1927 7.65481 12.4725 8 12.4725C8.34519 12.4725 8.625 12.1927 8.625 11.8475V7.82275C8.625 7.47757 8.34519 7.19775 8 7.19775Z"
                          fill="inherit"
                        />
                        <path
                          d="M8 6.4325C8.46599 6.4325 8.84375 6.05474 8.84375 5.58875C8.84375 5.12275 8.46599 4.745 8 4.745C7.53401 4.745 7.15625 5.12275 7.15625 5.58875C7.15625 6.05474 7.53401 6.4325 8 6.4325Z"
                          fill="inherit"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_834_6647">
                          <rect
                            width="16"
                            height="16"
                            fill="red"
                            transform="translate(0 0.5)"
                          />
                        </clipPath>
                      </defs>
                    </svg>
                    <div class="tooltip">
                      <div class="text">
                        Our patented “Slide-in” hardware allows for a quick and
                        easy on-person assembly. The chair can be assembled in
                        seconds by simply sliding the backrest into the seat,
                        removing any alignment and hardware complexities for a
                        hassle-free,one-person process.
                      </div>
                      <a class="main-btn" href="#">Watch Video</a>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="title" onclick="">
                    Steel Frame
                    <svg
                      width="16"
                      height="17"
                      viewBox="0 0 16 17"
                      class="info-icon"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_834_6647)">
                        <path
                          d="M8 0.5C3.57803 0.5 0 4.07834 0 8.5C0 12.922 3.57834 16.5 8 16.5C12.422 16.5 16 12.9217 16 8.5C16 4.07803 12.4216 0.5 8 0.5ZM8 15.25C4.26897 15.25 1.25 12.2308 1.25 8.5C1.25 4.76897 4.26922 1.75 8 1.75C11.731 1.75 14.75 4.76922 14.75 8.5C14.75 12.231 11.7308 15.25 8 15.25Z"
                          fill="inherit"
                        />
                        <path
                          d="M8 7.19775C7.65481 7.19775 7.375 7.47757 7.375 7.82275V11.8475C7.375 12.1927 7.65481 12.4725 8 12.4725C8.34519 12.4725 8.625 12.1927 8.625 11.8475V7.82275C8.625 7.47757 8.34519 7.19775 8 7.19775Z"
                          fill="inherit"
                        />
                        <path
                          d="M8 6.4325C8.46599 6.4325 8.84375 6.05474 8.84375 5.58875C8.84375 5.12275 8.46599 4.745 8 4.745C7.53401 4.745 7.15625 5.12275 7.15625 5.58875C7.15625 6.05474 7.53401 6.4325 8 6.4325Z"
                          fill="inherit"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_834_6647">
                          <rect
                            width="16"
                            height="16"
                            fill="red"
                            transform="translate(0 0.5)"
                          />
                        </clipPath>
                      </defs>
                    </svg>
                    <div class="tooltip">
                      <div class="text">
                        The integrated steel skeleton that forms the shape of
                        the gaming chair ensures long-term durability. The steel
                        frame includes a 10-year warranty, keeping you secure
                        and stable throughout any intense gameplay.
                      </div>
                      <a class="main-btn" href="#">Learn More</a>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="title" onclick="">
                    UPHR Foam
                    <svg
                      width="16"
                      height="17"
                      viewBox="0 0 16 17"
                      class="info-icon"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_834_6647)">
                        <path
                          d="M8 0.5C3.57803 0.5 0 4.07834 0 8.5C0 12.922 3.57834 16.5 8 16.5C12.422 16.5 16 12.9217 16 8.5C16 4.07803 12.4216 0.5 8 0.5ZM8 15.25C4.26897 15.25 1.25 12.2308 1.25 8.5C1.25 4.76897 4.26922 1.75 8 1.75C11.731 1.75 14.75 4.76922 14.75 8.5C14.75 12.231 11.7308 15.25 8 15.25Z"
                          fill="inherit"
                        />
                        <path
                          d="M8 7.19775C7.65481 7.19775 7.375 7.47757 7.375 7.82275V11.8475C7.375 12.1927 7.65481 12.4725 8 12.4725C8.34519 12.4725 8.625 12.1927 8.625 11.8475V7.82275C8.625 7.47757 8.34519 7.19775 8 7.19775Z"
                          fill="inherit"
                        />
                        <path
                          d="M8 6.4325C8.46599 6.4325 8.84375 6.05474 8.84375 5.58875C8.84375 5.12275 8.46599 4.745 8 4.745C7.53401 4.745 7.15625 5.12275 7.15625 5.58875C7.15625 6.05474 7.53401 6.4325 8 6.4325Z"
                          fill="inherit"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_834_6647">
                          <rect
                            width="16"
                            height="16"
                            fill="red"
                            transform="translate(0 0.5)"
                          />
                        </clipPath>
                      </defs>
                    </svg>
                    <div class="tooltip">
                      <div class="text">
                        Our Ultra Premium High Resilience Foam boasts a density
                        well above industry standard. While standard High
                        Resilience foam stands up to approximately 2.5lbs per
                        cubic foot, our UPHR foam can withstand 62% more per
                        cubic foot. The foam prolongs the lifespan of the chair
                        by preventing deformities from long periods of use,
                        inching it closest to the characteristics of memory
                        foam.
                      </div>
                      <a class="main-btn" href="#">Learn More</a>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
                <td>
                  <div class="data">
                    <img src="{{ 'apf-check.svg' | file_url }}" />
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="title" onclick="">
                    5 Star base
                    <svg
                      width="16"
                      height="17"
                      viewBox="0 0 16 17"
                      class="info-icon"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_834_6647)">
                        <path
                          d="M8 0.5C3.57803 0.5 0 4.07834 0 8.5C0 12.922 3.57834 16.5 8 16.5C12.422 16.5 16 12.9217 16 8.5C16 4.07803 12.4216 0.5 8 0.5ZM8 15.25C4.26897 15.25 1.25 12.2308 1.25 8.5C1.25 4.76897 4.26922 1.75 8 1.75C11.731 1.75 14.75 4.76922 14.75 8.5C14.75 12.231 11.7308 15.25 8 15.25Z"
                          fill="inherit"
                        />
                        <path
                          d="M8 7.19775C7.65481 7.19775 7.375 7.47757 7.375 7.82275V11.8475C7.375 12.1927 7.65481 12.4725 8 12.4725C8.34519 12.4725 8.625 12.1927 8.625 11.8475V7.82275C8.625 7.47757 8.34519 7.19775 8 7.19775Z"
                          fill="inherit"
                        />
                        <path
                          d="M8 6.4325C8.46599 6.4325 8.84375 6.05474 8.84375 5.58875C8.84375 5.12275 8.46599 4.745 8 4.745C7.53401 4.745 7.15625 5.12275 7.15625 5.58875C7.15625 6.05474 7.53401 6.4325 8 6.4325Z"
                          fill="inherit"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_834_6647">
                          <rect
                            width="16"
                            height="16"
                            fill="red"
                            transform="translate(0 0.5)"
                          />
                        </clipPath>
                      </defs>
                    </svg>
                    <div class="tooltip">
                      <div class="text">
                        As one of the critical support structure of the chair,
                        the five-star base is fabricated with aluminum alloy to
                        provide stability, lightweight construction, and lasting
                        durability, providing the necessary strength to ensure
                        longevity.
                      </div>
                      <a class="main-btn" href="#">Learn More</a>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="data">Metal</div>
                </td>
                <td>
                  <div class="data">Aluminum Alloy</div>
                </td>
                <td>
                  <div class="data">Aluminum Alloy</div>
                </td>
                <td>
                  <div class="data">Aluminum Alloy</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="title" onclick="">
                    Penta RS1 Caster
                    <svg
                      width="16"
                      height="17"
                      viewBox="0 0 16 17"
                      class="info-icon"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_834_6647)">
                        <path
                          d="M8 0.5C3.57803 0.5 0 4.07834 0 8.5C0 12.922 3.57834 16.5 8 16.5C12.422 16.5 16 12.9217 16 8.5C16 4.07803 12.4216 0.5 8 0.5ZM8 15.25C4.26897 15.25 1.25 12.2308 1.25 8.5C1.25 4.76897 4.26922 1.75 8 1.75C11.731 1.75 14.75 4.76922 14.75 8.5C14.75 12.231 11.7308 15.25 8 15.25Z"
                          fill="inherit"
                        />
                        <path
                          d="M8 7.19775C7.65481 7.19775 7.375 7.47757 7.375 7.82275V11.8475C7.375 12.1927 7.65481 12.4725 8 12.4725C8.34519 12.4725 8.625 12.1927 8.625 11.8475V7.82275C8.625 7.47757 8.34519 7.19775 8 7.19775Z"
                          fill="inherit"
                        />
                        <path
                          d="M8 6.4325C8.46599 6.4325 8.84375 6.05474 8.84375 5.58875C8.84375 5.12275 8.46599 4.745 8 4.745C7.53401 4.745 7.15625 5.12275 7.15625 5.58875C7.15625 6.05474 7.53401 6.4325 8 6.4325Z"
                          fill="inherit"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_834_6647">
                          <rect
                            width="16"
                            height="16"
                            fill="red"
                            transform="translate(0 0.5)"
                          />
                        </clipPath>
                      </defs>
                    </svg>
                    <div class="tooltip">
                      <div class="text">
                        The motorsports inspired style extends all the way down
                        to the casters. Engineered to be carefree, the Penta RS1
                        Casters are coated with polyurethane (PU) for soft and
                        smooth gliding on any surface. (Color matching chair)
                      </div>
                      <a class="main-btn" href="#">Learn More</a>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="data">65mm / 2.5”</div>
                </td>
                <td>
                  <div class="data">65mm / 2.5”</div>
                </td>
                <td>
                  <div class="data">65mm / 2.5”</div>
                </td>
                <td>
                  <div class="data">65mm / 2.5”</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="title" onclick="">
                    Armrests
                    <svg
                      width="16"
                      height="17"
                      viewBox="0 0 16 17"
                      class="info-icon"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_834_6647)">
                        <path
                          d="M8 0.5C3.57803 0.5 0 4.07834 0 8.5C0 12.922 3.57834 16.5 8 16.5C12.422 16.5 16 12.9217 16 8.5C16 4.07803 12.4216 0.5 8 0.5ZM8 15.25C4.26897 15.25 1.25 12.2308 1.25 8.5C1.25 4.76897 4.26922 1.75 8 1.75C11.731 1.75 14.75 4.76922 14.75 8.5C14.75 12.231 11.7308 15.25 8 15.25Z"
                          fill="inherit"
                        />
                        <path
                          d="M8 7.19775C7.65481 7.19775 7.375 7.47757 7.375 7.82275V11.8475C7.375 12.1927 7.65481 12.4725 8 12.4725C8.34519 12.4725 8.625 12.1927 8.625 11.8475V7.82275C8.625 7.47757 8.34519 7.19775 8 7.19775Z"
                          fill="inherit"
                        />
                        <path
                          d="M8 6.4325C8.46599 6.4325 8.84375 6.05474 8.84375 5.58875C8.84375 5.12275 8.46599 4.745 8 4.745C7.53401 4.745 7.15625 5.12275 7.15625 5.58875C7.15625 6.05474 7.53401 6.4325 8 6.4325Z"
                          fill="inherit"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_834_6647">
                          <rect
                            width="16"
                            height="16"
                            fill="red"
                            transform="translate(0 0.5)"
                          />
                        </clipPath>
                      </defs>
                    </svg>
                    <div class="tooltip">
                      <div class="text">
                        Adjustability extends to the armrests with 4 directional
                        adjustments. The ergonomically designed metal plate
                        armrests keep your forearms comfortable and steady
                        regardless of body shape and habit, to prevent sore
                        shoulders..
                      </div>
                      <a class="main-btn" href="#">Learn More</a>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="data">3D</div>
                </td>
                <td>
                  <div class="data">4D</div>
                </td>
                <td>
                  <div class="data">4D</div>
                </td>
                <td>
                  <div class="data">4D</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="title" onclick="">
                    Gas Lift
                    <svg
                      width="16"
                      height="17"
                      viewBox="0 0 16 17"
                      class="info-icon"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_834_6647)">
                        <path
                          d="M8 0.5C3.57803 0.5 0 4.07834 0 8.5C0 12.922 3.57834 16.5 8 16.5C12.422 16.5 16 12.9217 16 8.5C16 4.07803 12.4216 0.5 8 0.5ZM8 15.25C4.26897 15.25 1.25 12.2308 1.25 8.5C1.25 4.76897 4.26922 1.75 8 1.75C11.731 1.75 14.75 4.76922 14.75 8.5C14.75 12.231 11.7308 15.25 8 15.25Z"
                          fill="inherit"
                        />
                        <path
                          d="M8 7.19775C7.65481 7.19775 7.375 7.47757 7.375 7.82275V11.8475C7.375 12.1927 7.65481 12.4725 8 12.4725C8.34519 12.4725 8.625 12.1927 8.625 11.8475V7.82275C8.625 7.47757 8.34519 7.19775 8 7.19775Z"
                          fill="inherit"
                        />
                        <path
                          d="M8 6.4325C8.46599 6.4325 8.84375 6.05474 8.84375 5.58875C8.84375 5.12275 8.46599 4.745 8 4.745C7.53401 4.745 7.15625 5.12275 7.15625 5.58875C7.15625 6.05474 7.53401 6.4325 8 6.4325Z"
                          fill="inherit"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_834_6647">
                          <rect
                            width="16"
                            height="16"
                            fill="red"
                            transform="translate(0 0.5)"
                          />
                        </clipPath>
                      </defs>
                    </svg>
                    <div class="tooltip">
                      <div class="text">
                        Vertagear Gaming Chair is supported with an industrial
                        grade class-4 gas lift, providing the extra
                        adjustability you need. Set the chair to your preferred
                        height, to keep you at an optimal level relative to your
                        setup to prevent sore shoulders.
                      </div>
                      <a class="main-btn" href="#">Learn More</a>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="data">Class4</div>
                </td>
                <td>
                  <div class="data">Class4</div>
                </td>
                <td>
                  <div class="data">Class4</div>
                </td>
                <td>
                  <div class="data">Class4</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="title" onclick="">Recommended Weight</div>
                </td>
                <td>
                  <div class="data">183cm / 5’10”</div>
                </td>
                <td>
                  <div class="data">183cm / 6’</div>
                </td>
                <td>
                  <div class="data">175cm-198cm / 5’9”-6’6”</div>
                </td>
                <td>
                  <div class="data">175cm-203cm / 5’9”-6’8”</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="title" onclick="">Recommended Height</div>
                </td>
                <td>
                  <div class="data">100kg / 220lb</div>
                </td>
                <td>
                  <div class="data">113kg / 250lb</div>
                </td>
                <td>
                  <div class="data">163kg / 360lb</div>
                </td>
                <td>
                  <div class="data">181kg / 400lb</div>
                </td>
              </tr>

              <tr>
                <td></td>
                <td>
                  <div class="">
                    <a class="main-btn shop-now-btn">Shop Now</a>
                  </div>
                </td>
                <td>
                  <div class="">
                    <a class="main-btn shop-now-btn">Shop Now</a>
                  </div>
                </td>
                <td>
                  <div class="">
                    <a class="main-btn shop-now-btn">Shop Now</a>
                  </div>
                </td>
                <td>
                  <div class="">
                    <a class="main-btn shop-now-btn">Shop Now</a>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <a class="up-btn display-desktop" href="#apfHero">
        <img src="{{ 'up.svg' | file_url }}" />
      </a>
    </div>

    <script src="{{ 'apf-modal.js' | asset_url }}"></script>