<section class="pl4500-wrapper__section pl4500-quality js-parallax-section">
  <div class="pl4500-quality__bg">
    <div class="pl4500-quality__bg-inner-box js-parallax-section__bg">
      <video src="{{ 'pl4500-video-3.mp4' | asset_url }}" autoplay muted defaultMuted playsinline loop
        class="pl4500-quality__bg-inner" preload="metadata"></video>
    </div>
  </div>
  <div class="pl4500-wrapper__section-inner">
    <div class="pl4500-wrapper__container">
      <div class="pl4500-quality__wrap">
        <div class="pl4500-quality__svg" data-scroll="fade-up" data-scroll-duration="600">
          <img src="{{'swsrovski-logo.svg'|asset_url}}"
            class="pl4500-quality__svg-img">
        </div>
        <div class="pl4500-wrapper__text">

          <h3 class="pl4500-wrapper__title" data-scroll="fade-up" data-scroll-duration="600">
            High Quality,<br>Precision Cuts.
          </h3>
          <p class="pl4500-wrapper__desc" data-scroll="fade-up" data-scroll-duration="600">
            Over a century ago, while electric light was just starting to circle the world, Swarovski was already
            capturing the natural magic of light. Superior brilliance, clarity, cut, and color. Swarovski's technology that is based on scientific principles, uses advanced optical measurements and high-precision cutting to deliver premium crystals with complex sophisticated surfaces.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pl4500-wrapper__section pl4500-hygenn js-parallax-section">
  <div class="pl4500-hygenn__bg">
    <div class="pl4500-hygenn__bg-inner-box js-parallax-section__bg">
      <video src="{{ 'pl4500-video-4.mp4' | asset_url }}" autoplay muted defaultMuted playsinline loop
        class="pl4500-hygenn__bg-inner" preload="metadata"></video>
    </div>
  </div>
  <div class="pl4500-wrapper__section-inner">

    <div class="pl4500-wrapper__container">
      <div class="pl4500-wrapper__text">

        <h3 class="pl4500-wrapper__title" data-scroll="fade-up" data-scroll-duration="600">
          HygennX<br>Technology
        </h3>
        <p class="pl4500-wrapper__desc" data-scroll="fade-up" data-scroll-duration="600">
          As the marriage of the Coffee Fiber Padding and Silver Lining Embroidery Vertagear fans love, HygennX was designed with a patented coffee infused fiber to limit odor and increase breathability, while maintaining bacteria control properties from the silver thread to prioritize cleanliness and comfort in the areas most sat on during long hours of intense gameplay.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="pl4500-wrapper__section pl4500-shape js-parallax-section">
  <div class="pl4500-shape__bg">
    <div class="pl4500-shape__bg-inner-box js-parallax-section__bg">
      <img src="{{ 'pl4500-bg-5.jpg' | asset_url }}" class="pl4500-shape__bg-inner -static">
      <img src="{{ 'pl4500-bg-5-chair.png' | asset_url }}" class="pl4500-shape__bg-inner">
      <div class="pl4500-shape__bg-circle-video">
        <video src="{{ 'pl4500-video-5.mp4' | asset_url }}" autoplay muted defaultMuted playsinline loop
          class="pl4500-shape__bg-circle-video-inner" preload="metadata"></video>
      </div>
    </div>
  </div>
  <div class="pl4500-wrapper__section-inner">
    <div class="pl4500-wrapper__container">
      <div class="pl4500-wrapper__text">

        <h3 class="pl4500-wrapper__title" data-scroll="fade-up" data-scroll-duration="600">
          Diamond Shape<br>Luxury Pattern
        </h3>
        <p class="pl4500-wrapper__desc" data-scroll="fade-up" data-scroll-duration="600">
          An unique diamond shape pattern embroidered on the chair that gives an elegant and luxurious look, yet it still gives the same comfort and support you can get from the experience of having a PL4500 gaming chair.
        </p>
      </div>
    </div>
  </div>
</section>