<link rel="stylesheet" href="{{ 'ld-rgb-v2-carousel-gallery.css' | asset_url }}">

<div class="rgb__carousel-gallery-container">
    <div class="rgb__carousel-gallery">
        <div class="swiper swipersnormal" id="swipercarouselgallery">
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide each">
                    <img src="{{ 'ld-rgb2-carousel-gallery-1.jpeg' | asset_url }}"
                        alt="grb gallery" />
                </div>
                <!-- Slides -->
                <div class="swiper-slide each">
                    <img src="{{ 'ld-rgb2-carousel-gallery-2.jpeg' | asset_url }}" alt="grb gallery" />
                </div>
                <!-- Slides -->
                <div class="swiper-slide each">
                    <img src="{{ 'ld-rgb2-carousel-gallery-3.jpeg' | asset_url }}" alt="grb gallery" />
                </div>
                <!-- Slides -->
                <div class="swiper-slide each">
                    <img src="{{ 'ld-rgb2-carousel-gallery-4.jpeg' | asset_url }}" alt="grb gallery" />
                </div>
            </div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev swipercarouselgallery-prev"></div>
            <div class="swiper-button-next swipercarouselgallery-next"></div>
        </div>
    </div>
</div>