<link rel="stylesheet" href="{{ 'ls.css' | asset_url }}" />
    <link rel="stylesheet" href="{{ 'hygenn-x.css' | asset_url }}" />
    <link rel="stylesheet" href="{{ 'flickity-v2.3.0.css' | asset_url }}" />

<div class="popup-wrapper" id="hygennPopupWrapper">
      <div
        class="popup-background"
        style="display: block"
        onclick="namCloseHygennPopup()"
      ></div>

      <div id="hygennX" class="popup">
        <div id="hygennPopHeader" class="pop-header">
          <div class="sticky">
            <div class="collapse">
              <div class="logo display-mobile">
                <img src="{{ 'pop-logo.svg' | file_url }}" />
              </div>
              <div class="title display-desktop">HygennX</div>
              <button class="close-btn" onclick="namCloseHygennPopup()">
                <img src="{{ 'pop-close.svg' | file_url }}" />
              </button>
            </div>

            <div class="full display-desktop">
              <div class="logo">
                <div class="signature">VERTAGER SIGNATURES</div>
                <div class="title">HygennX</div>
              </div>
              <div class="desc">
                HygennX, from Vertagear, uses patented coffee ground
                nanotechnology in breathable cloth to deliver natural odor
                control with quick-drying functionality and silver-coated
                embroidery to neutralize bacteria growth while prolonging the
                life of your chair and accessories.
              </div>
              <button class="close-btn" onclick="namCloseHygennPopup()">
                <img src="{{ 'pop-close.svg' | file_url }}" />
              </button>
            </div>
          </div>
        </div>

        <div class="hygenn-hero" id="hygennHero">
          <div class="text display-mobile">
            <div class="header">HygennX</div>
            <div class="desc">
              HygennX, from Vertagear, uses patented coffee ground
              nanotechnology in breathable cloth to deliver natural odor control
              with quick-drying functionality and silver-coated embroidery to
              neutralize bacteria growth while prolonging the life of your chair
              and accessories.
            </div>
          </div>
          <div class="video-wrapper">
            <video
              width="100%"
              id="hygennHeroVideo"
              autoplay
              muted
              loop
              preload
              playsinline
            >
              <source
                src="https://cdn.shopify.com/videos/c/o/v/253a6274127a4936aec138bfe157bd40.mp4"
                type="video/mp4"
              />
            </video>
            <img
              class="play-btn"
              id="hygennHeroVideoPlayBtn"
              style="display: none"
              src="{{ 'ls-play-video.svg' | file_url }}"
            />
          </div>
        </div>

        <div class="ls-signatures-wrapper">
          <div class="ls-signature">
            <div class="ls-signature-text">
              <div class="title">Why is it so important?</div>
              <div class="ls-hygenn-content desc display-mobile">
                Hours of gameplay generate heat build-up between your body,
                chair, headrest, and pillow. This can lead to unpleasant odors
                and create a breeding ground for bacteria; all of which can
                eﬀect your gaming environment, your health, and the life of your
                Vertagear products.
              </div>
              <div class="desc display-desktop">
                Hours of gameplay generate heat build-up between your body,
                chair, headrest, and pillow. This can lead to unpleasant odors
                and create a breeding ground for bacteria; all of which can
                eﬀect your gaming environment, your health, and the life of your
                Vertagear products.
              </div>
            </div>
            <div class="ls-signature__video-wrapper">
              <img
                src="{{ 'hygennx-1.jpg' | file_url }}"
                class="display-mobile image-cover"
              />
              <img
                src="{{ 'hygennx-1-desk.jpg' | file_url }}"
                class="display-desktop image-cover"
              />
            </div>
          </div>

          <div class="ls-signature">
            <div class="ls-signature-text">
              <div class="title">How it Works?</div>
              <div class="ls-hygenn-content desc display-mobile">
                <div class="see-more">
                  Vertagear HygennX features patented technologies that shield
                  your chair and accessories from odor, bacteria, and moisture
                  build-up ... <span>See more</span>
                </div>
                <div class="see-less" style="display: none">
                  Vertagear HygennX features patented technologies that shield
                  your chair and accessories from odor, bacteria, and moisture
                  build-up.<br /><br />
                  Nano-sized coﬀee granules within puriﬁed coﬀee grounds are
                  weaved into our HygennX ﬁbers and embedded into our HygennX
                  padding where they absorb and neutralize odors.<br /><br />
                  Silver-coated embroidery shields against bacteria and fungal
                  growth by delivering positive ions (Ag+) that attach and
                  neutralize the negative ions from bacteria.
                  <span>See less</span>
                </div>
              </div>
              <div class="desc display-desktop">
                Vertagear HygennX features patented technologies that shield
                your chair and accessories from odor, bacteria, and moisture
                build-up.<br /><br />
                Nano-sized coﬀee granules within puriﬁed coﬀee grounds are
                weaved into our HygennX ﬁbers and embedded into our HygennX
                padding where they absorb and neutralize odors.<br /><br />
                Silver-coated embroidery shields against bacteria and fungal
                growth by delivering positive ions (Ag+) that attach and
                neutralize the negative ions from bacteria.
              </div>
            </div>
            <div class="ls-signature__video-wrapper">
              <video class="ls-signature__video" muted loop preload playsinline>
                <source
                  src="{{ 'ld-hygennx-skype.mp4' | asset_url }}"
                  type="video/mp4"
                />
              </video>
              <img
                class="play-btn"
                src="{{ 'ls-play-video.svg' | file_url }}"
              />
            </div>
          </div>
        </div>

        <div class="hygenn-features">
          <div class="hygenn-features__slides">
            <div class="cell">
              <div class="cell-content">
                <img
                  src="{{ 'hygenn-feature-1.jpg' | file_url }}"
                  class="display-mobile"
                />
                <img
                  src="{{ 'hygenn-feature-desk-1.jpg' | file_url }}"
                  class="display-desktop"
                />
                <div class="text">
                  <div class="header">Odor-Control</div>
                  <div class="desc display-mobile">
                    Patented infusion technology traps odors in the natural
                    pores of the coffee grounds that are embedded in HygennX
                    fabric, without smelling like coffee.
                  </div>
                </div>
              </div>
            </div>
            <div class="cell">
              <div class="cell-content">
                <img
                  src="{{ 'hygenn-feature-2.jpg' | file_url }}"
                  class="display-mobile"
                />
                <img
                  src="{{ 'hygenn-feature-desk-2.jpg' | file_url }}"
                  class="display-desktop"
                />
                <div class="text">
                  <div class="header">Anti-Microbial</div>
                  <div class="desc display-mobile">
                    Silver coated embroidery defends against bacteria growth
                    (virus, bacteria, fungi) as the silver releases positive
                    ions (Ag+) which have been shown to disrupt the growth of
                    bacteria with its negatively charged ions.
                  </div>
                </div>
              </div>
            </div>
            <div class="cell">
              <div class="cell-content">
                <img
                  src="{{ 'hygenn-feature-3.jpg' | file_url }}"
                  class="display-mobile"
                />
                <img
                  src="{{ 'hygenn-feature-desk-3.jpg' | file_url }}"
                  class="display-desktop"
                />
                <div class="text">
                  <div class="header">Breathability</div>
                  <div class="desc display-mobile">
                    Coffee, a natural odor-absorbing material, is embedded in
                    the cloth of our HygenX chairs and headrests/pillows, to
                    provide better breathability and reduction of heat.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="hygenn-footer">
          <img
            src="{{ 'hygenn-footer.jpg' | file_url }}"
            class="display-mobile"
          />
          <img
            src="{{ 'hygenn-footer-desk.jpg' | file_url }}"
            class="display-desktop"
          />
          <div class="text">
            <div class="header">
              <img src="{{ 'hygenn-footer.svg' | file_url }}" />
              <div class="">
                <div class="header__title">Reusable in coffee bean</div>
                <div class="header__num">99.8%</div>
              </div>
            </div>
            <div class="title">Environmentally Friendly</div>
            <div class="desc">
              HygennX helps to reduce landfill waste by reclaiming used coffee
              grounds before being discarded by roasters and retailers. A cup of
              coffee only uses 0.2 percent of the coffee bean; HygennX
              repurposes the remaining 99.8 percent in the production of two
              HygennX gaming chairs or six HygennX headrests/pillows.
            </div>
          </div>
        </div>
      </div>

      <a class="up-btn display-desktop" href="#hygennHero">
        <img src="{{ 'up.svg' | file_url }}" />
      </a>
    </div>

    <script src="{{ 'flickity-v2.3.0.js' | asset_url }}"></script>
    <script src="{{ 'hygenn-x.js' | asset_url }}"></script>
    <script src="{{ 'hygenn-modal.js' | asset_url }}"></script>