<div class="ld-page">
        <div class="ld-hero">

            <div class="ld-hero__width">
                <div class="ld-hero__text">
<!--                     <p class="ld-hero__text__event">Private Sales</p> -->
                    <p class="ld-hero__text__slogan">PRIVATE SALES 2022</p>
                  <p class="ld-hero__text__desc"><b>"It's still a great choice</b> for gamers who put a premium on build
                        quality"
                        <br>
                    </p>
                    <div class="ld-hero__text__cta">
                        <a class="ld-hero__text__cta__btn" href="#collection-product">
                            <div class="ld-hero__text__cta__btn__title">SAVE UP TO $100</div>
                            <div class="ld-hero__text__cta__btn__interest">0% APR Interest</div>
                        </a>
<!--                       	<a class="ld-hero__text__cta__btn" href="#ldGiftCards">
                            <div class="ld-hero__text__cta__btn__title">HOLIDAY eGIFT CARD</div>
                            <div class="ld-hero__text__cta__btn__interest">10% off when purchase</div>
                        </a> -->
                    </div>
                  <i class="ld-hero__text__cta__text">Promotion ends on January 27th 2022</i>
                </div>

<!--                 <div class="ld-hero__am">
                  <a href="#ldReasonWhy" style="width: 100%" ><div class="ld-hero__am__imgs"></div></a>
                </div> -->
            </div>

            <div class="ld-hero__linear-gradient"></div>
        </div>

        <div class="ld-reason">
            <div class="ld-reason__width">

<!--                 <div class="ld-reason__gift">
                    <div class="ld-reason__gift__start">
                        <div class="ld-reason__gift__start__img-wrapper">
                            <img class="ld-reason__gift__start__img-wrapper__desktop-img" src="{{ 'ld-reason__gift__start__img-compressed.jpg' | asset_url }}" alt="Family">
                          	<img class="ld-reason__gift__start__img-wrapper__mobile-img" src="{{ 'ld-reason__gift__start__img-mobile-compressed.jpg' | asset_url }}" alt="Family">
                        </div>
                        <div class="ld-reason__gift__start__text">
                          <div class="ld-reason__gift__start__text__wrapper">
                            <div class="ld-reason__gift__start__text__header__strong">A Perfect Gift</div>
                            <div class="ld-reason__gift__start__text__header">For Your Loved Ones</div>
                            <div class="ld-reason__gift__start__text__desc">Give the Holiday Gifts of Love, Care,
                                Comfort, Premium Design, Personalization to your loved ones with VERTAGEAR's chairs.
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="ld-reason__gift__start__imgs">
                        <img src="{{ 'ld-reason__gift__start__imgs__1.jpg' | asset_url }}"
                            alt="ld-reason__gift__start__imgs__1" />
                        <img src="{{ 'ld-reason__gift__start__imgs__2.jpg' | asset_url }}"
                            alt="ld-reason__gift__start__imgs__2" />
                        <img src="{{ 'ld-reason__gift__start__imgs__3.jpg' | asset_url }}"
                            alt="ld-reason__gift__start__imgs__3" />
                        <img src="{{ 'ld-reason__gift__start__imgs__4.jpg' | asset_url }}"
                            alt="ld-reason__gift__start__imgs__4" />
                        <img src="{{ 'ld-reason__gift__start__imgs__5.jpg' | asset_url }}"
                            alt="ld-reason__gift__start__imgs__5" />
                    </div>
                </div> -->
              
<!--               <div class="ld-reason__why" id="ldGiftCards">
                    <div class="ld-reason__why__line">
                    </div>
                    <div class="ld-reason__why__header">
                        <p><span class="ld-reason__why__header__strong">eGift Card</span><br />
                            <span>For Your Loved Ones</span>
                        </p>
                    </div>
                    <div class="ld-giftcards-container">
                        <div class="ld-giftcards">
                            <div class="ld-giftcard">
                                <img src="{{ 'ld-giftcard-bg.jpg' | asset_url }}" />
                                <div class="ld-giftcard-text">
                                    <div class="ld-giftcard__title">
                                        eGIFT CARD
                                    </div>
                                    <div class="ld-giftcard__price">
                                        $50
                                    </div>
                                    <div class="ld-giftcard__action">
                                        <a href="/products/gift-cards?variant=40703210815599" >Shop now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="ld-giftcard">
                                <img src="{{ 'ld-giftcard-bg.jpg' | asset_url }}" />
                                <div class="ld-giftcard-text">
                                    <div class="ld-giftcard__title">
                                        eGIFT CARD
                                    </div>
                                    <div class="ld-giftcard__price">
                                        $100
                                    </div>
                                    <div class="ld-giftcard__action">
                                        <a href="/products/gift-cards?variant=40703210618991" >Shop now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="ld-giftcard">
                                <img src="{{ 'ld-giftcard-bg.jpg' | asset_url }}" />
                                <div class="ld-giftcard-text">
                                    <div class="ld-giftcard__title">
                                        eGIFT CARD
                                    </div>
                                    <div class="ld-giftcard__price">
                                        $200
                                    </div>
                                    <div class="ld-giftcard__action">
                                        <a href="/products/gift-cards?variant=40703211208815" >Shop now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="ld-giftcard">
                                <img src="{{ 'ld-giftcard-bg.jpg' | asset_url }}" />
                                <div class="ld-giftcard-text">
                                    <div class="ld-giftcard__title">
                                        eGIFT CARD
                                    </div>
                                    <div class="ld-giftcard__price">
                                        $300
                                    </div>
                                    <div class="ld-giftcard__action">
                                        <a href="/products/gift-cards?variant=40703210651759" >Shop now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="ld-giftcard">
                                <img src="{{ 'ld-giftcard-bg.jpg' | asset_url }}" />
                                <div class="ld-giftcard-text">
                                    <div class="ld-giftcard__title">
                                        eGIFT CARD
                                    </div>
                                    <div class="ld-giftcard__price">
                                        $400
                                    </div>
                                    <div class="ld-giftcard__action">
                                        <a href="/products/gift-cards?variant=40703210684527" >Shop now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="ld-giftcard">
                                <img src="{{ 'ld-giftcard-bg.jpg' | asset_url }}" />
                                <div class="ld-giftcard-text">
                                    <div class="ld-giftcard__title">
                                        eGIFT CARD
                                    </div>
                                    <div class="ld-giftcard__price">
                                        $500
                                    </div>
                                    <div class="ld-giftcard__action">
                                        <a href="/products/gift-cards?variant=40703210717295" >Shop now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% include 'gift-card-how' %}
                </div> -->

                <div class="ld-reason__why" id="ldReasonWhy">
                    <div class="ld-reason__why__line">
                    </div>
                    <div class="ld-reason__why__header">
                        <p>WHY <span class="ld-reason__why__header__strong">VERTAGEAR CHAIR?</span>
                        </p>
                    </div>

                    <div class="ld-reason__why__videos">
                        <div class="ld-reason__why__videos__item">
                            <img src="{{ 'ld-reason__why__videos__1-thumbnail-compressed.jpg' | asset_url }}"
                                alt="ld-reason__why__videos__1-thumbnail" />
                            <div>
                                <h3>RGB LED KITS</h3>
                                <p>The RGB LED Upgrade kit allows you to mix and match your beloved gaming chair to your
                                    setup in color, or in experience. RGB LED Top Kit and Bottom Kits are available for
                                    our PL4500 and SL5000 models.</p>
                            </div>
                        </div>
                        <div class="ld-reason__why__videos__item">
                            <img src="{{ 'ld-reason__why__videos__2-thumbnail-compressed.jpg' | asset_url }}"
                                alt="ld-reason__why__videos__2-thumbnail" />
                            <div>
                                <h3>HygennX</h3>
                                <p>HygennX uses patented coffee ground nanotechnology to deliver natural odor control
                                    with quick-drying functionality and silver-coated embroidery to neutralize bacteria
                                    growth.</p>
                            </div>
                        </div>
                        <div class="ld-reason__why__videos__item">
                            <img src="{{ 'ld-reason__why__videos__3-thumbnail-compressed.jpg' | asset_url }}"
                                alt="ld-reason__why__videos__3-thumbnail" />
                            <div>
                                <h3>Effortless Assembly</h3>
                                <p>Our patented “Slide-in” hardware allows for a quick and easy one-person assembly.
                                    Removing any alignment and hardware complexities for a hassle-free, one-person
                                    process.</p>
                            </div>
                        </div>
                        <div class="ld-reason__why__videos__item">
                            <img src="{{ 'ld-reason__why__videos__4-thumbnail-compressed.jpg' | asset_url }}"
                                alt="ld-reason__why__videos__4-thumbnail" />
                            <div>
                                <h3>PUC Synthetic Faux Leather</h3>
                                <p>PUC combines the best attributes of PVC and PU leather into one. It retains the
                                    durability of PVC for everyday use while maintaining the softness of PU for a
                                    low-maintenance solution without sacrificing comfort.</p>
                            </div>
                        </div>
                    </div>

                    <div class="ld-reason__why__slideshow-container">

                        <div class="ld-reason__why__slide ld-reason__why__fade">
                            <img src="{{ 'ld-reason__why__videos__1-thumbnail-compressed.jpg' | asset_url }}" style="width:100%">
                            <div class="ld-reason__why__slide__text">
                                <h3>RGB LED KITS</h3>
                                <p>The RGB LED Upgrade kit allows you to mix and match your beloved gaming chair to your
                                    setup in color, or in experience. RGB LED Top Kit and Bottom Kits are available for
                                    our PL4500 and SL5000 models.</p>
                            </div>
                        </div>

                        <div class="ld-reason__why__slide ld-reason__why__fade">
                            <img src="{{ 'ld-reason__why__videos__2-thumbnail-compressed.jpg' | asset_url }}" style="width:100%">
                            <div class="ld-reason__why__slide__text">
                                <h3>HygennX</h3>
                                <p>HygennX uses patented coffee ground nanotechnology to deliver natural odor control
                                    with quick-drying functionality and silver-coated embroidery to neutralize bacteria
                                    growth.</p>
                            </div>
                        </div>

                        <div class="ld-reason__why__slide ld-reason__why__fade">
                            <img src="{{ 'ld-reason__why__videos__3-thumbnail-compressed.jpg' | asset_url }}" style="width:100%">
                            <div class="ld-reason__why__slide__text">
                                <h3>Effortless Assembly</h3>
                                <p>Our patented “Slide-in” hardware allows for a quick and easy one-person assembly.
                                    Removing any alignment and hardware complexities for a hassle-free, one-person
                                    process.</p>
                            </div>
                        </div>

                        <div class="ld-reason__why__slide ld-reason__why__fade">
                            <img src="{{ 'ld-reason__why__videos__4-thumbnail-compressed.jpg' | asset_url }}" style="width:100%">
                            <div class="ld-reason__why__slide__text">
                                <h3>PUC Synthetic Faux Leather</h3>
                                <p>PUC combines the best attributes of PVC and PU leather into one. It retains the
                                    durability of PVC for everyday use while maintaining the softness of PU for a
                                    low-maintenance solution without sacrificing comfort.</p>
                            </div>
                        </div>
                        <div style="text-align:center">
                            <span class="ld-reason__why__slide__control" ></span>
                            <span class="ld-reason__why__slide__control" ></span>
                            <span class="ld-reason__why__slide__control" ></span>
                            <span class="ld-reason__why__slide__control" ></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="ld-reason__rgb"></div>
        </div>

<!--         <div class="ld-bnpl">
            <div class="ld-bnpl__img-wrapper-mobile">
                <img src="{{ 'ld-buy-now-pay-later-mobile-compressed.jpg' | asset_url }}" alt="Buy Now Pay Later">
            </div>
            <div class="ld-bnpl__img-wrapper-desktop">
                <img src="{{ 'ld-buy-now-pay-later-desktop-compressed.jpg' | asset_url }}" alt="Buy Now Pay Later">
            </div>
        </div> -->
    </div>
