<div class="ld-page">
  <div class="ld-reason">
    <div class="ld-reason__width">
    </div>

    <div class="ld-reason__why" id="ldReasonWhy">
      <div class="ld-reason__why__line">
      </div>
      <div class="ld-reason__why__header">
        <p>Vertagear Signatures</p>
      </div>

      <div class="ld-reason__why__videos ld-max-width">
        <div class="ld-reason__why__videos__item ">
          <div class="ld-reason__why__videos__item__video-wrapper">
            <video id="ldVideo4" width="320" height="180" poster="{{ 'lumbar-poster.jpeg' | asset_url }}">
              <source src="https://cdn.shopify.com/videos/c/o/v/0318db31ffd043e496a6f62810977d81.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <img id="ldVideoPlayBtn2" src="{{ 'video-play-btn.svg' | asset_url }}" alt="video play btn" />
          </div>
          <div class="ld-reason__why__videos__item__text">
            <div class="ld-reason__why__videos__item__text__header">ContourMax™ Lumbar</div>
            <div class="ld-reason__why__videos__item__text__desc">The ContourMax™ Lumbar is Vertagear’s groundbreaking new lumbar support that alleviates tension throughout your body by contouring itself to your back’s shape and movement, keeping you in a healthy posture for gaming, studying, or work from home.</div>
          </div>
        </div>

        <div class="ld-reason__why__videos__item ld-order-opposite ld-max-width">
          <div class="ld-reason__why__videos__item__video-wrapper">
            <video id="ldVideo5" width="320" height="180" poster="{{ 'seat-poster.jpeg' | asset_url }}">
              <source src="https://cdn.shopify.com/videos/c/o/v/113b50eb6d0f4d11a76831a6b0a16ff4.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <img id="ldVideoPlayBtn3" src="{{ 'video-play-btn.svg' | asset_url }}" alt="video play btn" />
          </div>
          <div class="ld-reason__why__videos__item__text">
            <div class="ld-reason__why__videos__item__text__header">VertaAir™️ Seat</div>
            <div class="ld-reason__why__videos__item__text__desc">The VertaAir™ seat boasts features that improve support, comfort, and relief from chronic back pain. The seat is embedded with eight hexagonal air pillars, inspired by Bernoulli’s Principle, all designed with smaller air intake tunnels and 4-way air emission tunnels to provide pressure relief for your bones and superior back support.</div>
          </div>
        </div>
        
      </div>
      
        <div class="ld-reason__why__videos__item ld-max-width">
          <div class="ld-reason__why__videos__item__video-wrapper">
            <video id="ldVideo1" width="320" height="180" poster="{{ 'ld-rgb-thumbnail.jpg' | asset_url }}">
              <source src="{{ 'ld-rgb-v2.mp4' | asset_url }}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <img id="ldVideoPlayBtn1" src="{{ 'video-play-btn.svg' | asset_url }}" alt="video play btn" />
          </div>
          <div class="ld-reason__why__videos__item__text">
            <div class="ld-reason__why__videos__item__text__header">RGB LED Kits</div>
            <div class="ld-reason__why__videos__item__text__desc">The RGB LED Upgrade kit allows you to mix and match your beloved gaming chair to your
              setup in color, or in experience. RGB LED Top Kit and Bottom Kits are available for
              our PL4500 and SL5000 models.</div>
          </div>
        </div>
        
        <div class="ld-reason__why__videos__item ld-order-opposite ld-max-width">
          <div class="ld-reason__why__videos__item__video-wrapper">
            <video id="ldVideo2" width="320" height="180" poster="{{ 'ld-hygenn-thumbnail.jpg' | asset_url }}">
              <source src="{{ 'ld-hygennx-skype.mp4' | asset_url }}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <img id="ldVideoPlayBtn2" src="{{ 'video-play-btn.svg' | asset_url }}" alt="video play btn" />
          </div>
          <div class="ld-reason__why__videos__item__text">
            <div class="ld-reason__why__videos__item__text__header">HygennX</div>
            <div class="ld-reason__why__videos__item__text__desc">HygennX uses patented coffee ground nanotechnology to deliver natural odor control
              with quick-drying functionality and silver-coated embroidery to neutralize bacteria
              growth.</div>
          </div>
        </div>
        
        <div class="ld-reason__why__videos__item ld-max-width">
          <div class="ld-reason__why__videos__item__video-wrapper">
            <video id="ldVideo3" width="320" height="180" poster="{{ 'ld-puc-thumbnail.jpg' | asset_url }}">
              <source src="{{ 'ld-puc.mp4' | asset_url }}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <img id="ldVideoPlayBtn3" src="{{ 'video-play-btn.svg' | asset_url }}" alt="video play btn" />
          </div>
          <div class="ld-reason__why__videos__item__text">
            <div class="ld-reason__why__videos__item__text__header">Diamond Shape Luxury Pattern</div>
            <div class="ld-reason__why__videos__item__text__desc">An unique diamond shape pattern embroidered on the chair that gives an elegant and luxurious look, yet it still gives the same comfort and support you can get from the experience of having a PL4500 Swarovski gaming chair.</div>
          </div>
        </div>

        
    </div>
    <div class="ld-reason__rgb"></div>
  </div>
</div>

<script src="{{ 'landing-promotion-videos.js' | asset_url }}" type="text/javascript" async defer></script>