<div class="ld-page">
  <div class="ld-reason">
    <div class="ld-reason__width">
    </div>

    <div class="ld-reason__why" id="ldReasonWhy">
      <div class="ld-reason__why__line">
      </div>
      <div class="ld-reason__why__header">
        <p>WHY <span class="ld-reason__why__header__strong">VERTAGEAR CHAIR?</span>
        </p>
      </div>

      <div class="ld-reason__why__videos ld-max-width">
        <div class="ld-reason__why__videos__item">
          <div class="ld-reason__why__videos__item__video-wrapper">
            <video id="ldVideo1" width="320" height="180" poster="{{ 'ld-rgb-thumbnail.jpg' | asset_url }}">
              <source src="{{ 'ld-rgb-v2.mp4' | asset_url }}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <img id="ldVideoPlayBtn1" src="{{ 'video-play-btn.svg' | asset_url }}" alt="video play btn" />
          </div>
          <div class="ld-reason__why__videos__item__text">
            <div class="ld-reason__why__videos__item__text__header">RGB LED KITS</div>
            <div class="ld-reason__why__videos__item__text__desc">The RGB LED Upgrade kit allows you to mix and match your beloved gaming chair to your
              setup in color, or in experience. RGB LED Top Kit and Bottom Kits are available for
              our PL4500 and SL5000 models.</div>
          </div>
        </div>
        <div class="ld-reason__why__videos__item ld-order-opposite">
          <div class="ld-reason__why__videos__item__video-wrapper">
            <video id="ldVideo2" width="320" height="180" poster="{{ 'ld-hygenn-thumbnail.jpg' | asset_url }}">
              <source src="{{ 'ld-hygennx-skype.mp4' | asset_url }}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <img id="ldVideoPlayBtn2" src="{{ 'video-play-btn.svg' | asset_url }}" alt="video play btn" />
          </div>
          <div class="ld-reason__why__videos__item__text">
            <div class="ld-reason__why__videos__item__text__header">HygennX</div>
            <div class="ld-reason__why__videos__item__text__desc">HygennX uses patented coffee ground nanotechnology to deliver natural odor control
              with quick-drying functionality and silver-coated embroidery to neutralize bacteria
              growth.</div>
          </div>
        </div>
        <div class="ld-reason__why__videos__item">
          <div class="ld-reason__why__videos__item__video-wrapper">
            <video id="ldVideo3" width="320" height="180" poster="{{ 'ld-puc-thumbnail.jpg' | asset_url }}">
              <source src="{{ 'ld-puc.mp4' | asset_url }}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <img id="ldVideoPlayBtn3" src="{{ 'video-play-btn.svg' | asset_url }}" alt="video play btn" />
          </div>
          <div class="ld-reason__why__videos__item__text">
            <div class="ld-reason__why__videos__item__text__header">Diamond Shape Luxury Pattern</div>
            <div class="ld-reason__why__videos__item__text__desc">An unique diamond shape pattern embroidered on the chair that gives an elegant and luxurious look, yet it still gives the same comfort and support you can get from the experience of having a PL4500 Swarovski gaming chair.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="ld-reason__rgb"></div>
  </div>
</div>

