<link rel="stylesheet" href="{{ 'ld-rgb-v2-review.css' | asset_url }}">

<div class="rgb__review">
      <div class="rgb_review_container">
        <div class="each">
          <div class="logo">
            <img src="{{ 'ld-rgb-review1.png' | asset_url }}" alt="review logo" />
          </div>
          <div class="text">
            “Take your stream or content creation to the next level. “
          </div>
          <a href="https://9to5toys.com/2020/12/29/vertagear-sl5000-rgb-kit-review" target="_blank" class="read-more">READ MORE</a>
        </div>
        <div class="each">
          <div class="logo">
            <img src="{{ 'ld-rgb2-review-2.png' | asset_url }}" alt="review logo" />
          </div>
          <div class="text">
            “It’s the perfect way to top of your streaming setup”
          </div>
          <a href="https://www.forbes.com/sites/forbes-personal-shopper/2021/03/31/best-gaming-chairs/?sh=757205311652" target="_blank" class="read-more">READ MORE</a>
        </div>
        <div class="each">
          <div class="logo">
            <img src="{{ 'ld-rgb2-review-3.png' | asset_url }}" alt="review logo" />
          </div>
          <div class="text">
            “It’s so incredibly cool to play something with the lights off and
            see LEDs casting a dynamic glow all around the room”
          </div>
          <a href="https://knowtechie.com/review-vertagear-pl4500-gaming-chair-an-ass-pleasing-wonder/" target="_blank" class="read-more">READ MORE</a>
        </div>
      </div>
    </div>

<script src="{{ 'ld-rgb-v2-review.js' | asset_url }}" async defer></script>