<div id="ldRgbLightLogo" class="light-logo">
      <div class="light-logo__header">
        <div class="light-logo__header__first">
         Vertagear Signature
        </div>
        <div class="ld-rgb-title">
          Light Up
          <span>
            Your Logo
          </span>
        </div>
        <div class="light-logo__header__third">You can select a logo what you like to light up</div>
      </div>
      <div class="light-logo__img-wrapper">
        <img id="lightLogoImg" src="{{ 'ld-rgb-light-up-desk-1.jpeg' | asset_url }}" alt="light up" />
      	<div class="light-logo__selection">
          <div class="light-logo__selection__btns">
            <img class="light-logo__selection__btns__img" src="{{ 'ld-rgb-light-up-icon-active-1.svg' | asset_url }}"
                 alt="light-logo-btn" />
            <img class="light-logo__selection__btns__img" src="{{ 'ld-rgb-light-up-icon-2.svg' | asset_url }}"
                 alt="light-logo-btn" />
            <img class="light-logo__selection__btns__img" src="{{ 'ld-rgb-light-up-icon-3.svg' | asset_url }}"
                 alt="light-logo-btn" />
            <img class="light-logo__selection__btns__img" src="{{ 'ld-rgb-light-up-icon-4.svg' | asset_url }}"
                 alt="light-logo-btn" />
            <img class="light-logo__selection__btns__img" src="{{ 'ld-rgb-light-up-icon-5.svg' | asset_url }}"
                 alt="light-logo-btn" />
          </div>
        </div>
      </div>
      
      <a class="light-logo__btn" href="https://www.vertagear.com/apps/zakeke?pid=4635601240175&locale=en" target="_blank">
        Customize your logo with<br class="display-on-mobile" />
        <span class="ld-rgb-bold">Vertagear Signature</span>
      </a>
    </div>