  <link rel="stylesheet" href="{{ 'ls.css' | asset_url }}" />

<div class="popup-wrapper" id="lumbarPopupWrapper">
      <div
        class="popup-background"
        style="display: block"
        onclick="namCloseLumbarPopup()"
      ></div>

      <div id="lsLumbar" class="popup">
        <div id="lsLumbarPopHeader" class="pop-header">
          <div class="sticky">
            <div class="collapse">
              <div class="logo display-mobile">
                <img src="{{ 'pop-logo.svg' | file_url }}" />
              </div>
              <div class="title display-desktop">ContourMax® Lumbar</div>
              <button class="close-btn" onclick="namCloseLumbarPopup()">
                <img src="{{ 'pop-close.svg' | file_url }}" />
              </button>
            </div>

            <div class="full display-desktop">
              <div class="logo">
                <div class="signature">VERTAGER SIGNATURES</div>
                <div class="title">ContourMax® Lumbar</div>
              </div>
              <div class="desc">
                In a natural setting, sitting for prolonged periods would
                normally cause inevitable back pain for any person. However,
                through our breakthrough research of ergonomics, we’ve
                engineered a new chair design that absolves all aches.<br /><br />
                Our patent pending ContourMax Lumbar features a layer of memory
                foam that adjusts specifically to the curves and angles of any
                individual’s body. Four highly durable Thermoplastic Elastomer
                (TPE) modules, consisting of 64 individual responsive branches,
                lay beneath the foam and shift themselves according to the shape
                and movement of the sitter’s back, maintaining a healthy posture
                at all times.
              </div>
              <button class="close-btn" onclick="namCloseLumbarPopup()">
                <img src="{{ 'pop-close.svg' | file_url }}" />
              </button>
            </div>
          </div>
        </div>

        <div class="ls-hero" id="lsLumbarHero">
          <div class="ls-hero__text">
            <div class="title display-mobile">ContourMax® Lumbar</div>
            <div class="ls-lumbar-content desc display-mobile">
              <div class="see-more">
                In a natural setting, sitting for prolonged periods would
                normally cause inevitable back pain for any person. However,
                through our breakthrough research of ergonomics, we’ve
                engineered a new chair design that absolves all aches.
                <span>See more</span>
              </div>
              <div class="see-less" style="display: none">
                In a natural setting, sitting for prolonged periods would
                normally cause inevitable back pain for any person. However,
                through our breakthrough research of ergonomics, we’ve
                engineered a new chair design that absolves all aches.
                <br /><br />
                Our patent pending ContourMax Lumbar features a layer of memory
                foam that adjusts specifically to the curves and angles of any
                individual’s body. Four highly durable Thermoplastic Elastomer
                (TPE) modules, consisting of 64 individual responsive branches,
                lay beneath the foam and shift themselves according to the shape
                and movement of the sitter’s back, maintaining a healthy posture
                at all times. <span>See less</span>
              </div>
            </div>
          </div>
          <div class="video-wrapper">
            <video
              width="100%"
              id="lumbarHeroVideo"
              autoplay
              muted
              loop
              preload
              playsinline
              class="display-desktop"
            >
              <source
                src="https://cdn.shopify.com/videos/c/o/v/b612f3613c7441048fafc2b67acb9b83.mp4"
                type="video/mp4"
              />
            </video>
            <video
              width="100%"
              id="lumbarHeroVideoMobile"
              autoplay
              muted
              loop
              preload
              playsinline
              class="display-mobile"
            >
              <source
                src="https://cdn.shopify.com/videos/c/o/v/6592cdb05e8c4cb49ea367f2beea1073.mp4"
                type="video/mp4"
              />
            </video>
            <img
              class="play-btn"
              id="lumbarHeroVideoPlayBtn"
              style="display: none"
              src="{{ 'ls-play-video.svg' | file_url }}"
            />
          </div>
        </div>

        <div class="ls-signatures-wrapper">
          <div class="ls-signature">
            <div class="ls-signature-text">
              <div class="header">VERTAGER SIGNATURES</div>
              <div class="title">Proper Posture for a Healthy Back</div>
              <div class="ls-lumbar-content desc display-mobile">
                <div class="see-more">
                  What if you could prevent back pain before it comes an issue?
                  We’re revolutionizing the flat design of the prototypical
                  lumbar and turning it into a... <span>See more</span>
                </div>
                <div class="see-less" style="display: none">
                  What if you could prevent back pain before it comes an issue?
                  We’re revolutionizing the flat design of the prototypical
                  lumbar and turning it into a contoured innovation. Our
                  ContourMax Lumbar hosts two levels of modules, with the top
                  level positioned towards your midback and the bottom level
                  aligned with your lower back to fully support your backbone.
                  <br /><br />
                  The ContourMax alleviates tension throughout by adapting to
                  your body’s shape and movement, keeping your back in a healthy
                  posture no matter how long you sit or jitter around.
                  <br /><br />
                  Prevention is better than treatment. <span>See less</span>
                </div>
              </div>
              <div class="desc display-desktop">
                What if you could prevent back pain before it comes an issue?
                We’re revolutionizing the flat design of the prototypical lumbar
                and turning it into a contoured innovation. Our ContourMax
                Lumbar hosts two levels of modules, with the top level
                positioned towards your midback and the bottom level aligned
                with your lower back to fully support your backbone.
                <br /><br />
                The ContourMax alleviates tension throughout by adapting to your
                body’s shape and movement, keeping your back in a healthy
                posture no matter how long you sit or jitter around.
                <br /><br />
                Prevention is better than treatment.
              </div>
            </div>
            <div class="ls-signature__video-wrapper">
              <video
                class="ls-signature__video display-desktop"
                muted
                loop
                preload
                playsinline
              >
                <source
                  src="https://cdn.shopify.com/videos/c/o/v/41bf300eabb448f2a83b115d35d5f6b2.mp4"
                  type="video/mp4"
                />
              </video>
              <video
                class="ls-signature__video display-mobile"
                muted
                loop
                preload
                playsinline
              >
                <source
                  src="https://cdn.shopify.com/videos/c/o/v/d451f3d4f5a04ae7b28cfd474d59ae9b.mp4"
                  type="video/mp4"
                />
              </video>
              <img
                class="play-btn"
                src="{{ 'ls-play-video.svg' | file_url }}"
              />
            </div>
          </div>

          <div class="ls-signature">
            <div class="ls-signature-text">
              <div class="header">VERTAGER SIGNATURES</div>
              <div class="title">Dynamic Lumbar and Middle Back Support</div>
              <div class="ls-lumbar-content desc display-mobile">
                <div class="see-more">
                  Sitting still for extended periods can cause muscle pains in
                  your back and chest. The four TPE modules of the ContourMax
                  Lumbar and their 64 respon... <span>See more</span>
                </div>
                <div class="see-less" style="display: none">
                  Sitting still for extended periods can cause muscle pains in
                  your back and chest. The four TPE modules of the ContourMax
                  Lumbar and their 64 responsive branches relax your muscles,
                  allowing better blood circulation in your body to prevent
                  fatal back and heart diseases.
                  <br /><br />
                  In addition, the ContourMax Lumbar is instinctively flexible,
                  cuing your body to shift to different positions to retain
                  ergonomic comfort when sitting for prolonged hours.
                  <br /><br />
                  Game healthier and harder. <span>See less</span>
                </div>
              </div>
              <div class="desc display-desktop">
                Sitting still for extended periods can cause muscle pains in
                your back and chest. The four TPE modules of the ContourMax
                Lumbar and their 64 responsive branches relax your muscles,
                allowing better blood circulation in your body to prevent fatal
                back and heart diseases.
                <br /><br />
                In addition, the ContourMax Lumbar is instinctively flexible,
                cuing your body to shift to different positions to retain
                ergonomic comfort when sitting for prolonged hours. <br /><br />
                Game healthier and harder.
              </div>
            </div>
            <div class="ls-signature__video-wrapper">
              <video class="ls-signature__video" muted loop preload playsinline>
                <source
                  src="https://cdn.shopify.com/videos/c/o/v/4b8d53d41e784e4ba1ed9b9770faf219.mp4"
                  type="video/mp4"
                />
              </video>
              <img
                class="play-btn"
                src="{{ 'ls-play-video.svg' | file_url }}"
              />
            </div>
          </div>

        </div>

        <div class="ls-footer">
          <img
            class="display-desktop"
            src="{{ 'ls-lumbar-footer-desk.jpg' | file_url }}"
          />
          <img
            class="display-mobile"
            src="{{ 'ls-lumbar-footer-mob.jpg' | file_url }}"
          />
          <div class="ls-footer__text">
            <div class="header">VertaAir Seat</div>
            <div class="desc">
              If you're struggling with tightness and discomfort from the
              traditional gaming chair, we understand your pain. Our patent
              pending VertaAir Seat is a fresh concept that solves the primary
              issues plaguing traditional chairs.
            </div>
            <a class="action main-btn" onclick="namCloseLumbarPopup(); namOpenSeatPopup();"
              >Learn More
              <img
                class="display-desktop"
                src="{{ 'right-arrow.svg' | file_url }}"
            /></a>
          </div>
        </div>
      </div>

      <a class="up-btn display-desktop" href="#lsLumbarHero">
        <img src="{{ 'up.svg' | file_url }}" />
      </a>
    </div>

    <script src="{{ 'lumbar.js' | asset_url }}"></script>
    <script src="{{ 'lumbar-modal.js' | asset_url }}"></script>