{% assign file_extension = 'jpg' %}


{% assign found_option = false %}
{% assign is_color = false %}
{% assign option_index = 0 %}
{% for option in product.options %}
  {% if option == swatch %}
    {% assign found_option = true %}
    {% assign option_index = forloop.index0 %}
    {% assign downcased_option = swatch | downcase %}
    {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
      {% assign is_color = true %}
    {% endif %}
  {% endif %}
{% endfor %}
{% if found_option %}
	{% if thumb %}
		{% assign image = product.featured_image.src | img_url: '500x' %}
		{% assign values = '' %}
		<transition name="fade" mode="out-in">
		{% for variant in product.variants %}
			{% assign value = variant.options[option_index] %}
			    {% unless values contains value %}
                    {% assign values = values | join: ',' %}
                    {% assign values = values | append: ',' | append: value %} 
                    {% assign values = values | split: ',' %}

                   {% if product.title == "PL4800" %}
                       <a v-if="current === {{forloop.index0}}" key="img-{{forloop.index0}}" class="collection-product__card-thumb-link" href="{{product.url}}" testx="test">
              			<img :src="current === {{forloop.index0}} ? '{{product.variants[2].featured_media  | img_url : '500x' }} ' : '' " alt="{{product.title}}" class="collection-product__card-thumb-img" loading="lazy">
                       </a>
                    {% endif %}
        
                   {% if product.title == "PL6800" %}
                       <a v-if="current === {{forloop.index0}}" key="img-{{forloop.index0}}" class="collection-product__card-thumb-link" href="{{product.url}}" testx="test">
              			<img :src="current === {{forloop.index0}} ? '{{product.variants[1].featured_media  | img_url : '500x' }} ' : '' " alt="{{product.title}}" class="collection-product__card-thumb-img" loading="lazy">
                       </a>
                    {% endif %}
        
                   {% if product.title == "SL3800" %}
                       <a v-if="current === {{forloop.index0}}" key="img-{{forloop.index0}}" class="collection-product__card-thumb-link" href="{{product.url}}" testx="test">
              			<img :src="current === {{forloop.index0}} ? '{{product.variants[0].featured_media  | img_url : '500x' }} ' : '' " alt="{{product.title}}" class="collection-product__card-thumb-img" loading="lazy">
                       </a>
                    {% endif %}
                  
          			<a v-if="current === {{forloop.index0}}" key="img-{{forloop.index0}}" class="collection-product__card-thumb-link" href="{{product.url}}" testx="test">
						<img :src="current === {{forloop.index0}} ? '{{variant.featured_media  | img_url : '500x' }}' : '' " alt="{{product.title}}" class="collection-product__card-thumb-img" loading="lazy">
                    </a>
               {% endunless %}
		{% endfor %}
		</transition>
	{% else %}
        <div class="swatch-color clearfix">
          {% assign values = '' %}
          {% for variant in product.variants %}
              {% assign value = variant.options[option_index] %}
              {% unless values contains value %}
                  {% assign values = values | join: ',' %}
                  {% assign values = values | append: ',' | append: value %} 
                  {% assign values = values | split: ',' %}
                      <div style="float:left" class="swatch-color__element {% if is_color %}color {% endif %}{{ value | handle }} {% if variant.available %}available{% else %}soldout{% endif %}" :class="{'-active' : current === {{ forloop.index0 }} }" @click="change({{forloop.index0}},{{variant.id}})">
                         <label class="swatch-color__label" style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ product.title | append: "-" | append: value | handle | append: '.' | append: file_extension | asset_img_url }}); background-size: cover;">
                           <span class="visually-hidden">{{ value }}</span>
                         </label>
                      </div>
              {% endunless %}

          {% endfor %}
        </div>
        <div class="collection-product__card-colors-current" aria-hidden="true">

          {% assign values = '' %}
          {% for variant in product.variants %}
              {% assign value = variant.options[option_index] %}
               {% unless values contains value %}
                    {% assign values = values | join: ',' %}
                    {% assign values = values | append: ',' | append: value %} 
                    {% assign values = values | split: ',' %}
                    <div v-if="current === {{ forloop.index0 }}">{{ value }}</div>
               {% endunless %}
          {% endfor %}
        </div>
	{% endif %}

{% endif %}






{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% unless found_option %}
<div class="swatch error">
  <p>You included the snippet swatch.liquid with the name of a product option — <code>'{{ swatch }}'</code> — that does not belong to your product.</p>
  <p>Use <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
  <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
  <p><strong>This is case-sensitive!</strong> Do not put in <code>'color'</code> if your product option name is <code>'Color'</code>.</p>
</div>
{% else %}
<div class="swatch clearfix" data-option-index="{{ option_index }}">
  <!--<div class="header">{{ swatch }}</div>-->
  {% assign values = '' %}
  {% for variant in product.variants %}
    {% assign value = variant.options[option_index] %}
    {% unless values contains value %}
      {% assign values = values | join: ',' %}
      {% assign values = values | append: ',' | append: value %} 
      {% assign values = values | split: ',' %}
      <div data-value="{{ value | escape }}" data-id="{{ variant.id }}" class="swatch-element {% if is_color %}color {% endif %}{{ value | handle }} {% if variant.available %}available{% else %}soldout{% endif %}">
        {% if is_color %}
        <!--<div class="tooltip">{{ value }}</div>-->
        {% endif %}
        <input id="swatch-{{ option_index }}-{{ value | handle }}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} {% unless variant.available %}disabled{% endunless %} />
        {% if is_color %}
        <label for="swatch-{{ option_index }}-{{ value | handle }}" data-product="{{ product.title }}" style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ product.title | append: "-" | append: value | handle | append: '.' | append: file_extension | asset_url }}); background-size: cover;">
          <span class="visually-hidden">{{ value }}</span>
        </label>
        {% else %}
        <label for="swatch-{{ option_index }}-{{ value | handle }}">
          {{ value }}
          <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" alt="Sold Out" />
        </label>
        {% endif %}
      </div>
    {% endunless %}
    {% if variant.available %}
    <script>
      jQuery('.swatch[data-option-index="{{ option_index }}"] .{{ value | handle }}').removeClass('soldout').addClass('available').find(':radio').removeAttr('disabled');
    </script>
    {% endif %}
  {% endfor %}
</div>

{% endunless %}
{% endcomment %}

