<div class="product-comparison-chart-section__chart-product-content -title">
        {{ title }}
</div>
<div class="product-comparison-chart-section__chart-product-img">
    <div class="product-comparison-chart-section__chart-product-img-inner">
        <img src='{{ thumb }}' loading="lazy" alt="{{ data.title}}">
    </div>
</div>
<div class="product-comparison-chart-section__chart-product-content -padding-top"></div>
<div class="product-comparison-chart-section__chart-product-content">
        {% if isrgb == 1%}Yes{% else %}No{% endif%}
</div>
<div class="product-comparison-chart-section__chart-product-content">
        {{ hygennx }}
</div>
<div class="product-comparison-chart-section__chart-product-content">
        {{ heavy_duty_base }}
</div>
<div class="product-comparison-chart-section__chart-product-content">
        {{ puc }}
</div>
<div class="product-comparison-chart-section__chart-product-content">
        {{ effortless_assembly }}
</div>
<div class="product-comparison-chart-section__chart-product-content">
        {{ steel_frame }}
</div>
<div class="product-comparison-chart-section__chart-product-content">
        {{ uphr_foam }}
</div>
<div class="product-comparison-chart-section__chart-product-content">
        {{ field_5star_base }}
</div>
<div class="product-comparison-chart-section__chart-product-content">
        {{ penta_rs1_caster }}
</div>
<div class="product-comparison-chart-section__chart-product-content">
        {{ armrests }}
</div>
<div class="product-comparison-chart-section__chart-product-content">
        {{ gas_lift }}
</div>
<div class="product-comparison-chart-section__chart-product-content">
        {{ recommended_height }}
</div>
<div class="product-comparison-chart-section__chart-product-content">
        {{ recommended_weight }}
</div>
<div class="product-comparison-chart-section__chart-product-content -padding-top"></div>
<div class="product-comparison-chart-section__chart-product-view">
    <a href="{{ url }}" class="product-comparison-chart-section__chart-product-view-link">
        view now
    </a>
</div>