  <link rel="stylesheet" href="{{ 'ls.css' | asset_url }}" />

<div class="popup-wrapper" id="seatPopupWrapper"">
      <div
        class="popup-background"
        style="display: block"
        onclick="namCloseSeatPopup()"
      ></div>

      <div id="lsSeat" class="popup">
        <div id="lsSeatPopHeader" class="pop-header">
          <div class="sticky">
            <div class="collapse">
              <div class="logo display-mobile">
                <img src="{{ 'pop-logo.svg' | file_url }}" />
              </div>
              <div class="title display-desktop">VertaAir® Seat</div>
              <button class="close-btn" onclick="namCloseSeatPopup()">
                <img src="{{ 'pop-close.svg' | file_url }}" />
              </button>
            </div>

            <div class="full display-desktop">
              <div class="logo">
                <div class="signature">VERTAGER SIGNATURES</div>
                <div class="title">VertaAir® Seat</div>
              </div>
              <div class="desc">
                If you're struggling with tightness and discomfort from the
                traditional gaming chair, we understand your pain. Our patent
                pending VertaAir Seat is a fresh concept that solves the primary
                issues plaguing traditional chairs.
              </div>
              <button class="close-btn" onclick="namCloseSeatPopup()">
                <img src="{{ 'pop-close.svg' | file_url }}" />
              </button>
            </div>
          </div>
        </div>

        <div class="ls-hero" id="lsSeatHero">
          <div class="ls-hero__text display-mobile">
            <div class="title">VertaAir® Seat</div>
            <div class="desc">
              If you're struggling with tightness and discomfort from the
              traditional gaming chair, we understand your pain. Our patent
              pending VertaAir Seat is a fresh concept that solves the primary
              issues plaguing traditional chairs.
            </div>
          </div>
          <div class="video-wrapper">
            <video
              width="100%"
              id="seatHeroVideo"
              autoplay
              muted
              loop
              preload
              playsinline
            >
              <source
                src="https://cdn.shopify.com/videos/c/o/v/113b50eb6d0f4d11a76831a6b0a16ff4.mp4"
                type="video/mp4"
              />
            </video>
            <img
              class="play-btn"
              id="seatHeroVideoPlayBtn"
              style="display: none"
              src="{{ 'ls-play-video.svg' | file_url }}"
            />
          </div>
        </div>

        <div class="ls-signatures-wrapper">
          <div class="ls-signature">
            <div class="ls-signature-text">
              <div class="header">VERTAGER SIGNATURES</div>
              <div class="title">
                Pressure Relief for Seat Bone for a Healthy Back
              </div>
              <div class="ls-seat-content desc display-mobile">
                <div class="see-more">
                  A major cause of back pain is gravitational pressure not
                  evenly distributed and released when sitting for prolonged
                  hours. Our seat padding is ... <span>See more</span>
                </div>
                <div class="see-less" style="display: none">
                  A major cause of back pain is gravitational pressure not
                  evenly distributed and released when sitting for prolonged
                  hours. Our seat padding is inspired by Bernoulli's principle
                  to generate aerodynamic lift that can negate gravitational
                  pressure evenly across your back and bottom.
                  <br /><br />Our VertaAir Seat comes equipped with eight
                  hexagonal pillars. These soft pillars host air tunnels with
                  5-way air emission tunnels, emitting air in and out to provide
                  breathability and pressure relief on your bones and spinal
                  cord. <span>See less</span>
                </div>
              </div>
              <div class="desc display-desktop">
                A major cause of back pain is gravitational pressure not evenly
                distributed and released when sitting for prolonged hours. Our
                seat padding is inspired by Bernoulli's principle to generate
                aerodynamic lift that can negate gravitational pressure evenly
                across your back and bottom.
                <br /><br />Our VertaAir Seat comes equipped with eight
                hexagonal pillars. These soft pillars host air tunnels with
                5-way air emission tunnels, emitting air in and out to provide
                breathability and pressure relief on your bones and spinal cord.
              </div>
            </div>
            <div class="ls-signature__video-wrapper">
              <video class="ls-signature__video" muted loop preload playsinline>
                <source
                  src="https://cdn.shopify.com/videos/c/o/v/4b8d53d41e784e4ba1ed9b9770faf219.mp4"
                  type="video/mp4"
                />
              </video>
              <img
                class="play-btn"
                src="{{ 'ls-play-video.svg' | file_url }}"
              />
            </div>
          </div>

          <div class="ls-signature">
            <div class="ls-signature-text">
              <div class="header">VERTAGER SIGNATURES</div>
              <div class="title">Waterfall & Wide Seat Design</div>
              <div class="ls-seat-content desc display-mobile">
                <div class="see-more">
                  No more numbness in your legs when gaming for hours. The
                  VertaAir Seat is designed with a soft curvy edge for more
                  space, distributing pressure across yo...
                  <span>See more</span>
                </div>
                <div class="see-less" style="display: none">
                  No more numbness in your legs when gaming for hours. The
                  VertaAir Seat is designed with a soft curvy edge for more
                  space, distributing pressure across your thighs, knees, and
                  lower body evenly to promote blood circulation throughout your
                  legs. As a bonus, the waterfall, wide seat design allows users
                  to retain a well-balanced, comfortable posture, letting them
                  focus on their tasks without nagging discomfort.
                  <span>See less</span>
                </div>
              </div>
              <div class="desc display-desktop">
                No more numbness in your legs when gaming for hours. The
                VertaAir Seat is designed with a soft curvy edge for more space,
                distributing pressure across your thighs, knees, and lower body
                evenly to promote blood circulation throughout your legs. As a
                bonus, the waterfall, wide seat design allows users to retain a
                well-balanced, comfortable posture, letting them focus on their
                tasks without nagging discomfort.
              </div>
            </div>
            <div class="ls-signature__video-wrapper">
              <video class="ls-signature__video display-desktop" muted loop preload playsinline>
                <source
                  src="https://cdn.shopify.com/videos/c/o/v/b1d632c6bab7498ea2cd47270db18bfb.mp4"
                  type="video/mp4"
                />
              </video>
              <video class="ls-signature__video display-mobile" muted loop preload playsinline>
                <source
                  src="https://cdn.shopify.com/videos/c/o/v/f229f078258a4099888c1d9f869fface.mp4"
                  type="video/mp4"
                />
              </video>
              <img
                class="play-btn"
                src="{{ 'ls-play-video.svg' | file_url }}"
              />
            </div>
          </div>
        </div>

        <div class="ls-footer">
          <img
            class="display-desktop"
            src="{{ 'ls-lumbar-footer-desk.jpg' | file_url }}"
          />
          <img
            class="display-mobile"
            src="{{ 'ls-seat-footer-mob.jpg' | file_url }}"
          />
          <div class="ls-footer__text">
            <div class="header">ContourMax Lumber</div>
            <div class="desc">
              Our patent pending ContourMax Lumbar features a layer of memory
              foam that adjusts specifically to the curves and angles of any
              individual’s body.
            </div>
            <a class="action main-btn" onclick="namCloseSeatPopup(); namOpenLumbarPopup();"
              >Learn More
              <img
                class="display-desktop"
                src="{{ 'right-arrow.svg' | file_url }}"
            /></a>
          </div>
        </div>
      </div>

      <a class="up-btn display-desktop" href="#lsSeatHero">
        <img src="{{ 'up.svg' | file_url }}" />
      </a>
    </div>

    <script src="{{ 'seat.js' | asset_url }}"></script>
    <script src="{{ 'seat-modal.js' | asset_url }}"></script>