<div id="content_area_1" class="container">
  <div class="animfilter-container row">
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-canada post-content row_even post-content-anim">
      <div class="photo"> <a href="http://www.bestbuy.ca/Search/SearchResults.aspx?path=ca77b9b4beca91fe414314b86bb581f8en20&query=vertagear" target="_blank"> <img src="{{ 'bestbuy_new.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-usa post-content row_even post-content-anim">
      <div class="photo"> <a href="http://www.gamestop.com/browse?nav=16k-3-vertagear,28zu0" target="_blank"> <img src="{{ 'GameStopLogo_BlackRed_new.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-greece post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.e-shop.gr/search?q=vertagear" target="_blank"> <img src="{{ 'eshop-Copy.gr_new.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-spain post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.pccomponentes.com/buscar/?query=vertagear" target="_blank"> <img src="{{ 'Nuevo-Logo-PcComponentes_new.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-usa post-content row_even post-content-anim">
      <div class="photo"> <a href="http://www.wayfair.com/Vertagear-B40303.html" target="_blank"> <img src="{{ 'wayfair2_new.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <!--<div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-france post-content row_even post-content-anim">
      <div class="photo"> <a href="http://www.caseking.fr/" target="_blank"> <img src="{{ 'casekingfr.png'| asset_url }}"> </a> </div>
      <br>
      <div>Distributor</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-united-kingdom post-content row_even post-content-anim">
      <div class="photo"> <a href="http://www.caseking.co.uk" target="_blank"> <img src="{{ 'casekinguk.png'| asset_url }}"> </a> </div>
      <br>
      <div>Distributor</div>
    </div>-->
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-united-kingdom post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.amazon.co.uk" target="_blank"> <img src="{{ 'Amazon-UK.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailers</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-united-kingdom post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.ebuyer.com/store/Gaming/cat/Gaming-Chairs/Vertagear" target="_blank"> <img src="{{ 'ebuyer.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-united-kingdom post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.vip-computers.com/uk/shop/search.aspx?keyword=Vertagear" target="_blank"> <img src="{{ 'vip-computers.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-united-kingdom post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.novatech.co.uk/search.html?s=Vertagear" target="_blank"> <img src="{{ 'novatech.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-australia post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.pccasegear.com/brand/333/vertagear" target="_blank"> <img src="{{ 'pccasegear-min-new.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-canada post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.amazon.ca/s/ref=bl_dp_s_web_2206275011?ie=UTF8&node=2206275011&field-brandtextbin=Vertagear" target="_blank"> <img src="{{ 'amazonca.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-canada post-content row_even post-content-anim">
      <div class="photo"> <a href="http://www.newegg.ca" target="_blank"> <img src="{{ 'neweggca.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-usa post-content row_even post-content-anim">
      <div class="photo"> <a href="http://www.4gamergear.com" target="_blank"> <img src="{{ '4gamergear_new.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-usa post-content row_even post-content-anim">
      <div class="photo"> <a href="http://www.amazon.com" target="_blank"> <img src="{{ 'amazon-2_new.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-usa post-content row_even post-content-anim">
      <div class="photo"> <a href="http://www.newegg.com" target="_blank"> <img src="{{ 'Newegg_new.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-norway post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.proshop.no/?s=Vertagear" target="_blank"> <img src="{{ 'proshop.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-sweden post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.proshop.se/?s=Vertagear" target="_blank"> <img src="{{ 'proshop.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <!--<div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-france post-content row_even post-content-anim">
      <div class="photo"> <a href="http://fauteuilgamer.com/" target="_blank"> <img src="{{ 'fauteuil-gamer_new.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>-->
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-france post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.amazon.fr/" target="_blank"> <img src="{{ 'Amazon-France.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-france post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.rueducommerce.fr/recherche/vertagear" target="_blank"> <img src="{{ 'rueducommerce_new.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-france post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.topachat.com/pages/produits_cat_est_gaming_puis_rubrique_est_wg_faut_puis_mc_est_vertagear.html" target="_blank"> <img src="{{ 'topachat-1_new.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-france post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.materiel.net/recherche/vertagear/" target="_blank"> <img src="{{ 'material_new.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-united-kingdom post-content row_even post-content-anim">
      <div class="photo"> <a href="http://www.overclockers.co.uk" target="_blank"> <img src="{{ 'ocuk-logo-white_new.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-united-kingdom post-content row_even post-content-anim">
      <div class="photo"> <a href="http://www.cclonline.co.uk" target="_blank"> <img src="{{ 'cclonline_new.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-united-kingdom post-content row_even post-content-anim">
      <div class="photo"> <a href="http://www.box.co.uk" target="_blank"> <img src="{{ 'box-logo.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-united-kingdom post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.aria.co.uk/Products?search=Vertagear&x=0&y=0" target="_blank"> <img src="{{ 'aria.co_new.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-united-kingdom post-content row_even post-content-anim">
      <div class="photo"> <a href="http://www.awd-it.co.uk" target="_blank"> <img src="{{ 'awd-it_new.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-united-kingdom post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.kikatek.com/Search/Vertagear#Results/" target="_blank"> <img src="{{ 'kikatek_new.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-germany post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.alternate.de/html/search.html?query=Vertagear&x=0&y=0" target="_blank"> <img src="{{ 'ALTERNATE-logo.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-germany post-content row_even post-content-anim">
      <div class="photo"> <a href="https://direkt.jacob.de/q/vertagear/#/q/Vertagear" target="_blank"> <img src="{{ 'jacob_new.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-germany post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.compuland.de/search_result.php?search_query=Vertagear&x=0&y=0" target="_blank"> <img src="{{ 'compuland-de-logo_new.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    
    <!--
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-germany post-content row_even post-content-anim">
        <div class="photo">
            <a href="http://www.comtech.de" target="_blank">
                <img src="{{ 'comtech_logo_new.png'| asset_url }}">
            </a>
        </div>
      	<br>
        <div>Online Retailer</div>
    </div>-->
    
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-germany post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.caseking.de/gaming/gaming-stuehle/vertagear" target="_blank"> <img src="{{ 'casekingde-1_new.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-germany post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.vibuonline.de/search_result.php?search_query=vertagear&x=0&y=0" target="_blank"> <img src="{{ 'vibuonline_new.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-germany post-content row_even post-content-anim">
      <div class="photo"> <a href="http://www.mindfactory.de/Manufacturer/Vertagear" target="_blank"> <img src="{{ 'mindfactory_new.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-brazil post-content row_even post-content-anim">
      <div class="photo"> <a href="http://www.allnations.com.br/" target="_blank"> <img src="{{ 'allnations-logo.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>Distributor</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-south-africa post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.evetech.co.za/ " target="_blank"> <img src="{{ 'evetech-logo.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-nz post-content row_even post-content-anim">
      <div class="photo"> <a href="http://www.fmlnz.com/" target="_blank"> <img src="{{ 'fml-logo.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>Distributor</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-canada post-content row_even post-content-anim">
      <div class="photo"> <a href="http://www.staples.ca/en/Vertagear-Gaming-Chairs/cat_CL213775_2-CA_1_20001/tz0k9?fids=&sr=true&sby=&min=&max=" target="_blank"> <img src="{{ 'staples-min.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-russia post-content row_even post-content-anim">
      <div class="photo"> <a href="http://ergotronica.ru/" target="_blank"> <img src="{{ 'ergotronica-min.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-kazakhstan post-content row_even post-content-anim">
      <div class="photo"> <a href="https://goodgame.kz/" target="_blank"> <img src="{{ 'goodgame-min.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-belorussia post-content row_even post-content-anim">
      <div class="photo"> <a href="http://kingstyle.by/magazin/folder/geymerskiye-kresla" target="_blank"> <img src="{{ 'kingstyle-min.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-belorussia post-content row_even post-content-anim">
      <div class="photo"> <a href="https://prox.by/gejmerskie-kresla/vertagear/" target="_blank"> <img src="{{ 'logo-prox.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    
    <!--<div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-mexico post-content row_even post-content-anim">
        <div class="photo">
            <a href="http://marathongroup.mx" target="_blank">
                <img src="{{ 'Marathon_logo-01-min.png'| asset_url }}">
            </a>
        </div>
      	<br>
        <div>Distributor</div>
    </div>-->
    
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-mexico post-content row_even post-content-anim">
      <div class="photo"> <a href="http://tienda.mercadolibre.com.mx/vertagear" target="_blank"> <img src="{{ 'Mercado-Libre-min.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-brazil post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.terabyteshop.com.br/cadeira-gamer/cadeira-gamer-vertagear" target="_blank"> <img src="{{ 'terabyte-logo-min.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
	  
    <!--<div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-argentina post-content row_even post-content-anim">
      <div class="photo"> <a href="http://www.wancomputers.com.ar/" target="_blank"> <img src="{{ 'wancomputer-min.png'| asset_url }}"> </a> </div>
      <br>
      <div>Distributor </div>
    </div>-->
  	  
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-argentina post-content row_even post-content-anim">
      <div class="photo"> <a href="https://compragamer.com/index.php?criterio=VERTAGEAR&seccion=3&nro_max=50" target="_blank"> <img src="{{ 'compra-gamer-logo.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>E-tailer</div>
    </div>  
	  
	<div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-mexico post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.ibushak.com/pages/search-results-page?q=vertagear" target="_blank"> <img src="{{ 'ibushak-logo.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
	  
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-mexico post-content row_even post-content-anim">
      <div class="photo"> <a href="http://www.mcegamer.com/tienda/buscar?controller=search&orderby=position&orderway=desc&search_query=Vertagear&submit_search=" target="_blank"> <img src="{{ 'mce-gamer-logo.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
	  
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-mexico post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.cyberpuerta.mx/Por-Marca/VERTAGEAR/" target="_blank"> <img src="{{ 'cyber-puerta-logo.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>E-tailer</div>
    </div>
	  
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-mexico post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.digitalife.com.mx/productos/busqueda/vertagear" target="_blank"> <img src="{{ 'digital-life-logo.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>E-tailer</div>
    </div>
	  
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-mexico post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.ddtech.mx/buscar/vertagear" target="_blank"> <img src="{{ 'dd-tech-logo.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>E-tailer</div>
    </div>
	 	  
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-mexico post-content row_even post-content-anim">
      <div class="photo"> <a href="http://www.mcemayoristas.com/tienda/buscar?controller=search&orderby=position&orderway=desc&poscats=&search_query=vertagear&submit_search=Buscar" target="_blank"> <img src="{{ 'mce-mayoristas-logo.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>Distributor</div>
    </div>
	
	<div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-mexico post-content row_even post-content-anim">
      <div class="photo"> <a href="https://mcegamer.com/?s=vertagear&post_type=product&product_cat=0" target="_blank"> <img src="{{ 'mce-gamer-logo.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>Distributor</div>
    </div>  
	  
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-singapore post-content row_even post-content-anim">
      <div class="photo"> <a href="http://banleong.com/sg/vertagear" target="_blank"> <img src="{{ 'ban-leong-logo.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>Distributor</div>
    </div>
    
    <!--<div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-peru post-content row_even post-content-anim">
      <div class="photo"> <a href="http://www2.deltron.com.pe/index.php" target="_blank"> <img src="{{ 'deltron-logo.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>Distributor</div>
    </div>-->
    
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-netherlands post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.informatique.nl/zoeken/?k=20190715&q=Vertagear&s=" target="_blank"> <img src="{{ 'informatique.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-netherlands post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.alternate.nl/html/index.html" target="_blank"> <img src="{{ 'ALTERNATE-logo.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-uruguay post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.banifox.com/" target="_blank"> <img src="{{ 'banifox-logo.png'| asset_url }}"> </a> </div>
      <br>
      <div>Distributor</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-france post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.ldlc.com/recherche/vertagear/" target="_blank"> <img src="{{ 'ldlc-logo.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-belgium post-content row_even post-content-anim">
      <div class="photo"> <a href="http://wwww.ldlc.be" target="_blank"> <img src="{{ 'ldlc-logo.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-switzerland post-content row_even post-content-anim">
      <div class="photo"> <a href="http://www.ldlc.ch" target="_blank"> <img src="{{ 'ldlc-logo.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-luxemburg post-content row_even post-content-anim">
      <div class="photo"> <a href="http://www.ldlc.lu" target="_blank"> <img src="{{ 'ldlc-logo.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
	  
    <!--<div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-chile post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.spdigital.cl/" target="_blank"> <img src="{{ 'sp-digital-logo.png'| asset_url }}"> </a> </div>
      <br>
      <div>Distributor</div>
    </div>-->
	  
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-chile post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.spdigital.cl/categories/search?q=VERTAGEAR&category_id=-1" target="_blank"> <img src="{{ 'sp-digital-logo.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>E-tailer</div>
    </div>
	  	  
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-brunei post-content row_even post-content-anim">
      <div class="photo"> <img src="{{ 'tech-haven-logo.jpg'| asset_url }}"> </div>
      <br>
      <div>Distributor</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-russia post-content row_even post-content-anim">
      <div class="photo"> <a href="https://vertagear-russia.ru/" target="_blank"> <img src="{{ 'vertagear-russia-logo.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>E-tailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-russia post-content row_even post-content-anim">
      <div class="photo"> <a href="http://strade.spb.ru/" target="_blank"> <img src="{{ 's-trade-logo.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>Distributor</div>
    </div>
    
    <!--<div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-russia post-content row_even post-content-anim">
        <div class="photo">
          <a href="https://www.grafitec.ru/" target="_blank">
            <img src="{{ 'logo-grafitec.jpg'| asset_url }}">
          </a>
        </div>
      	<br>
        <div>Distributor</div>
    </div>-->
    
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-usa post-content row_even post-content-anim">
      <div class="photo"> <a href="http://pilot.search.dell.com/vertagear" target="_blank"> <img src="{{ 'logo-dell.png'| asset_url }}"> </a> </div>
      <br>
      <div>E-tailer</div>
    </div>
	  
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-brazil post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.kabum.com.br/gamer/cadeiras-gamer/vertagear" target="_blank"> <img src="{{ 'logo-kabum.png'| asset_url }}"> </a> </div>
      <br>
      <div>E-tailer</div>
    </div>
	  
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-brazil post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.terabyteshop.com.br/busca?str=vertagear" target="_blank"> <img src="{{ 'terabyteshop-logo.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>E-tailer</div>
    </div>
	  
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-brazil post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.pichau.com.br/catalogsearch/result/?q=vertagear" target="_blank"> <img src="{{ 'pichau-logo.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>E-tailer</div>
    </div>	  
	  
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-singapore post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.hachi.tech/brand/vertagear" target="_blank"> <img src="{{ 'logo-hachi.png'| asset_url }}"> </a> </div>
      <br>
      <div>E-tailer</div>
    </div>
	  
    <!--<div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-costa-rica post-content row_even post-content-anim">
      <div class="photo"> <a href="http://www.intelec.co.cr/" target="_blank"> <img src="{{ 'logo-intelec.png'| asset_url }}"> </a> </div>
      <br>
      <div>Distributor</div>
    </div>-->

    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-costa-rica post-content row_even post-content-anim">
      <div class="photo"> <a href="http://www.extremetechcr.com/tienda/index.php?fc=module&module=leoproductsearch&controller=productsearch&orderby=position&orderway=desc&cate=&search_query=vertagear" target="_blank"> <img src="{{ 'extremetech-logo.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>Distributor</div>
    </div>	  

    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-costa-rica post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.intelec.co.cr/index.php?route=product/search&search=vertagear" target="_blank"> <img src="{{ 'intelec-logo.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>E-tailer</div>
    </div>	  
	  
	  
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-taiwan post-content row_even post-content-anim">
      <div class="photo"> <a href="http://www.vilus.com.tw/" target="_blank"> <img src="{{ 'logo-vilus.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>Distributor</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-usa post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.officedepot.com/a/browse/catalogbrowserefinebrand/N=5+593071&cbxRefine=1250643/;jsessionid=0000QzQB8Aw3Fd59-dFDzhke8SI:17h4h7cou" target="_blank"> <img src="{{ 'Office-Depot-Logo-PNG-Transparent2.png'| asset_url }}"> </a> </div>
      <br>
      <div>Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-denmark post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.proshop.dk/?s=Vertagear" target="_blank"> <img src="{{ 'proshop.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-denmark post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.alternate.dk/html/search.html?query=Vertagear&x=0&y=0" target="_blank"> <img src="{{ 'ALTERNATE-logo.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-denmark post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.fcomputer.dk/producenter/vertagear" target="_blank"> <img src="{{ 'foniks.png'| asset_url }}"> </a> </div>
      <br>
      <div>Retailer</div>
    </div>
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-ukraine post-content row_even post-content-anim">
      <div class="photo"> <a href="https://pro-x.com.ua/" target="_blank"> <img src="{{ 'pro-x-logo.png'| asset_url }}"> </a> </div>
      <br>
      <div>Retailer</div>
    </div>
	  
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-united-kingdom post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.currys.co.uk/gbuk/search-keywords/xx_xx_xx_xx_xx/vertagear/xx-criteria.html" target="_blank"> <img src="{{ 'currys.png'| asset_url }}"> </a> </div>
      <br>
      <div>Retailer</div>
    </div>
		  
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-usa post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.synnexcorp.com/us/" target="_blank"> <img src="{{ 'synnex-logo.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>Distributor</div>
    </div>
	  
	  <!--  
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-usa post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.ingrammicro.com/IMD_WASWeb/jsp/login/corporate.jsp" target="_blank"> <img src="{{ 'Ingram_Micro_Wordmark_Blue_HiRes.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>Retailer</div>
    </div>-->
	  
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-findland post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.jimms.fi/fi/Product/Search2?q=Vertagear" target="_blank"> <img src="{{ 'logo_trans.png'| asset_url }}"> </a> </div>
      <br>
      <div>Retailer</div>
    </div>
	  
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-colombia post-content row_even post-content-anim">
      <div class="photo"> <a href="https://www.tauretcomputadores.com/search_product?product_search=vertagear&product_search_slug=" target="_blank"> <img src="{{ 'tauret-computadores-logo.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>E-tailer</div>
    </div>
	  
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-el-salvador post-content row_even post-content-anim">
      <div class="photo"> <a href="https://aeon.com.sv/?s=vertagear&post_type=product&taxonomy=product_cat&product_cat=0" target="_blank"> <img src="{{ 'aeon-logo.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>E-tailer</div>
    </div>	  
	  
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-peru post-content row_even post-content-anim">
      <div class="photo"> <a href="https://paradagamer.com/?s=vertagear&post_type=product" target="_blank"> <img src="{{ 'prada-gamer-logo.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>E-tailer</div>
    </div>	  
	  
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-bolivia post-content row_even post-content-anim">
      <div class="photo"> <a href="http://www.matecsbol.com/search?controller=search&orderby=position&orderway=desc&search_query=vertagear" target="_blank"> <img src="{{ 'matecsbol-logo.jpg'| asset_url }}"> </a> </div>
      <br>
      <div>Distributor</div>
    </div>	  
	  
    <div class="text-center col-lg-3 col-md-2 col-sm-6 col-xs-12 tag-lithuania post-content row_even post-content-anim">
      <div class="photo"> <a href="https://gameroom.lt/lt/categories/kedes-71?kategorijos=vertagear&n=24" target="_blank"> <img src="{{ 'gameroomretina_2x.png'| asset_url }}"> </a> </div>
      <br>
      <div>Online Retailer</div>
    </div>	  
	  
  </div>
  <!--animfilter-container-->
  <ul class="post-animfilter-list first-row">
    <li><a class="animfilter-all selected"><span>show all</span></a></li>
    <li><a class="tag-argentina"><span>Argentina</span></a></li>
    <li><a class="tag-australia"><span>Australia</span></a></li>
    <li><a class="tag-belgium"><span>Belgium</span></a></li>	  
    <li><a class="tag-belorussia"><span>Belorussia</span></a></li>
    <li><a class="tag-bolivia"><span>Bolivia</span></a></li>  
    <li><a class="tag-brazil"><span>Brazil</span></a></li>
    <li><a class="tag-brunei"><span>Brunei</span></a></li>	  
    <li><a class="tag-canada"><span>Canada</span></a></li>
    <li><a class="tag-chile"><span>Chile</span></a></li>
    <li><a class="tag-colombia"><span>Colombia</span></a></li>
    <li><a class="tag-costa-rica"><span>Costa Rica</span></a></li>	  
  </ul>
  <ul class="post-animfilter-list addtl-row">
    <li><a class="tag-denmark"><span>Denmark</span></a></li>
    <li><a class="tag-el-salvador"><span>El Salvador</span></a></li>
    <li><a class="tag-findland"><span>Findland</span></a></li>
    <li><a class="tag-france"><span>France</span></a></li>
    <li><a class="tag-germany"><span>Germany</span></a></li>
    <li><a class="tag-greece"><span>Greece</span></a></li>
    <li><a class="tag-kazakhstan"><span>Kazakhstan</span></a></li>
    <li><a class="tag-luxemburg"><span>Luxemburg</span></a></li>
    <li><a class="tag-lithuania"><span>Lithuania</span></a></li>
    <li><a class="tag-mexico"><span>Mexico</span></a></li>
    <li><a class="tag-netherlands"><span>Netherlands</span></a></li>
    <li><a class="tag-nz"><span>New Zealand</span></a></li>
    <li><a class="tag-norway"><span>Norway</span></a></li>
  </ul>
  <ul class="post-animfilter-list last-row">
    <li><a class="tag-panama"><span>Panamá</span></a></li>
    <li><a class="tag-peru"><span>Perú</span></a></li>
    <li><a class="tag-russia"><span>Russia</span></a></li>
    <li><a class="tag-singapore"><span>Singapore</span></a></li>
    <li><a class="tag-south-africa"><span>South Africa</span></a></li>
    <li><a class="tag-spain"><span>Spain</span></a></li>
    <li><a class="tag-sweden"><span>Sweden</span></a></li>
    <li><a class="tag-taiwan"><span>Taiwan</span></a></li>
    <li><a class="tag-ukraine"><span>Ukraine</span></a></li>
    <li><a class="tag-united-kingdom"><span>United Kingdom</span></a></li>
    <li><a class="tag-uruguay"><span>Uruguay</span></a></li>
    <li><a class="tag-usa"><span>USA</span></a></li>  
  </ul>	
  <script>
    jQuery(document).ready(function(){
      jQuery(".post-animfilter-list.addtl-row li, .post-animfilter-list.last-row li")
      	.clone()
        .addClass("store-mobile")
        .appendTo(".post-animfilter-list.first-row");
  
      /** store locator **/

      $('.animfilter-container').masonry({
          itemSelector: '.post-content:not(.hidden)',
          animate: true,
          columnWidth: 10
          });

      $('.post-animfilter-list a').click(function(){

          var filterClass = '.' + $(this).attr('class');

          $('.post-animfilter-list a').removeAttr('id')
          $(this).attr('id',$(this).attr('class'));
          $('.post-animfilter-list a').removeClass('selected');
          if(filterClass == '.animfilter-all') {
              // show all hidden boxes
              $('.animfilter-container').children('.hidden')
                  .toggleClass('hidden').animate({opacity: 1},{ duration: 1000 });
          } else {    
              // hide visible boxes 
              $('.animfilter-container').children().not(filterClass).not('.hidden')
                  .toggleClass('hidden').animate({opacity: 0},{ duration: 1000 });
              // show hidden boxes
              $('.animfilter-container').children(filterClass+'.hidden')
                  .toggleClass('hidden').animate({opacity: 1},{ duration: 1000 });
          }

          $('.animfilter-container').masonry();

          return false;
      });

      $(".post-animfilter-list").prependTo($(".animfilter-container").parent());
    });
  </script> 
</div>
<!--content_area_1-->