{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'jpg' %}

{% if swatch == blank %}
<div class="swatch-color error">
  <p>You must include the snippet swatch.liquid with the name of a product option.</p> 
  <p>Use: <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
  <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
</div>
{% else %}

{% assign found_option = false %}
{% assign is_color = false %}
{% assign option_index = 0 %}

{% for option in product.options %}
  {% if option == swatch %}
    {% assign found_option = true %}
    {% assign option_index = forloop.index0 %}
    <style>
      label[for="product-select-option-{{ option_index }}"] { display: none; }
      #product-select-option-{{ option_index }} { display: none; }
      #product-select-option-{{ option_index }} + .custom-style-select-box { display: none !important; }
    </style>
    <script>$(window).load(function() { $('.selector-wrapper:eq({{ option_index }})').hide(); });</script>
    {% assign downcased_option = swatch | downcase %}
    {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
      {% assign is_color = true %}
    {% endif %}
  {% endif %}
{% endfor %}

{% unless found_option %}
<div class="swatch-color error">
  <p>You included the snippet swatch.liquid with the name of a product option — <code>'{{ swatch }}'</code> — that does not belong to your product.</p>
  <p>Use <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
  <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
  <p><strong>This is case-sensitive!</strong> Do not put in <code>'color'</code> if your product option name is <code>'Color'</code>.</p>
</div>
{% else %}
<div class="swatch-color" data-option-index="{{ option_index }}" style="margin-top: 30px;">
  <!--<div class="header">{{ swatch }}</div>-->
  {% assign values = '' %}
  {% assign variants = product.variants | sort: 'inventory_quantity' | reverse %}
  {% for variant in variants %}
    {% assign value = variant.options[option_index] %}
    {% unless values contains value %}
      {% assign values = values | join: ',' %}
      {% assign values = values | append: ',' | append: value %} 
      {% assign values = values | split: ',' %}
      <div data-value="{{ value | escape }}" data-id="{{ variant.id }}" class="swatch-color__element {% if is_color %}color {% endif %}{{ value | handle }} {% if variant.available %}available{% else %}soldout{% endif %}">
        {% if is_color %}
        <!--<div class="tooltip">{{ value }}</div>-->
        {% endif %}
        <input id="swatch-{{ option_index }}-{{ value | handle }}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} {% unless variant.available %}disabled{% endunless %} />
        {% if is_color %}
        <label class="swatch-color__label" for="swatch-{{ option_index }}-{{ value | handle }}" data-product="{{ product.title }}" style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ product.title | append: "-" | append: value | handle | append: '.' | append: file_extension | asset_img_url }}); background-size: cover;">
          <span class="visually-hidden">{{ value }}</span>
          <!--<img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" />-->
        </label>
        {% else %}
        <label  class="swatch-color__label" for="swatch-{{ option_index }}-{{ value | handle }}">
          {{ value }}
          <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" />
        </label>
        {% endif %}
      </div>
    {% endunless %}
    {% if variant.available %}
    <script>
      jQuery('.swatch-color[data-option-index="{{ option_index }}"] .{{ value | handle }}').removeClass('soldout').addClass('available').find(':radio').removeAttr('disabled');
    </script>
    {% endif %}
    <!-- <script>
        jQuery('.swatch[data-option-index="{{ option_index }}"] .{{ value | handle }}').removeClass('soldout').addClass('available').find(':radio').removeAttr('disabled');
    </script> -->
  {% endfor %}
  
<!--   {% if product.title == "PL1000" %}
  <div class="swatch-color__element color pink-white available">  
    <input id="swatch-0-pink-white" type="radio" name="option-0" value="Black/Blue">
    <a href="/products/pl1000-white-pink?variant=40631765827695">
      <label class="swatch-color__label"  data-product="PL1000" style="background-color: pink-white; background-image: url({{ 'pl1000-pink-white.jpg' | asset_img_url }}); background-size: cover;">
        <span class="visually-hidden">Pink/White</span>
      </label>
    </a>
  </div>
  {% endif %} -->
</div>

{% endunless %}

{% endif %}

<script defer>
 var inv_qty = {};
 {% for var in product.variants %}
   inv_qty[{{- var.id -}}] = {{ var.inventory_quantity | default: 0 }};
 {% endfor %}
   
   
   function GetURLParameter(sParam)
{
    var sPageURL = window.location.search.substring(1);
    var sURLVariables = sPageURL.split('&');
    for (var i = 0; i < sURLVariables.length; i++) 
    {
        var sParameterName = sURLVariables[i].split('=');
        if (sParameterName[0] == sParam) 
        {
            return sParameterName[1];
        }
    }
}
  
function check_qty(){
	setTimeout(function() {
	   var variant = GetURLParameter('variant');
     if(typeof variant == "undefined"){
      variant = window.product.variants[0].id;
     }
	   var current_qty = inv_qty[variant];
	   //alert("variant="+variant+","+current_qty)
	   if(current_qty <= 0){
	   	 	$('#AddToCart').css('opacity','0.5')
			$('#AddToCart').attr('disabled','true')
			$('#AddToCart').val('SOLD OUT')
	   }
	   else{
	   		$('#AddToCart').css('opacity','1')
			$('#AddToCart').removeAttr('disabled')
			$('#AddToCart').val('ADD TO CART')
	   }
	}, 100);
}
  
check_qty();
  
$(document).on('click','.swatch-color__element',function(){
	check_qty();
});

$(document).on('change','#ag-vg-product-select-option-1',function(){
	check_qty();
});


</script>
