
{% assign desktop_link = 'https://app.impact.com/advertiser-campaign-info/Vertagear.brand?lang=en&c=___9XpvYq1Sf0-BHmwgf1a9MI806Z0u4aTI' %}
{% assign mobile_link = 'https://app.impact.com/campaign-promo-signup/Vertagear.brand?execution=e1s1' %}
<div class="page-affiliates">
    {% assign banner = section.settings.banner | img_url: 'master'%}
    <div class="-mobile-only">{% include 'text-right-banner', banner: banner ,title : page.title,btn_text:section.settings.btn_text, btn_link : mobile_link %}</div>
    <div class="-mobile-up-only">{% include 'text-right-banner', banner: banner ,title : page.title,btn_text:section.settings.btn_text, btn_link : desktop_link %}</div>
    <div class="scroll-down-wrapper" id="main-content">
        <div class="page-affiliates__desc" >
            <div class="vertagear-container  -content">
                {{section.settings.main_desc}}
            </div>
        </div>
    </div>

    <div class="page-affiliates__benefit">
        <div class="vertagear-container -small">
            <div class="page-affiliates__title">
                {{section.settings.benefit_title}}
            </div>
            <div class="page-affiliates__benefit-main">
                <div class="page-affiliates__benefit-card">
                    <div class="page-affiliates__benefit-card-icon">
                      <svg class="page-affiliates__benefit-card-icon-img" width="80" height="80" x="0" y="0" viewBox="0 0 500 500" xml:space="preserve" fill="#4e4cf7">
                        <path d="M250 500a6.23 6.23 0 01-5.39-3.09l-46.89-79.85c-.56-.96-.86-2.05-.86-3.16v-61.48c0-3.45 2.8-6.25 6.25-6.25s6.25 2.8 6.25 6.25v59.78L250 481.41l40.64-69.21v-61.54c0-3.45 2.8-6.25 6.25-6.25s6.25 2.8 6.25 6.25v63.24c0 1.11-.3 2.21-.86 3.16l-46.89 79.85A6.23 6.23 0 01250 500zM203.11 154.2c-3.45 0-6.25-2.8-6.25-6.25V6.25c0-3.45 2.8-6.25 6.25-6.25h93.79c3.45 0 6.25 2.8 6.25 6.25v141.7c0 3.45-2.8 6.25-6.25 6.25s-6.25-2.8-6.25-6.25V12.5h-81.29v135.45c0 3.45-2.8 6.25-6.25 6.25z"/>
  						<path d="M296.89 60.32H203.1c-3.45 0-6.25-2.8-6.25-6.25s2.8-6.25 6.25-6.25h93.79c3.45 0 6.25 2.8 6.25 6.25a6.24 6.24 0 01-6.25 6.25zM250 367.21c-65.02 0-117.91-52.89-117.91-117.91S184.98 131.39 250 131.39s117.91 52.89 117.91 117.91S315.02 367.21 250 367.21zm0-223.32c-58.12 0-105.41 47.29-105.41 105.41S191.88 354.72 250 354.72s105.41-47.29 105.41-105.41S308.12 143.89 250 143.89zM296.89 418.75H203.1c-3.45 0-6.25-2.8-6.25-6.25s2.8-6.25 6.25-6.25h93.79c3.45 0 6.25 2.8 6.25 6.25s-2.79 6.25-6.25 6.25z"/>
  						<path d="M244.09 316.09v-11.92c-7.64-.13-15.48-1.98-21.44-4.78-2.83-1.33-4.17-4.61-3.11-7.56 1.19-3.33 4.97-4.99 8.18-3.52 5.44 2.49 12.01 4.18 18.94 4.18 12.19 0 20.43-7.04 20.43-16.82 0-9.44-6.69-15.28-19.4-20.43-17.51-6.86-28.32-14.76-28.32-29.69 0-14.25 10.13-25.06 25.91-27.63V185.9c0-2.94 2.38-5.32 5.32-5.32 2.94 0 5.32 2.38 5.32 5.32v11.33c7.12.24 12.69 1.63 17.09 3.43 3 1.23 4.43 4.66 3.28 7.69-1.21 3.19-4.81 4.72-7.97 3.43-3.9-1.59-9.19-3.05-16-3.05-13.22 0-18.2 7.89-18.2 14.76 0 8.92 6.35 13.39 21.28 19.57 17.68 7.21 26.61 16.14 26.61 31.41 0 13.56-9.44 26.26-27.12 29.18v12.44c0 2.99-2.42 5.41-5.41 5.41-2.97 0-5.39-2.42-5.39-5.41z"/>
                      </svg>
                    </div>
                    <div class="page-affiliates__benefit-card-title">
                        Commission
                    </div>
                    <div class="page-affiliates__benefit-card-desc">
                        Be awarded for passionate work! Earn $$$ on sales that utilize a unique promo code specially designated to you.
                    </div>
                </div>
                <div class="page-affiliates__benefit-card">
                    <div class="page-affiliates__benefit-card-icon">
                      <svg class="page-affiliates__benefit-card-icon-img" width="80" height="80" x="0" y="0" viewBox="0 0 500 500" xml:space="preserve" fill="#4e4cf7">
                        <path class="st0" d="M461.74 496.96H38.26C17.16 496.96 0 479.8 0 458.7V41.3C0 20.2 17.16 3.04 38.26 3.04h423.48C482.84 3.04 500 20.2 500 41.3v417.4c0 21.1-17.16 38.26-38.26 38.26zM38.26 15.21c-14.39 0-26.09 11.71-26.09 26.09v417.4c0 14.39 11.71 26.09 26.09 26.09h423.48c14.39 0 26.09-11.71 26.09-26.09V41.3c0-14.39-11.71-26.09-26.09-26.09H38.26z"/>
                        <path class="st0" d="M148.65 256.08H6.08C2.72 256.08 0 253.36 0 250s2.72-6.08 6.08-6.08h142.57c3.36 0 6.08 2.72 6.08 6.08s-2.72 6.08-6.08 6.08zM492.87 256.08H353.02c-3.1 0-5.61-2.72-5.61-6.08s2.51-6.08 5.61-6.08h139.85c3.1 0 5.61 2.72 5.61 6.08s-2.51 6.08-5.61 6.08zM250 496.96c-3.36 0-6.08-2.68-6.08-5.99V14.08c0-3.31 2.72-5.99 6.08-5.99s6.08 2.68 6.08 5.99v476.89c.01 3.31-2.72 5.99-6.08 5.99z"/>
                        <path class="st0" d="M176.35 330.07c-.67 0-1.35-.11-2-.34a6.074 6.074 0 01-4.08-5.61c-.37-16.23-5.08-28.21-14.01-35.6-14.35-11.9-35.45-8.56-35.66-8.54-2.74.48-5.44-1.01-6.56-3.54-1.12-2.54-.39-5.52 1.79-7.23l66.89-52.7c2.65-2.08 6.47-1.63 8.54 1.01a6.077 6.077 0 01-1.01 8.54l-53.18 41.9c8.41 1.13 18.35 4.1 26.87 11.12 8.69 7.17 14.36 17.21 16.93 29.96l52.3-62.92a6.058 6.058 0 018.56-.79c2.59 2.14 2.94 5.98.79 8.56l-61.48 73.99a6.118 6.118 0 01-4.69 2.19z"/>
                        <path class="st0" d="M248.65 256.08c-.36 0-.73-.03-1.11-.1-12.92-2.38-26.31-7.22-38.73-13.99-26.05-14.2-41.36-35.72-43.13-60.6-.85-11.87.13-21.13 3.08-29.12 1.89-5.11 5.2-8.96 9.31-10.85 14.34-6.54 28.48 7.8 36.07 15.51l.42.42c11.42 11.57 22.04 23.91 32.49 37.72 2.23 2.95 4.43 5.92 6.56 8.94a6.097 6.097 0 01-1.46 8.48c-2.75 1.93-6.54 1.29-8.48-1.46-2.05-2.9-4.17-5.77-6.33-8.61-10.12-13.39-20.4-25.33-31.45-36.52l-.42-.43c-5.12-5.19-15.77-15.98-22.35-12.99-1.11.51-2.21 2-2.95 3.99-2.33 6.32-3.08 13.96-2.36 24.05 1.97 27.8 23.91 43.75 36.82 50.78 11.3 6.16 23.44 10.56 35.11 12.7 3.3.61 5.49 3.78 4.88 7.09a6.059 6.059 0 01-5.97 4.99z"/>
                        <path class="st0" d="M322.29 330.07c-1.77 0-3.5-.78-4.68-2.2l-61.48-73.99c-2.15-2.59-1.8-6.42.79-8.56a6.057 6.057 0 018.56.79l52.3 62.92c2.57-12.75 8.23-22.8 16.93-29.96 8.52-7.02 18.46-9.99 26.87-11.12l-53.18-41.9a6.077 6.077 0 01-1.01-8.54c2.07-2.64 5.89-3.09 8.54-1.01l66.89 52.7a6.094 6.094 0 011.8 7.25c-1.13 2.55-3.87 3.98-6.58 3.53-.19-.04-21.3-3.35-35.65 8.54-8.93 7.4-13.64 19.38-14.01 35.6a6.102 6.102 0 01-4.08 5.61c-.66.23-1.34.34-2.01.34z"/>
                        <path class="st0" d="M250 256.08c-2.88 0-5.44-2.05-5.98-4.98a6.088 6.088 0 014.88-7.09c11.67-2.14 23.81-6.54 35.11-12.7 12.9-7.03 34.84-22.99 36.82-50.78.72-10.09-.03-17.73-2.36-24.05-.73-1.98-1.83-3.47-2.95-3.98-6.56-3.01-17.23 7.8-22.35 12.99l-.42.43c-11.06 11.21-21.35 23.15-31.45 36.51-2.15 2.84-4.28 5.71-6.33 8.61a6.087 6.087 0 01-8.48 1.46 6.08 6.08 0 01-1.46-8.48c2.13-3.02 4.33-5.99 6.56-8.94 10.42-13.79 21.05-26.13 32.49-37.71l.42-.42c7.6-7.7 21.75-22.04 36.07-15.51 4.12 1.88 7.43 5.73 9.32 10.84 2.95 8 3.93 17.25 3.08 29.13-1.77 24.88-17.08 46.4-43.13 60.6-12.42 6.77-25.81 11.61-38.73 13.99-.38.05-.75.08-1.11.08z"/>
                      </svg>
                    </div>
                    <div class="page-affiliates__benefit-card-title">
                        Bonuses
                    </div>
                    <div class="page-affiliates__benefit-card-desc">
                        The most resourceful affiliates can earn free chairs, games, and other top-tier gaming peripherals.
                    </div>
                </div>
                <div class="page-affiliates__benefit-card">
                    <div class="page-affiliates__benefit-card-icon">
					  <svg class="page-affiliates__benefit-card-icon-img" width="80" height="80" x="0" y="0" viewBox="0 0 500 500" xml:space="preserve" fill="#4e4cf7">
                        <path fill="#4e4cf7" d="M290 249.12c-.84 0-1.69-.2-2.47-.61l-36.92-19.41-36.92 19.41c-1.78.94-3.95.79-5.58-.4a5.292 5.292 0 01-2.11-5.18l7.05-41.11-29.86-29.11a5.287 5.287 0 01-1.34-5.44 5.293 5.293 0 014.28-3.61l41.27-6 18.46-37.4c.89-1.81 2.74-2.96 4.75-2.96s3.86 1.15 4.75 2.96l18.46 37.4 41.27 6a5.308 5.308 0 012.94 9.05l-29.86 29.11 7.05 41.11a5.295 5.295 0 01-5.22 6.19zm-39.39-31.3c.85 0 1.69.2 2.47.61l29.88 15.71-5.71-33.27c-.29-1.72.28-3.47 1.53-4.69l24.16-23.56-33.4-4.85a5.298 5.298 0 01-3.99-2.9l-14.94-30.27-14.94 30.27a5.292 5.292 0 01-3.99 2.9l-33.4 4.85 24.16 23.56a5.314 5.314 0 011.53 4.69l-5.71 33.27 29.88-15.71c.78-.41 1.62-.61 2.47-.61zM54.24 193.39c-2.02 0-3.86-1.15-4.75-2.96L35.6 162.29l-31.06-4.51a5.308 5.308 0 01-2.94-9.05l22.47-21.91-5.3-30.94a5.295 5.295 0 017.69-5.58l27.78 14.61L82.02 90.3c1.79-.93 3.95-.78 5.58.4a5.292 5.292 0 012.11 5.18l-5.31 30.94 22.47 21.91a5.287 5.287 0 011.34 5.44 5.293 5.293 0 01-4.28 3.61l-31.06 4.51L59 190.44a5.31 5.31 0 01-4.76 2.95zm-37.55-44.56l23.19 3.37c1.73.25 3.22 1.34 3.99 2.9l10.37 21.01 10.37-21.01a5.292 5.292 0 013.99-2.9l23.19-3.37-16.78-16.35a5.314 5.314 0 01-1.53-4.69l3.96-23.1-20.74 10.9c-1.55.81-3.39.81-4.94 0l-20.74-10.9 3.96 23.1c.29 1.72-.28 3.47-1.53 4.69l-16.76 16.35zM445.76 304.65c-2.02 0-3.86-1.15-4.75-2.96l-13.89-28.14-31.06-4.51c-2-.29-3.66-1.69-4.28-3.61-.63-1.92-.1-4.03 1.34-5.43l22.47-21.9-5.31-30.94c-.34-1.99.48-4 2.11-5.18a5.284 5.284 0 015.58-.4l27.78 14.61 27.78-14.61c1.79-.93 3.95-.78 5.58.4a5.292 5.292 0 012.11 5.18l-5.31 30.94 22.47 21.9a5.275 5.275 0 011.34 5.43 5.293 5.293 0 01-4.28 3.61l-31.06 4.51-13.89 28.14a5.253 5.253 0 01-4.73 2.96zm-37.55-44.56l23.19 3.37c1.73.25 3.22 1.34 3.99 2.9l10.37 21.01 10.37-21.01a5.292 5.292 0 013.99-2.9l23.19-3.37-16.78-16.35a5.314 5.314 0 01-1.53-4.69l3.96-23.1-20.74 10.9c-1.55.81-3.39.81-4.94 0l-20.74-10.9 3.96 23.1c.29 1.72-.28 3.47-1.53 4.69l-16.76 16.35zM167.41 112.95c-2.08 0-3.98-1.22-4.84-3.13l-10.05-22.39-22.96-8.68a5.3 5.3 0 01-3.42-4.8 5.293 5.293 0 013.13-5l22.39-10.05 8.68-22.96a5.3 5.3 0 014.8-3.42c2.1-.21 4.12 1.17 5 3.13l10.05 22.38 22.96 8.68a5.3 5.3 0 013.42 4.8 5.293 5.293 0 01-3.13 5l-22.38 10.05-8.68 22.96a5.3 5.3 0 01-4.8 3.42c-.06.01-.12.01-.17.01zm-22.08-39.57l13.01 4.92c1.32.5 2.39 1.5 2.97 2.79L167 93.77l4.92-13.01c.5-1.32 1.5-2.39 2.79-2.97l12.68-5.69-13.01-4.92c-1.32-.5-2.38-1.5-2.96-2.79l-5.69-12.68-4.92 13.01c-.5 1.32-1.5 2.38-2.79 2.96l-12.69 5.7zM424.35 147.86c-2.08 0-3.98-1.22-4.84-3.13l-10.05-22.39-22.96-8.68a5.3 5.3 0 01-3.42-4.8 5.293 5.293 0 013.13-5l22.39-10.05 8.68-22.96a5.3 5.3 0 014.8-3.42c2.07-.1 4.12 1.17 5 3.13l10.05 22.38 22.96 8.68a5.3 5.3 0 013.42 4.8 5.293 5.293 0 01-3.13 5l-22.39 10.05-8.67 22.96a5.284 5.284 0 01-4.8 3.42c-.06.01-.11.01-.17.01zm-22.08-39.57l13.01 4.92c1.32.5 2.39 1.5 2.97 2.79l5.69 12.68 4.92-13c.5-1.32 1.5-2.39 2.79-2.97l12.68-5.69-13.01-4.92c-1.32-.5-2.38-1.5-2.96-2.79l-5.69-12.68-4.92 13.01c-.5 1.32-1.5 2.38-2.79 2.96l-12.69 5.69zM52.9 310.38c-2.08 0-3.98-1.22-4.84-3.13l-10.05-22.39-22.96-8.67a5.284 5.284 0 01-3.42-4.8 5.293 5.293 0 013.13-5l22.39-10.05 8.68-22.96a5.3 5.3 0 014.8-3.42c2.2-.22 4.12 1.17 5 3.13l10.05 22.39 22.95 8.67c2.01.76 3.36 2.65 3.42 4.8a5.293 5.293 0 01-3.13 5L66.53 284l-8.67 22.95a5.284 5.284 0 01-4.8 3.42c-.05.01-.11.01-.16.01zm-22.08-39.57l13 4.92c1.32.5 2.39 1.5 2.97 2.79l5.69 12.68 4.92-13c.5-1.32 1.5-2.39 2.79-2.97l12.68-5.69-13-4.92c-1.32-.5-2.39-1.5-2.97-2.79l-5.69-12.68-4.92 13.01c-.5 1.32-1.5 2.39-2.79 2.97l-12.68 5.68zM325.7 123.65c-4.35 0-8.76-.99-12.9-3.09-14.09-7.14-19.74-24.42-12.61-38.51 7.14-14.08 24.41-19.74 38.5-12.61 14.09 7.14 19.74 24.42 12.61 38.51-5.04 9.95-15.13 15.7-25.6 15.7zm.09-46.69c-6.59 0-12.95 3.62-16.13 9.89-4.5 8.87-.94 19.75 7.94 24.25 8.86 4.5 19.75.94 24.25-7.94 4.5-8.87.94-19.75-7.94-24.25-2.6-1.33-5.38-1.95-8.12-1.95zM428.36 400.52c-6.23 0-12.26-2.03-17.31-5.86-6.08-4.64-10-11.37-11.02-18.95-1.03-7.58.96-15.11 5.6-21.2 4.64-6.08 11.37-10 18.95-11.02 15.56-2.17 30.11 8.89 32.22 24.55 2.12 15.65-8.9 30.1-24.55 32.22-1.29.17-2.59.26-3.89.26zm.07-46.7c-.8 0-1.61.05-2.43.16-4.77.65-9.01 3.11-11.94 6.95-2.92 3.83-4.17 8.57-3.53 13.35.65 4.77 3.11 9.02 6.95 11.94 3.83 2.92 8.54 4.15 13.36 3.53 9.86-1.34 16.79-10.44 15.46-20.3-1.22-9.04-8.98-15.63-17.87-15.63zM77.53 434.03c-6.23 0-12.26-2.02-17.3-5.86-6.08-4.63-10-11.37-11.02-18.95-2.12-15.65 8.9-30.1 24.55-32.22 7.6-1.04 15.11.96 21.2 5.6 6.08 4.64 10 11.37 11.02 18.95 1.03 7.58-.96 15.11-5.6 21.2-4.64 6.08-11.37 10-18.95 11.02-1.31.17-2.61.26-3.9.26zm.1-46.7c-.81 0-1.63.06-2.46.17-9.86 1.34-16.79 10.44-15.46 20.3.65 4.77 3.11 9.02 6.95 11.94 3.83 2.92 8.6 4.15 13.35 3.53 4.78-.65 9.02-3.11 11.94-6.95 2.92-3.83 4.17-8.57 3.53-13.35-.65-4.77-3.11-9.02-6.95-11.94-3.18-2.43-6.98-3.7-10.9-3.7zM250.61 467.48c-2.93 0-5.3-2.37-5.3-5.3V276.96c0-2.93 2.37-5.3 5.3-5.3 2.93 0 5.3 2.37 5.3 5.3v185.21c0 2.93-2.37 5.31-5.3 5.31zM208.6 467.48c-.15 0-.3 0-.46-.02a5.294 5.294 0 01-4.83-5.73c13.97-164.17-68.71-243.57-104.9-270.09a5.314 5.314 0 01-1.15-7.41 5.316 5.316 0 017.41-1.15c37.64 27.58 123.63 110.02 109.2 279.55a5.297 5.297 0 01-5.27 4.85zM173.18 467.48c-2.78 0-5.11-2.16-5.29-4.97C161.36 357 79.72 310.18 78.9 309.72a5.3 5.3 0 015.16-9.26c.87.49 87.51 49.94 94.42 161.4a5.304 5.304 0 01-4.97 5.62c-.12-.01-.23 0-.33 0zM286.39 467.48c-2.72 0-5.04-2.09-5.28-4.85-14.43-169.53 71.56-251.97 109.2-279.55a5.298 5.298 0 017.41 1.15 5.296 5.296 0 01-1.15 7.41c-36.19 26.52-118.87 105.92-104.9 270.09a5.294 5.294 0 01-5.28 5.75zM321.8 467.48c-.11 0-.22 0-.33-.01-2.92-.18-5.14-2.7-4.97-5.62 6.91-111.47 93.54-160.91 94.42-161.4 2.56-1.42 5.78-.5 7.2 2.05 1.42 2.56.51 5.78-2.04 7.21-.82.46-82.46 47.28-88.99 152.79a5.306 5.306 0 01-5.29 4.98z"/>
                      </svg>
                    </div>
                    <div class="page-affiliates__benefit-card-title">
                        Event Partnerships
                    </div>
                    <div class="page-affiliates__benefit-card-desc">
                        Have the opportunity to be flown to the biggest gaming events around the globe as an official Vertagear Brand Ambassador!
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-affiliates__register">
        <div class="vertagear-container -content">
            <div class="page-affiliates__desc page-affiliates__register-desc">
                {{section.settings.register_desc}}
            </div>
            <div class="form-submit-box">
                <a class="vertagear-btn -blue form-submit-btn -mobile-only" href="{{mobile_link}}">JOIN NOW</a>
                <a class="vertagear-btn -blue form-submit-btn -mobile-up-only" href="{{desktop_link}}">JOIN NOW</a>
            </div>
        </div>
    </div>
</div>
{% schema %}
  {
  "name": "Main",
  "settings": [
    {
        "id": "banner",
        "type": "image_picker",
        "label": "Banner"
    },
    {
        "id": "btn_text",
        "type": "text",
        "label": "Button Text",
        "default":"join now"
    },
    {
        "id": "main_desc",
        "type": "richtext",
        "label": "Main Description",
        "default":"<p>Welcome to the Vertagear Affiliate Program! Becoming a Vertagear affiliate means joining a passionate team dedicated to elevating the gaming experience for players worldwide. Our products have captured numerous industry awards from the most respected publications around the globe. Gamers who demand the highest levels of performance and innovation seek out Vertagear products.<br><br></p><p>Joining the Vertagear Affiliate Program allows you to directly work with us to deliver products to gamers that redefine their gaming lifestyle. We provide full support by giving access to useful tools and assets. As an affiliate, you’ll be on the cutting edge of gaming.</p>"
    },
    {
        "id": "benefit_title",
        "type": "text",
        "label": "Benefit Title",
        "default":"What are the benefits?"
    },
    {
        "id": "register_title",
        "type": "text",
        "label": "Register Title",
        "default":"Register Now"
    },
    {
        "id": "register_desc",
        "type": "text",
        "label": "Register Description",
        "default":"Our program is completely free and comes with the full support of our team. With us, affiliates are not just product ambassadors—you are pioneers. We reserve the right to reject or remove any account that contains objectionable material and/or does not serve in the interest of the Vertagear community."
    }
  ]
  }
{% endschema %}