{% include 'gravityadmin' %}
<div style="display: none !important;  visibility: hidden !important;" class="cmspro-section" id="cmspro-5e031f0a"></div>
{% case section.settings.colors %}
  {% when 'white' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--white">
  {% when 'light' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--light">
  {% when 'accent' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--accent">
  {% when 'dark' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--dark">
{% endcase %}

<div class="homepage-collections-background">
<div class="wrapper">

	<div class="page-width">
	  {% if section.settings.title != blank %}
	    <div class="sitewide--title-wrapper">
	      <h2 class="homepage-sections--title">{{ section.settings.title | escape }}</h2>
	    </div>
	  {% endif %}

	  {% case section.blocks.size %}
	    {% when 2 %}
	      {%- assign grid_item_width = 'large--one-half' -%}
	      {%- assign image_size = '800x' -%}
	    {% when 3 %}
	      {%- assign grid_item_width = 'large--one-third' -%}
	      {%- assign image_size = '600x' -%}
	    {% when 4 %}
	      {%- assign grid_item_width = 'large--one-quarter' -%}
	      {%- assign image_size = '400x' -%}
	    {% when 5 %}
	      {%- assign grid_item_width = 'large--one-fifth' -%}
	      {%- assign image_size = '350x' -%}
	    {% when 6 %}
	      {%- assign grid_item_width = 'large--one-sixth' -%}
	      {%- assign image_size = '300x' -%}

	  {% endcase %}

	  <div class="collection-grid">
	    <div class="grid grid--uniform">
	      {% for block in section.blocks %}
	        <div class="grid__item homepage-collection-grid-item {{ grid_item_width }}" {{ block.shopify_attributes }}>
	          {%- assign collection = collections[block.settings.collection] -%}
	          {%- assign collection_image_size = image_size -%}
	          {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

{% unless collection_image_size %}
  {%- assign collection_image_size = '450x450' -%}
{% endunless %}

{% if collection.empty? %}
  {% comment %}add default state for collection block in storefront editor{% endcomment %}
  {% capture collection_title %}{{ 'homepage.onboarding.collection_title' | t }}{% endcapture %}
  {% capture collection_image_url %}{% endcapture %}
{% else %}
  {% if collection.image %}
    {% capture collection_image_url %}{{ collection | img_url: collection_image_size, crop: 'top' }}{% endcapture %}
  {% elsif collection.products.first %}
    {% capture collection_image_url %}{{ collection.products.first | img_url: collection_image_size, crop: 'top' }}{% endcapture %}
  {% endif %}

  {% capture collection_title %}{{ collection.title }}{% endcapture %}
{% endif %}


<div class="homepage-collection-grid-inner">
	<div class="grid-image">
		<a href="{% if collection.empty? %}/admin/collections{% else %}{{ collection.url }}{% endif %}" class="grid-image--centered">


			{% if collection.empty? %}
				{% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
				{{ 'collection-' | append: current | placeholder_svg_tag: 'icon icon--placeholder' }}
			{% else %}
				{% if collection.image %}
					<img src="{{ collection_image_url }}" alt="{{ collection.image.alt | escape }}" class="img-responsive">
				{% else %}
					{% assign product = collection.products | first %}
					<img src="{{ product.featured_image | product_img_url: '1024x1024' }}" alt="{{ product.featured_image.alt | escape }}" class="img-responsive">
				{% endif %}
			{% endif %}



		</a>
	</div>

	<div class="hp-title homepage-collection-link">
		<div class="homepage-collection-grid-item-details">
			<a href="{{ collection.url }}" class="collection-item__title">{{ collection_title }}</a>
		</div>
	</div>

</div>

	        </div>
	      {% endfor %}
	    </div>
	  </div>

	  {% if section.blocks.size == 0 %}
	    <div class="placeholder-noblocks">
  {{ 'homepage.onboarding.no_content' | t }}
</div>

	  {% endif %}
	</div>

</div>

</div>

</div>

{% schema %}
{
  "name": "Featured collections",
  "class": "featured-collections-wrapper",
  "max_blocks": 6,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured Collections"
    },
    {
      "type": "select",
      "id": "colors",
      "label": "Color scheme",
      "default": "light",
      "options": [
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "light",
          "label": "Light"
        },
        {
          "value": "accent",
          "label": "Feature"
        },
        {
          "value": "dark",
          "label": "Dark"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "Collection",
      "settings": [
        {
          "label": "Collection",
          "id": "collection",
          "type": "collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured collections",
      "category": "Collection",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
