<div class="block-menuquickview" expand='0'>
    <div class="menucontent">
        <div class="inner">
            <div class="col col-product">

                <img class="lazyload" typecolor="BlackWhite" data-src="{{ 'fe800-product3.png' | asset_img_url: '1000x' }}" />
                <div class="info">
                    <h2>VERTAGEAR SIGNATURES</h2>
                    <ul>
                        <li><a class="js-popups" popip="lumbar"><span>ContourMax<sup>TM</sup> Lumbar.</span><img src="{{ 'fe800-tooltip.svg' | asset_url }}"></a></li>
                        <li><a class="js-popups" popip="seat"><span>VertaAir<sup>TM</sup> Seat.</span><img src="{{ 'fe800-tooltip.svg' | asset_url }}"></a></li>
                        <li><a class="js-popups" popip="rgb"><span>RGB LED Kit.</span><img src="{{ 'fe800-tooltip.svg' | asset_url }}"></a></li>
                        <li><a class="js-popups" popip="hygennx"><span>HygennX<sup>TM</sup>.</span><img src="{{ 'fe800-tooltip.svg' | asset_url }}"></a></li>
                        <li><a class="fe800-class" data-youtube="https://www.youtube.com/embed/Vr_OXiEFJYA"><span>Effortless Assembly.</span><img src="{{ 'fe800-tooltip.svg' | asset_url }}"></a></li>
                    </ul>
                    <label><span id="custom_product_price" class="custom_product_price" data-product-id="{{ product.id }}"><span class="tdf_price_original"><span class="tdf_money money">{{product.compare_at_price | money}}</span></span><span class="tdf_price_sales"> <span class="tdf_money money">{{product.price | money}}</span></span></span></label>
                    <a class="vertagear-cta -blue " goto=''><img src="{{'fe800-shopping-bag.svg' | asset_url }}" />ADD TO CART</a>
                </div>


            </div>

            <div class="col col-intro">
                <div class="intro-inner">
                    <label class="label-js"></label>

                    <ul>
                        <li class="js-gotoidelement" goto='.product800-detail'> Color options</li>
                        <li class="js-gotoidelement" goto=''>Vertagear Signatures</li>
                        <li class="js-gotoidelement" goto='.moreproduct-features'>All Product Features</li>
                        <li class="js-gotoidelement" goto='.section-specifications'>Specifications</li>
                        <li class="js-gotoidelement" goto='.section-rgb-app'>Simple control RGB</li>
                        <li class="js-gotoidelement" goto='.product_comparison'>Comparison chart</li>
                        <li class="js-gotoidelement" goto='.section-review'>Customer Reviews</li>
                        <li class="js-gotoidelement" goto='.series_collection'>Other products</li>

                    </ul>
                </div>
            </div>

        </div>
        <div class="quickview-footer-group">
            <div class="vertagear-container">
                <a href="/">Home</a><span></span>
            </div>
            <div class="quickview-footer js-viewmoreallproduct"></div>
            <a class="vertagear-cta -blue " goto=''><img src="{{'fe800-shopping-bag.svg' | asset_url}}" />ADD TO CART</a>
        </div>
    </div>
</div>