<div class="popup-3d-viewer">
    <div class="popup-3d-viewer-inner">
        <div class="vertagear-container">
            <div class="header-popup-view-3d">
                <a href="/"><img src="{{ 'logo.svg' | asset_url }}" alt="Vertagear" /></a>
                <div class="btn-close"><img src="{{ 'fe800-close.svg' | asset_url }}" />
            </div>
            </div>
            <div class="group-content">
                <div class="col fe800-detail-mobile-js">
                    <h5>S-LINE</h5>
                    <h3> SL3800 </h3>
                    <h4> PRODUCT KEY FEATURES </h4>
                    <ul>
                        <li>ContourMax<sup>TM</sup> Lumbar. <a class="js-popups" popup="lumbar">Learn more</a></li>
                        <li>VertaAir<sup>TM</sup> Seat. <a class="js-popups" popup="seat">Learn more</a></li>
                        <li name="apf">RGB LED Kit. <a class="js-popups" popup="rgb">Learn more</a></li>
                        <li>HygennX. <a class="js-popups" popup="hygennx">Learn more</a></li>
                        <li>Effortless Assembly. <a data-youtube="https://www.youtube.com/embed/Vr_OXiEFJYA">Learn more</a></li>
                    </ul>
                    <a class="index-signature__swiper-slide-btn -blue vertagear-btn" id="shownow-js" target="_blank">Shop Now</a>
                </div>
                <div class="col col3d">
                    <!-- <img src="https://cdn.shopify.com/s/files/1/1759/4609/t/73/assets/fe800-3d-img.png" /> -->
                   
                </div>
                <div class="col">
                    <h3>Chair color</h3>
                    <div class="chair-color">
                        <div class="item active" type="BlackWhite">
                            <img src="{{ 'fe800-3d-item1.png' | asset_img_url: width: 100 }}" />
                            <p>Black/White</p>
                        </div>
                        <div class="item" type="CarbonBlack">
                            <img src="{{ 'fe800-3d-item2.png' | asset_img_url: width: 100 }}" />
                            <p>Carbon Black</p>
                        </div>
                        <div class="item" type="MidnightBlue">
                            <img src="{{ 'fe800-3d-item3.png' | asset_img_url: width: 100 }}" />
                            <p>Midnight Blue</p>
                        </div>
                        <div class="item" type="MidnightGreen">
                            <img src="{{ 'fe800-3d-item4.png' | asset_img_url: width: 100 }}" />
                            <p>Midnight Green</p>
                        </div>
                        <div class="item" type="MidnightPurple">
                            <img src="{{'fe800-3d-item5.png' | asset_img_url: width:100}}" />
                            <p>Midnight Purple</p>
                        </div>
                        <div class="item" type="BurgundyRed">
                            <img src="{{'fe800-3d-item6.png' | asset_img_url: width:100}}" />
                            <p>Burgundy Red</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>