<div class="product_color">
    <!-- vertagear-container -->
    <h2>Select from a variety of colors and styles to match your preference.</h2>
    <div class="product_color-inner">
        <!-- SLIDER -->

        <div class="index-reviews">

            <div class="index-reviews__mains">
                <div class="index-reviews__main-inner" :class="'-current-'+current">

                    <div class="index-reviews__swiper-boxs index-reviews__main-tab -active">
                        <div class="fe800-vertagear-container">
                            <div class="index-reviews__main-tab-inner">

                                <swiper class="index-reviews__swiper fe800-index-reviews__swiper" :options="options">

                                    <!-- product SL3800 -->
                                    <swiper-slide class="index-reviews__swiper-slide" index="0">
                                        <div class="product_color-item">
                                            <div class="product_color-item-content">
                                                <img src="{{'fe800-SL3800-Black-White.png'| asset_img_url}}" />

                                                <span class="color-title">Black & White</span>
                                                <div class="group-color" id="color-item1">
                                                    <div type="BlackWhite" class="color active"></div>
                                                    <div type="CarbonBlack" class="color"></div>
                                                    <div type="MidnightBlue" class="color"></div>
                                                    <div type="MidnightGreen" class="color"></div>
                                                    <div type="MidnightPurple" class="color"></div>
                                                    <div type="BurgundyRed" class="color"></div>
                                                </div>
                                                <h4>SL3800</h4>

                                            </div>
                                            <!-- button viewmode -->
                                            <a class="fe800-btn-viewmode-js  btn-viewmode" name="SL3800">
                                                <img src="{{'fe800-viewmode.svg'| asset_url}}" />
                                                <span>View in&nbsp;</span> 3D Mode
                                            </a>
                                        </div>

                                    </swiper-slide>

                                    <!-- product SL5800-->
                                    <swiper-slide class="index-reviews__swiper-slide" index="1">
                                        <div class="product_color-item">
                                            <div class="product_color-item-content">
                                                <img src="{{'fe800-SL5800-Black-White.png' | asset_img_url}}" />

                                                <span class="color-title">Black & White</span>
                                                <div class="group-color" id="color-item2">
                                                    <div type="BlackWhite" class="color active"></div>
                                                    <div type="CarbonBlack" class="color"></div>
                                                    <div type="MidnightBlue" class="color"></div>
                                                    <div type="MidnightGreen" class="color"></div>
                                                    <div type="MidnightPurple" class="color"></div>
                                                    <div type="BurgundyRed" class="color"></div>

                                                </div>
                                                <h4>SL5800</h4>
                                            </div>
                                            <!-- button viewmode -->
                                            <a class="fe800-btn-viewmode-js  btn-viewmode" name="SL5800">
                                                <img src="{{ 'fe800-viewmode.svg' | asset_url }}" />
                                                <span>View in&nbsp;</span> 3D Mode
                                            </a>
                                        </div>
                                    </swiper-slide>


                                    <!-- product PL4800-->
                                    <swiper-slide class="index-reviews__swiper-slide" index="2">
                                        <div class="product_color-item">
                                            <div class="product_color-item-content">
                                                <img src="{{ 'fe800-PL4800-Black-White' | asset_img_url }}" />

                                                <span class="color-title">Black & White</span>
                                                <div class="group-color" id="color-item3">
                                                    <div type="BlackWhite" class="color active"></div>
                                                    <div type="CarbonBlack" class="color"></div>
                                                    <div type="MidnightBlue" class="color"></div>
                                                    <div type="MidnightGreen" class="color"></div>
                                                    <div type="MidnightPurple" class="color"></div>
                                                    <div type="BurgundyRed" class="color"></div>
                                                </div>
                                                <h4>PL4800</h4>
                                            </div>

                                            <!-- button viewmode -->
                                            <a class="fe800-btn-viewmode-js  btn-viewmode" name="PL4800">
                                                <img src="{{ 'fe800-viewmode.svg' | asset_url }}" />
                                                <span>View in&nbsp;</span> 3D Mode
                                            </a>
                                        </div>
                                    </swiper-slide>


                                    <!-- product PL6800-->
                                    <swiper-slide class="index-reviews__swiper-slide" id="sos" index="3">
                                        <div class="product_color-item">
                                            <div class="product_color-item-content">
                                                <img src="{{ 'fe800-PL6800-Black-White.png' | asset_img_url }}" />

                                                <span class="color-title">Black & White</span>
                                                <div class="group-color" id="color-item4">
                                                    <div type="BlackWhite" class="color active"></div>
                                                    <div type="CarbonBlack" class="color"></div>
                                                    <div type="MidnightBlue" class="color"></div>
                                                    <div type="MidnightGreen" class="color"></div>
                                                    <div type="MidnightPurple" class="color"></div>
                                                    <div type="BurgundyRed" class="color"></div>

                                                </div>
                                                <h4>PL6800</h4>
                                            </div>

                                            <!-- button viewmode -->
                                            <a class="fe800-btn-viewmode-js  btn-viewmode" name="PL6800">
                                                <img src="{{'fe800-viewmode.svg' | asset_url}}" />
                                                <span>View in&nbsp;</span> 3D Mode
                                            </a>
                                        </div>
                                    </swiper-slide>


                                </swiper>

                                <div class="page-index">
                                    <div class="dot active" numSlider="0"></div>
                                    <div class="dot" numSlider="1"></div>
                                    <div class="dot" numSlider="2"></div>
                                    <div class="dot" numSlider="3"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>

{% schema %}
{
  "class": "fp-auto-height"
}
{% endschema %}