  {%- comment -%} <script>
  const globalProductDetailGallery = {{ product | json }};
  console.log(globalProductDetailGallery);
  </script> {%- endcomment -%}
<div class="popin-gallery" style="display: none;">
  <div class="popin-gallery-overlay js-close-popin-gallery"></div>
  <div class="popin-inner">
    <div class="group-tab">
      <div class="tab" type="video">Video</div>
      <div class="tab" type="gallery">Gallery</div>
      <div class="cta-close js-close-popin-gallery"><img src="//cdn.shopify.com/s/files/1/1759/4609/files/pop-close.svg?v=1972664831519498879"></div>
    </div>

    <div class="group-gallery">
      <div class="swiper mySwiper2" id="productdetail-gallery-main">
        <div class="swiper-wrapper">
          {% for item in product.media %}
            {% if item.media_type == 'image' and item.id != product.variants[0].featured_media.id and item.id != product.variants[1].featured_media.id and item.id != product.variants[2].featured_media.id and item.id != product.variants[3].featured_media.id and item.id != product.variants[4].featured_media.id and item.id != product.variants[5].featured_media.id %}
              <div class="swiper-slide">
                <img class="lazyload" data-src="{{ item.src | image_url }}"/>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="swiper-button-next swiper-gallery-next-main"></div>
        <div class="swiper-button-prev swiper-gallery-prev-main"></div>
      </div>
      <div thumbsSlider="" class="swiper mySwiper" id="productdetail-gallery-thumb">
        <div class="swiper-wrapper">
          {% for item in product.media %}
            {% if item.media_type == 'image' and item.id != product.variants[0].featured_media.id and item.id != product.variants[1].featured_media.id and item.id != product.variants[2].featured_media.id and item.id != product.variants[3].featured_media.id and item.id != product.variants[4].featured_media.id and item.id != product.variants[5].featured_media.id %}
              <div class="swiper-slide">
                <img class="lazyload" data-src="{{ item.src | image_url }}"/>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="swiper-button-next swiper-gallery-next-thumb"></div>
        <div class="swiper-button-prev swiper-gallery-prev-thumb"></div>
      </div>
    </div>

    <div class="group-video">
      <div class="swiper mySwiper2" id="productdetail-video-main">
        <div class="swiper-wrapper">
           {% for item in product.media %}
            {% if item.media_type == 'video' %}
              {% assign videos = item.sources %}
             <div class="swiper-slide">
               {% if videos[0].format == 'mp4' and  videos[0].url != '' %}
                <video controls muted playsinline src="{{ videos[0].url }}"></video>
               {% else if videos[1].format == 'mp4' and  videos[1].url != '' %}
                <video controls muted playsinline src="{{ videos[1].url }}"></video>
               {% else if videos[2].format == 'mp4' and  videos[2].url != '' %}
                <video controls muted playsinline src="{{ videos[2].url }}"></video>
               {% endif %}
                <div class="btn-play"><img src="{{ 'playicon.png' | asset_url }}"/></div>
              </div>
            {% elsif item.media_type == "external_video" and item.host == "youtube" %}
              <div class="swiper-slide">
                {{ item | external_video_url: color: 'white' | external_video_tag }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="swiper-button-next swiper-video-next-main"></div>
        <div class="swiper-button-prev swiper-video-prev-main"></div>
      </div>
      <div thumbsSlider="" class="swiper mySwiper" id="productdetail-video-thumb">
        <div class="swiper-wrapper">
          {% for item in product.media %}
            {% if item.media_type == 'video' or item.media_type == 'external_video' %}
              {% assign videos = item.preview_image %}
                <div class="swiper-slide">
                <img class="lazyload" data-src="{{ videos.src | image_url }}"/>
                <div class="title"><span>{{ item.alt }}</span></div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="swiper-button-next swiper-video-next-thumb"></div>
        <div class="swiper-button-prev swiper-video-prev-thumb"></div>
      </div>
    </div>

    <div class="no-group-video">
      No Video
    </div>
    <div class="no-group-gallery">
      No Gallery
    </div>
  </div>
</div>