{% include 'gravityadmin' %}
<div style="display: none !important;  visibility: hidden !important;" class="cmspro-section" id="cmspro-5750cc88"></div>
<footer id="footer-theme">
   <section>
      <div class="container">
         <div class="row">
            <div class="column col-xs-12 col-sm-4 col-md-2">
               <h4>News &amp; Info</h4>
               <ul id="menu-news-info" class="">
                  <li id="menu-item-132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-132"><a href="/pages/about-us/">About Vertagear</a></li>
                  <li id="menu-item-540" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-540"><a href="/blogs/press-room">Press Release</a></li>
               </ul>
            </div>
            <div class="column col-xs-12 col-sm-4 col-md-2">
               <h4>Community</h4>
               <ul id="menu-community" class="">
                  <li id="menu-item-186" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-186"><a href="/blogs/news/">Blog</a></li>
                  <li id="menu-item-1152" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1152"><a href="/pages/vertagear-alliances/">Esports</a></li>
               </ul>
            </div>
            <div class="column col-xs-12 col-sm-4 col-md-2 contact-support">
              <h4>Support</h4>
              <p><i class="fa fa-envelope" aria-hidden="true"></i> Send us a message</p>
              <p>support@vertagear.com</p>
              <p>Telephone Support</p>
              <p><i class="fa fa-phone" aria-hidden="true"></i> (800) 881-0628</p>
              <p><i class="fa fa-clock-o" aria-hidden="true"></i> M-F 8:00am-5:00pm PST</p>
              <!--<p><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:Support@Vertagear.com">Support@Vertagear.com</a></p>-->

           </div>
            <div class="column col-xs-12 col-sm-4 col-md-3 col-xl-offset-1">
               <h4>
                  Newsletter          
               </h4>
             
              <div class="ctct-embed-signup">
                <div class="">
				  {% form 'customer' %}
                    {{ form.errors | default_errors }}
                    {% if form.posted_successfully? %}
                    <p class="note form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
                    {% else %}
                      <p data-id="Email Address:p">
                        <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email" class="input-group-field footer-email-input" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}">
                        <input type="hidden" name="contact[tags]" value="newsletter">
                      </p>
                      <button type="submit" class="btn ccm-input-submit" data-enabled="enabled">Subscribe</button>
                    {% endif %}
                  {% endform %}
                </div>
              </div>

               <!-- .email_list_signup_container -->
            </div>
            <div class="column col-xs-12 col-sm-4 col-md-3 col-xl-2">
               <div class="ccm-custom-style-container ccm-custom-style-main-574 light-single">
                  <div id="ccm-block-social-links574" class="ccm-block-social-links">
                     <ul class="list-inline">
                        <li><a href="https://www.facebook.com/Vertagear" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/vertagear" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/vertagear" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://plus.google.com/u/0/103385976095390817187/videos" target="_blank"><i class="fa fa-google-plus-square"></i></a></li>
                        <li><a href="https://www.pinterest.com/vertagear" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCI66wUzTqsp-_4woLcKHH9g?gl=US" target="_blank"><i class="fa fa-youtube"></i></a></li>
                     </ul>
                  </div>
               </div>
               <ul id="menu-connect" class="">
                  <li id="menu-item-139" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-139"><a href="/pages/contact-us">Contact Us</a></li>
               </ul>
            </div>
         </div>
         <div class="row">
            <div class="col-xs-12">
               <hr>
               <p style="text-align: right;">
                 <span style="font-size: 10px;">
                   <a href="/pages/privacy-policy/">PRIVACY POLICY</a> |
                   <a href="/pages/terms-and-conditions/">TERMS & CONDITIONS</a> |
                 </span><a href="//vertagear.com/"><span style="font-size: 10px;">
                  © VERTAGEAR 2017            
                 </span></a>
               </p>
            </div>
         </div>
      </div>
   </section>
</footer>