<div class="hygennx-feature">

    <div class="vertagear-container hygennx-feature__container">
        <div class="hygennx-feature__inner">
            <div class="hygennx-feature__swiper-arrow swiper-arrow -prev vertagear-icon -icon-left"></div>
            <div class="hygennx-feature__swiper-arrow swiper-arrow -next vertagear-icon -icon-right"></div>
            <swiper class="hygennx-feature__swiper" :options="options" key="hygennx-feature-swiper">
                <swiper-slide class="hygennx-feature__swiper-slide ">
                    <img src='{{section.settings.bg_1 | img_url : 'master'}}' class="hygennx-feature__swiper-slide-bg" alt>
                    <div class="hygennx-feature__single">
                        <div class="hygennx-feature__single-icon">
                            <svg width="67.421" height="83.995" viewBox="0 0 67.421 83.995" class="hygennx-feature__single-icon-img">
                              <path d="M67.421 8.213l-33.55 75.783L0 2.345h51.289V0l8.1 5.241H4.46L33.871 76.88l30.3-68.667z" fill="#fff" fill-rule="evenodd"/>
                              <path d="M23.269 13.476h-9l12.841 30.84 4.429-10.763z" fill="#4e4cf7"/>
                              <path d="M29.395 49.656l4.4 10.43 14.323-34.458h-8.9zM31.511 21.662h18.247l3.391-8.187H28.191z" fill="#fff"/>
                            </svg>
                        </div>
                        <div class="hygennx-feature__single-main-icon">
                            <svg class="hygennx-feature__single-main-icon-img" width="100" height="99.989" viewBox="0 0 100 99.989">
                              <path id="Path_2215" data-name="Path 2215" d="M-1428.951,392.193a48.845,48.845,0,0,0,10.9-37.474,47.9,47.9,0,0,0-8.6-22.633l-.272-.384.025-.016a47.863,47.863,0,0,0-5.3-6.225l-.055-.06a2.224,2.224,0,0,0-.23-.223l-.025-.022a52.908,52.908,0,0,0-7.694-6.176,52.138,52.138,0,0,0-5.754-3.309,52.161,52.161,0,0,0-10.508-3.518,50.44,50.44,0,0,0-8.986-1.394q-1.429-.088-2.855-.088a46.512,46.512,0,0,0-14.766,2.416,49.554,49.554,0,0,0-27.853,22.6,48.358,48.358,0,0,0-5.7,35.008,48.424,48.424,0,0,0,18.381,29.406c11.973,9.25,25.648,12.443,40.646,9.491A48.042,48.042,0,0,0-1428.951,392.193Zm-79.059-10.488-.32.182-.242-.277c-.058-.067-.1-.116-.139-.154a1.245,1.245,0,0,1-.182-.231c-.109-.192-.212-.388-.3-.582a45.426,45.426,0,0,1-4.056-26.776,45.193,45.193,0,0,1,17.166-29.473,44.988,44.988,0,0,1,29.426-9.862,45.061,45.061,0,0,1,7.173.679,38.5,38.5,0,0,1,5.628,1.359,56.337,56.337,0,0,1,5.487,2.278,45.976,45.976,0,0,1,5.625,3.06,44.9,44.9,0,0,1,9.633,8.316l.024.027c.023.026.047.053.069.081q.693.848,1.406,1.7c.138.175.331.4.535.632.189.218.382.44.544.638l.14-.04.112.356c.494.587.989,1.176,1.489,1.777l.342.411-23.342,13.471-.089-.666c-.034-.255-.071-.482-.1-.692a8.526,8.526,0,0,1-.134-1.162,19.714,19.714,0,0,1,3.9-12.442c1.095-1.481,1.107-2.633.035-3.425a1.546,1.546,0,0,0-1.458-.258,3.679,3.679,0,0,0-1.694,1.4,22,22,0,0,0-4.439,16.382c.349,2.663-.682,3.744-2.581,4.711-1.849.941-3.61,1.977-5.475,3.075-.781.46-1.589.935-2.4,1.4l-.349.2-.238-.325a18.268,18.268,0,0,1-3.582-9.534,19.831,19.831,0,0,1,4.041-14.038,2.568,2.568,0,0,0,.453-1.877,2.489,2.489,0,0,0-1.334-1.363c-.782-.3-1.535.053-2.237,1.037-5.744,8.047-6.47,16.568-2.156,25.324.261.53.558,1.05.873,1.6.154.269.312.546.472.834l.215.388-10.143,5.827-.238-.328c-.066-.091-.122-.164-.169-.228a3.65,3.65,0,0,1-.226-.322c-.452-.753-.9-1.525-1.332-2.271-.938-1.616-1.908-3.286-2.961-4.854a20.215,20.215,0,0,1-3.758-11.862,19.621,19.621,0,0,1,4.165-11.853,2.011,2.011,0,0,0-.187-3.025c-.852-.67-2-.4-2.858.675a23.577,23.577,0,0,0-.526,28.226,41.951,41.951,0,0,1,2.724,4.454c.365.657.743,1.337,1.128,1.992a1.591,1.591,0,0,1,.25,1.237,1.916,1.916,0,0,1-.986,1.072c-4.4,2.516-8.859,5.1-13.173,7.592q-2.726,1.578-5.454,3.153c-.956.552-1.93,1.1-2.871,1.635Q-1507.355,381.333-1508.011,381.705Zm39.874,24.955a43.912,43.912,0,0,1-21.6-5.383,51.141,51.141,0,0,1-16.655-15.469l-.286-.4,23.492-13.556.006.774a19.875,19.875,0,0,1-3.115,11.237c-.2.316-.424.62-.638.914-.2.271-.4.55-.582.83a1.949,1.949,0,0,0,.372,2.742,1.9,1.9,0,0,0,2.7-.462,22.724,22.724,0,0,0,5.016-12.554c.061-.807.044-1.643.028-2.452-.013-.66-.027-1.343,0-2.019a2.1,2.1,0,0,1,.758-1.6c2.69-1.6,5.354-3.129,8.176-4.747l2.331-1.339.361-.208.235.344a15.126,15.126,0,0,1,2.347,5.953,19.556,19.556,0,0,1-3.649,15.944,2.647,2.647,0,0,0-.641,1.968,1.826,1.826,0,0,0,.811,1.229c.928.656,2.038.313,2.9-.893,5.678-7.971,6.423-16.372,2.216-24.969a1.617,1.617,0,0,1,.786-2.524c1.93-1.042,3.8-2.123,5.781-3.267q1.165-.673,2.356-1.357l.429-.245.2.45a31.654,31.654,0,0,0,2.99,4.895,23.388,23.388,0,0,1,3.785,7.04,19.747,19.747,0,0,1-3,17.358l-.117.165a4.931,4.931,0,0,0-.75,1.31,1.917,1.917,0,0,0,1.048,2.179,1.943,1.943,0,0,0,2.437-.726,22.725,22.725,0,0,0,4.467-9.315,23.867,23.867,0,0,0-4.759-20.326,29.532,29.532,0,0,1-1.932-2.993c-.292-.494-.594-1.006-.916-1.521l-.247-.4,24.318-14.031.209.444c6.585,14.016,6.786,27.57.6,40.288-4.22,8.672-9.909,15.34-16.908,19.817-7.08,4.529-15.543,6.845-25.154,6.882Z" transform="translate(1517.695 -310.67)" fill="#fff"/>
                            </svg>
                        </div>
                        <div class="hygennx-feature__single-title">
                            {{section.settings.title_1}}
                        </div>
                        <div class="hygennx-feature__single-desc">
                            {{section.settings.desc_1}}
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide class="hygennx-feature__swiper-slide ">
                      <img src='{{section.settings.bg_2 | img_url : 'master'}}' class="hygennx-feature__swiper-slide-bg" alt>
                      <div class="hygennx-feature__single">
                          <div class="hygennx-feature__single-icon">
<!--                             <svg width="67.421" height="83.995" viewBox="0 0 67.421 83.995" class="hygennx-feature__single-icon-img">
                              <path d="M67.421 8.213l-33.55 75.783L0 2.345h51.289V0l8.1 5.241H4.46L33.871 76.88l30.3-68.667z" fill="#fff" fill-rule="evenodd"/>
                              <path d="M23.269 13.476h-9l12.841 30.84 4.429-10.763z" fill="#4e4cf7"/>
                              <path d="M29.395 49.656l4.4 10.43 14.323-34.458h-8.9zM31.511 21.662h18.247l3.391-8.187H28.191z" fill="#fff"/>
                            </svg> -->
                            <svg class="hygennx-feature__single-icon-img" width="67.421" height="83.995" viewBox="0 0 67.421 83.995"><g data-name="Group 978"><path data-name="Path 2180" d="M67.421 8.213l-33.55 75.783L0 2.345h51.289V0l8.1 5.241H4.46L33.871 76.88l30.3-68.667z" fill="#fff" fill-rule="evenodd"/><g data-name="Group 976"><path data-name="Path 9" d="M23.269 13.476h-9l12.841 30.84 4.429-10.763z" fill="#fff"/><path data-name="Path 10" d="M29.395 49.656l4.4 10.43 14.323-34.458h-8.9z" fill="#fff"/><path data-name="Path 11" d="M31.511 21.662h18.247l3.391-8.187H28.191z" fill="#4e4cf7"/></g></g></svg>
                          </div>
                          <div class="hygennx-feature__single-main-icon">
                              <svg class="hygennx-feature__single-main-icon-img" width="100.284" height="100.284" viewBox="0 0 100.284 100.284">
                                <g id="Group_1006" data-name="Group 1006" transform="translate(2013.184 -310.647)">
                                  <path id="Path_2216" data-name="Path 2216" d="M-1963.015,310.647c-27.385-.025-50.094,22.629-50.169,50.046a50.249,50.249,0,0,0,50.115,50.237,50.494,50.494,0,0,0,50.169-50.159A50.245,50.245,0,0,0-1963.015,310.647Zm-34.931,80.953a45.53,45.53,0,0,1-11.476-27.078c-1.692-21.885,11.212-41.559,32.126-48.023,16.612-5.134,31.793-1.888,45.133,9.439.651.553.642.826.041,1.419-4.405,4.349-8.769,8.74-13.151,13.114l-26.675,26.676q-12.258,12.267-24.5,24.545C-1997.122,392.367-1997.408,392.217-1997.946,391.6Zm49.126,13.485c-16.618,5.129-31.8,1.864-45.128-9.477-.587-.5-.645-.759-.062-1.339q11.821-11.756,23.594-23.562l27.845-27.842c4.321-4.329,8.66-8.641,12.958-12.993.588-.6.856-.613,1.421.034a45.583,45.583,0,0,1,11.531,27.174C-1914.987,378.981-1927.889,398.625-1948.82,405.085Z" transform="translate(0 0)" fill="#fff"/>
                                  <path id="Path_2217" data-name="Path 2217" d="M-1912.253,419.8a17.861,17.861,0,0,0-4.506-3.967,75.993,75.993,0,0,0-7.761-3.695,6.878,6.878,0,0,1-4.279-5.927c-.44-4.837.623-8.81,5.973-11.149a29.366,29.366,0,0,1,9.443-2.015,38.433,38.433,0,0,1,22.477,4.806,2.185,2.185,0,0,0,2.93-.286,1.91,1.91,0,0,0-.656-2.558c-.705-.474-1.942-.669-2.061-1.354-.126-.726.625-1.6.976-2.415a1.814,1.814,0,0,0-.761-2.486,1.8,1.8,0,0,0-2.439.9c-.367.689-.7,1.4-1.018,2.112-.168.377-.35.49-.771.329a44.587,44.587,0,0,0-6.093-1.813c-.547-.124-.659-.337-.487-.836.292-.844.587-1.69.81-2.553a1.791,1.791,0,0,0-1.111-2.266,1.769,1.769,0,0,0-2.29,1.224c-.352.98-.687,1.97-.948,2.976a.764.764,0,0,1-1.03.666,25.943,25.943,0,0,0-4.353-.177c-.852,0-1.951.292-2.49-.125-.589-.457-.133-1.61-.2-2.456-.006-.074,0-.149,0-.223-.052-1.224-.65-1.912-1.7-1.953a1.766,1.766,0,0,0-1.878,1.9c-.04.856-.031,1.715,0,2.572.016.5-.139.7-.667.783a28.175,28.175,0,0,0-5.109,1.166c-.489.177-.661-.021-.856-.4-.426-.827-.859-1.653-1.337-2.451a1.771,1.771,0,0,0-2.489-.748,1.783,1.783,0,0,0-.654,2.432,19,19,0,0,0,1.119,2.06c.381.594.342.957-.3,1.335a10.069,10.069,0,0,0-2.726,2.462c-.6.746-1.049,2.077-1.713,2.178-.8.123-1.754-.792-2.654-1.232a1.81,1.81,0,0,0-2.525.617,1.79,1.79,0,0,0,.848,2.54q1.36.771,2.762,1.466a.774.774,0,0,1,.485.972,12.386,12.386,0,0,0-.041,4.118.942.942,0,0,1-.53,1.08c-.79.493-1.587.981-2.327,1.544a1.734,1.734,0,0,0-.377,2.4,1.647,1.647,0,0,0,2.258.582c.724-.376,1.526-1.316,2.057-1.166.656.185.933,1.444,1.607,1.878,1.976,1.272,1.952,2.749.955,4.624a1.675,1.675,0,0,0,.988,2.369,1.763,1.763,0,0,0,2.284-1.043,18.194,18.194,0,0,0,.732-1.87c.157-.478.381-.542.82-.335q2.17,1.025,4.366,1.995c.57.251.6.518.2.967a15.016,15.016,0,0,0-1.332,1.652,1.7,1.7,0,0,0,.38,2.387,1.655,1.655,0,0,0,2.329-.137,8.766,8.766,0,0,0,1.292-1.538c.522-.8.932-.654,1.366.04.7,1.119,1.6,1.763,2.986,1.267C-1911.2,421.69-1911.175,421.136-1912.253,419.8Z" transform="translate(-59.231 -57.179)" fill="#fff"/>
                                  <path id="Path_2218" data-name="Path 2218" d="M-1795.6,479.541c-.576-.146-1.17-.226-1.759-.315-.516-.077-.74-.291-.729-.875a28.288,28.288,0,0,0-1.421-9.345c-.2-.6-.031-.786.5-.944.82-.241,1.635-.513,2.427-.833a1.753,1.753,0,0,0,1.124-2.152,1.8,1.8,0,0,0-2.206-1.227c-.506.114-.993.311-1.487.476-1.962.654-1.961.654-3.021-1.034-.178-.284-.366-.562-.557-.838-.968-1.4-1.422-1.551-2.993-1.011a2.046,2.046,0,0,0-.169,2.746,21.44,21.44,0,0,1,4.059,11.205c.54,8.943-.7,17.4-6.953,24.439a18.061,18.061,0,0,1-9.253,5.746c-4.221,1.056-6.972-.275-8.889-4.17a24.821,24.821,0,0,1-1.19-2.889c-1.055-3.067-1.715-6.246-2.583-9.367-.435-1.563-.777-1.836-2.431-1.844-1.255.852-1.4,1.232-1.027,2.713.118.469.23.94.344,1.41.191.793.716,1.712.48,2.347-.26.7-1.426.529-2.177.8l-.21.077a1.81,1.81,0,0,0-1.272,2.082,1.768,1.768,0,0,0,2.121,1.354,12.173,12.173,0,0,0,1.73-.437c.627-.2,1.011-.154,1.191.623a17.526,17.526,0,0,0,.9,2.635c.422,1.031,1.368,2.09,1.253,3.034-.126,1.024-1.546,1.587-2.343,2.411a1.762,1.762,0,0,0-.17,2.51,1.762,1.762,0,0,0,2.59.123c.631-.523,1.243-1.072,1.825-1.649a.7.7,0,0,1,1.118-.049,9.93,9.93,0,0,0,6.093,2.182c.565.015.791.208.871.744q.224,1.491.529,2.968a1.846,1.846,0,0,0,2.132,1.651,1.774,1.774,0,0,0,1.4-2.188,28.558,28.558,0,0,0-.565-3.074c-.14-.568,0-.789.535-.967a21.824,21.824,0,0,0,6.333-3.479c.5-.383,1.009-1.127,1.477-1.1.64.038.662,1.019,1.019,1.554a1.789,1.789,0,0,0,2.326.742,1.791,1.791,0,0,0,.9-2.268,5.048,5.048,0,0,0-.592-1.2,2.4,2.4,0,0,1,.225-3.409,23.421,23.421,0,0,0,3.015-5.107,14.014,14.014,0,0,0,.909,1.071,1.781,1.781,0,0,0,2.589.164,1.772,1.772,0,0,0-.046-2.675,15.583,15.583,0,0,0-1.422-1.423,1.447,1.447,0,0,1-.484-1.757,29.709,29.709,0,0,0,1.005-4.8c.092-.663-.04-1.518.326-1.943.473-.548,1.291.045,1.964.091a1.8,1.8,0,0,0,1.987-1.409A1.765,1.765,0,0,0-1795.6,479.541Z" transform="translate(-136.319 -116.472)" fill="#fff"/>
                                  <path id="Path_2219" data-name="Path 2219" d="M-1774.33,609.79a1.825,1.825,0,0,0,1.763-1.7c.043-.593.008-1.192.007-1.789-.052-.782-.082-1.565-.16-2.343a1.789,1.789,0,0,0-1.84-1.831,1.816,1.816,0,0,0-1.725,1.968c0,1.341.072,2.683.169,4.02A1.811,1.811,0,0,0-1774.33,609.79Z" transform="translate(-183.327 -225.563)" fill="#fff"/>
                                  <path id="Path_2220" data-name="Path 2220" d="M-1740.739,564.763a1.553,1.553,0,0,0,1.871.265,1.828,1.828,0,0,0,1.063-1.692,1.847,1.847,0,0,0-.192-.647,18.238,18.238,0,0,0-3.441-3.788,1.546,1.546,0,0,0-2.133.3,1.555,1.555,0,0,0-.218,2.142C-1742.839,562.538-1741.8,563.667-1740.739,564.763Z" transform="translate(-208.213 -191.878)" fill="#fff"/>
                                  <path id="Path_2221" data-name="Path 2221" d="M-1726.766,516.674a19.242,19.242,0,0,0,4.124,1.553,1.806,1.806,0,0,0,1.847-1.358,1.56,1.56,0,0,0-.849-1.971,25.389,25.389,0,0,0-3.765-1.34,1.552,1.552,0,0,0-1.888,1.027A1.578,1.578,0,0,0-1726.766,516.674Z" transform="translate(-221.101 -156.98)" fill="#fff"/>
                                  <path id="Path_2222" data-name="Path 2222" d="M-1849.56,446.206c.642-.889.415-1.883-.666-2.677-1.378-1.012-2.782-1.988-4.172-2.984a1.9,1.9,0,0,0-1.242-.426,1.662,1.662,0,0,0-1.672,1.214,1.7,1.7,0,0,0,.726,2.043q2.116,1.546,4.265,3.046A1.858,1.858,0,0,0-1849.56,446.206Z" transform="translate(-120.543 -100.191)" fill="#fff"/>
                                  <path id="Path_2223" data-name="Path 2223" d="M-1837.053,499.506c-.7-.058-1.408-.011-2.113-.011v-.006c-.667,0-1.336-.023-2,.005a1.637,1.637,0,0,0-1.688,1.591,1.545,1.545,0,0,0,1.269,1.829,13.913,13.913,0,0,0,4.859,0,1.539,1.539,0,0,0,1.247-1.837A1.584,1.584,0,0,0-1837.053,499.506Z" transform="translate(-131.798 -146.128)" fill="#fff"/>
                                  <path id="Path_2224" data-name="Path 2224" d="M-1794.161,436.766a1.574,1.574,0,0,0-1.375,1.869,26.374,26.374,0,0,0,.952,3.9,1.566,1.566,0,0,0,2.005,1c.905-.212,1.363-.855,1.338-2.138-.255-.984-.521-2.3-.951-3.567A1.57,1.57,0,0,0-1794.161,436.766Z" transform="translate(-168.408 -97.556)" fill="#fff"/>
                                </g>
                              </svg>
                          </div>
                          <div class="hygennx-feature__single-title">
                              {{section.settings.title_2}}
                          </div>
                          <div class="hygennx-feature__single-desc">
                              {{section.settings.desc_2}}
                          </div>
                      </div>
                  </swiper-slide>
                  <swiper-slide class="hygennx-feature__swiper-slide ">
                      <img src='{{section.settings.bg_3 | img_url : 'master'}}' class="hygennx-feature__swiper-slide-bg" alt>
                      <div class="hygennx-feature__single">
                          <div class="hygennx-feature__single-icon">
<!--                             <svg width="67.421" height="83.995" viewBox="0 0 67.421 83.995" >
                              <path d="M67.421 8.213l-33.55 75.783L0 2.345h51.289V0l8.1 5.241H4.46L33.871 76.88l30.3-68.667z" fill="#fff" fill-rule="evenodd"/>
                              <path d="M23.269 13.476h-9l12.841 30.84 4.429-10.763z" fill="#4e4cf7"/>
                              <path d="M29.395 49.656l4.4 10.43 14.323-34.458h-8.9zM31.511 21.662h18.247l3.391-8.187H28.191z" fill="#fff"/>
                            </svg> -->
                            <svg class="hygennx-feature__single-icon-img" width="67.421" height="83.995" viewBox="0 0 67.421 83.995"><g data-name="Group 979"><path data-name="Path 2180" d="M67.421 8.213l-33.55 75.783L0 2.345h51.289V0l8.1 5.241H4.46L33.871 76.88l30.3-68.667z" fill="#fff" fill-rule="evenodd"/><g data-name="Group 976"><path data-name="Path 9" d="M23.269 13.476h-9l12.841 30.84 4.429-10.763z" fill="#fff"/><path data-name="Path 10" d="M29.395 49.656l4.4 10.43 14.323-34.458h-8.9z" fill="#4e4cf7"/><path data-name="Path 11" d="M31.511 21.662h18.247l3.391-8.187H28.191z" fill="#fff"/></g></g></svg>                            
                          </div>
                          <div class="hygennx-feature__single-main-icon">
                              <svg class="hygennx-feature__single-main-icon-img" width="100.187" height="100.187" viewBox="0 0 100.187 100.187">
                                <g id="Group_1025" data-name="Group 1025" transform="translate(-986 -3821)">
                                  <g id="Group_1024" data-name="Group 1024" transform="translate(986 3821)">
                                    <g id="Group_1022" data-name="Group 1022" transform="translate(20.423 20.544)">
                                      <g id="Group_1007" data-name="Group 1007">
                                        <path id="Path_2225" data-name="Path 2225" d="M-2370.041,421.762a.405.405,0,0,1-.382-.273c-1.079-3.12-1.16-3.184-3.249-6.1a17.189,17.189,0,0,1-1.624-2.886,7.285,7.285,0,0,1-.623-3.374.4.4,0,0,1,.578-.343l1.208.573a.406.406,0,0,0,.578-.4c-.167-2.349-.33-4.651-.5-7a.406.406,0,0,0-.632-.308l-5.822,3.934a.406.406,0,0,0,.046.7c.529.262,1.02.507,1.52.731.309.139.354.317.342.64a21.25,21.25,0,0,0-.01,3.207,13.331,13.331,0,0,0,3.083,6.765,12.3,12.3,0,0,1,2.051,3.59l0,.005a.4.4,0,0,1-.387.526h-10.411a.408.408,0,0,1-.394-.314,15.945,15.945,0,0,0-3.238-6.041,10.377,10.377,0,0,1-2.075-4.374,7.542,7.542,0,0,1-.17-1.891.407.407,0,0,1,.581-.349l1.207.577a.406.406,0,0,0,.579-.394c-.166-2.351-.329-4.651-.5-7a.406.406,0,0,0-.632-.307l-6.345,4.287c.079.079.1.111.126.125.48.239.961.477,1.444.712.872.423.872.422.772,1.4-.012.121-.017.242-.025.363a12.383,12.383,0,0,0,2.36,7.963c.536.786,1.141,1.525,1.676,2.313a9.469,9.469,0,0,1,1.346,2.89c-.065.033-.094.062-.124.062q-5.2.007-10.392,0a.809.809,0,0,1-.735-.57,15.712,15.712,0,0,0-3.084-5.666,10.8,10.8,0,0,1-2.125-4.3,7.878,7.878,0,0,1-.226-2.11.406.406,0,0,1,.583-.347l1.213.585a.406.406,0,0,0,.58-.394c-.167-2.358-.331-4.661-.5-7.007a.406.406,0,0,0-.631-.307l-5.823,3.934a.405.405,0,0,0,.046.7c.505.252.979.489,1.462.7a.558.558,0,0,1,.394.7,13.885,13.885,0,0,0-.091,2.433,13.291,13.291,0,0,0,3.127,7.449,12.863,12.863,0,0,1,2.076,3.578q.02.057.039.115a.4.4,0,0,1-.387.525h-15.72a.4.4,0,0,0-.405.4v3.429a.405.405,0,0,0,.405.405h2a.4.4,0,0,1,.405.4v1.25a.4.4,0,0,0,.4.4h1.988a.4.4,0,0,0,.4-.4v-1.225a.405.405,0,0,1,.405-.405h4.889a.4.4,0,0,1,.4.405v1.225a.405.405,0,0,0,.406.4h1.988a.405.405,0,0,0,.405-.4v-1.224a.4.4,0,0,1,.4-.405h4.884a.4.4,0,0,1,.405.405v1.224a.405.405,0,0,0,.405.4h1.992a.405.405,0,0,0,.405-.4v-1.221a.405.405,0,0,1,.405-.405h4.881a.405.405,0,0,1,.405.405v1.217a.4.4,0,0,0,.4.4h1.987a.4.4,0,0,0,.4-.4v-1.217a.4.4,0,0,1,.405-.4h4.889a.4.4,0,0,1,.4.4v1.218a.4.4,0,0,0,.405.4h1.988a.4.4,0,0,0,.405-.4v-1.239a.4.4,0,0,1,.4-.405h4.866a.4.4,0,0,1,.4.405v1.241a.406.406,0,0,0,.406.405h2.006a.4.4,0,0,0,.4-.405v-1.238a.4.4,0,0,1,.4-.405h4.846a.405.405,0,0,1,.405.405v1.235a.4.4,0,0,0,.4.4h2.022a.405.405,0,0,0,.406-.4v-1.264a.4.4,0,0,1,.4-.4h1.966a.405.405,0,0,0,.405-.405v-3.432a.405.405,0,0,0-.405-.405Z" transform="translate(2418.273 -401.582)" fill="#fff"/>
                                      </g>
                                      <g id="Group_1008" data-name="Group 1008" transform="translate(0.003 32.255)">
                                        <path id="Path_2226" data-name="Path 2226" d="M-2365.974,544.352h-2.819V546.4h-5.671v-2.046h-2.8V546.4h-5.693v-2.032h-2.829v2.035h-5.661v-2.036h-2.833V546.4h-5.655v-2.051h-2.817v2.052h-5.677V544.37h-2.828v2.088h-7.007v4.224h16.656c-.081.261-.133.457-.2.648a13.274,13.274,0,0,1-2.146,3.657,12.666,12.666,0,0,0-2.9,6.886,12.239,12.239,0,0,0,2.992,8.674,1.416,1.416,0,0,0,2.056.337,1.426,1.426,0,0,0,.161-2.079,21.2,21.2,0,0,1-1.2-1.758,7.732,7.732,0,0,1-.629-7.359,18.125,18.125,0,0,1,1.959-3.226,16.965,16.965,0,0,0,2.508-4.521c.137-.408.243-.826.364-1.242h11.112a11.489,11.489,0,0,1-2.019,3.873c-.418.552-.845,1.1-1.219,1.682-3.188,4.956-2.518,9.942,1.084,14.407a1.391,1.391,0,0,0,1.955.229,1.414,1.414,0,0,0,.255-1.953c-.2-.284-.422-.55-.62-.834a9.4,9.4,0,0,1-1.935-5.282,8.9,8.9,0,0,1,2.022-5.613,16.259,16.259,0,0,0,3.418-6.5h11.27c-.046.173-.074.307-.117.436a13.46,13.46,0,0,1-2.049,3.652,21.006,21.006,0,0,0-1.826,2.83c-2.362,4.627-1.3,9.189,1.9,13.086a1.368,1.368,0,0,0,1.92.172,1.4,1.4,0,0,0,.269-1.912c-.206-.3-.444-.577-.651-.876a9.356,9.356,0,0,1-1.925-5.286,9.337,9.337,0,0,1,2.272-5.948,15.268,15.268,0,0,0,3.177-6.195h11.427v-4.251h-7.048Z" transform="translate(2418.26 -544.352)" fill="#fff"/>
                                      </g>
                                      <g id="Group_1009" data-name="Group 1009" transform="translate(19.789 29.43)">
                                        <path id="Path_2227" data-name="Path 2227" d="M-2330.679,531.849v2.734h2.764v-2.734Z" transform="translate(2330.679 -531.849)" fill="#fff"/>
                                      </g>
                                      <g id="Group_1010" data-name="Group 1010" transform="translate(45.288 29.418)">
                                        <path id="Path_2228" data-name="Path 2228" d="M-2217.815,531.794v2.756h2.745v-2.756Z" transform="translate(2217.815 -531.794)" fill="#fff"/>
                                      </g>
                                      <g id="Group_1011" data-name="Group 1011" transform="translate(53.771 29.435)">
                                        <path id="Path_2229" data-name="Path 2229" d="M-2180.267,531.868v2.743h2.741v-2.743Z" transform="translate(2180.267 -531.868)" fill="#fff"/>
                                      </g>
                                      <g id="Group_1012" data-name="Group 1012" transform="translate(36.803 29.423)">
                                        <path id="Path_2230" data-name="Path 2230" d="M-2255.373,531.818v2.75h2.742v-2.75Z" transform="translate(2255.373 -531.818)" fill="#fff"/>
                                      </g>
                                      <g id="Group_1013" data-name="Group 1013" transform="translate(28.277 29.424)">
                                        <path id="Path_2231" data-name="Path 2231" d="M-2293.11,531.822v2.743h2.763v-2.743Z" transform="translate(2293.11 -531.822)" fill="#fff"/>
                                      </g>
                                      <g id="Group_1014" data-name="Group 1014" transform="translate(11.321 29.433)">
                                        <path id="Path_2232" data-name="Path 2232" d="M-2368.163,531.863v2.727h2.76v-2.727Z" transform="translate(2368.163 -531.863)" fill="#fff"/>
                                      </g>
                                      <g id="Group_1015" data-name="Group 1015" transform="translate(2.811 29.423)">
                                        <path id="Path_2233" data-name="Path 2233" d="M-2405.83,531.818v2.75h2.76v-2.75Z" transform="translate(2405.83 -531.818)" fill="#fff"/>
                                      </g>
                                      <g id="Group_1016" data-name="Group 1016" transform="translate(7.067 26.592)">
                                        <path id="Path_2234" data-name="Path 2234" d="M-2386.992,519.288v2.733h2.749v-2.733Z" transform="translate(2386.992 -519.288)" fill="#fff"/>
                                      </g>
                                      <g id="Group_1017" data-name="Group 1017" transform="translate(15.573 26.584)">
                                        <path id="Path_2235" data-name="Path 2235" d="M-2349.34,519.252V522h2.741v-2.749Z" transform="translate(2349.34 -519.252)" fill="#fff"/>
                                      </g>
                                      <g id="Group_1018" data-name="Group 1018" transform="translate(49.514 26.591)">
                                        <path id="Path_2236" data-name="Path 2236" d="M-2199.107,519.282v2.743h2.756v-2.743Z" transform="translate(2199.107 -519.282)" fill="#fff"/>
                                      </g>
                                      <g id="Group_1019" data-name="Group 1019" transform="translate(41.039 26.58)">
                                        <path id="Path_2237" data-name="Path 2237" d="M-2236.621,519.232v2.74h2.746v-2.74Z" transform="translate(2236.621 -519.232)" fill="#fff"/>
                                      </g>
                                      <g id="Group_1020" data-name="Group 1020" transform="translate(32.549 26.583)">
                                        <path id="Path_2238" data-name="Path 2238" d="M-2274.2,519.246V522h2.731v-2.753Z" transform="translate(2274.202 -519.246)" fill="#fff"/>
                                      </g>
                                      <g id="Group_1021" data-name="Group 1021" transform="translate(24.039 26.589)">
                                        <path id="Path_2239" data-name="Path 2239" d="M-2311.869,519.271v2.741h2.737v-2.741Z" transform="translate(2311.869 -519.271)" fill="#fff"/>
                                      </g>
                                    </g>
                                    <g id="Group_1023" data-name="Group 1023" transform="translate(0 0)">
                                      <path id="Path_2240" data-name="Path 2240" d="M-2458.578,410.833A49.765,49.765,0,0,1-2494,396.161a49.766,49.766,0,0,1-14.672-35.421A49.767,49.767,0,0,1-2494,325.318a49.765,49.765,0,0,1,35.421-14.672,49.766,49.766,0,0,1,35.421,14.672,49.767,49.767,0,0,1,14.672,35.422,49.767,49.767,0,0,1-14.672,35.421A49.765,49.765,0,0,1-2458.578,410.833Zm0-96.346a46.305,46.305,0,0,0-46.253,46.253,46.305,46.305,0,0,0,46.253,46.253,46.305,46.305,0,0,0,46.253-46.253A46.305,46.305,0,0,0-2458.578,314.487Z" transform="translate(2508.671 -310.646)" fill="#fff"/>
                                    </g>
                                  </g>
                                </g>
                              </svg>
                          </div>
                          <div class="hygennx-feature__single-title">
                              {{section.settings.title_3}}
                          </div>
                          <div class="hygennx-feature__single-desc">
                              {{section.settings.desc_3}}
                          </div>
                      </div>
                   </swiper-slide>
            </swiper>
        </div>
    </div>
</div>

{% schema %}
  {
  "name": "Features",
  "settings": [
    {
        "id": "bg_1",
        "type": "image_picker",
        "label": "Background One"
    },
    {
        "id": "title_1",
        "type": "text",
        "label": "Title One",
        "default":"Odor-Control"
    },
    {
        "id": "desc_1",
        "type": "richtext",
        "label": "Description One",
        "default":"<p>Patented infusion technology traps odors in the natural pores of the coffee grounds that are embedded in HygennX fabric, without smelling like coffee.</p>"
    },
    {
        "id": "bg_2",
        "type": "image_picker",
        "label": "Background Two"
    },
    {
        "id": "title_2",
        "type": "text",
        "label": "Title Two",
        "default":"Anti-Microbial"
    },
    {
        "id": "desc_2",
        "type": "richtext",
        "label": "Description Two",
        "default":"<p>Silver coated embroidery defends against bacteria growth (virus, bacteria, fungi) as the silver releases positive ions (Ag+) which have been shown to disrupt the growth of bacteria with its negatively charged ions.</p>"
    },
    {
        "id": "bg_3",
        "type": "image_picker",
        "label": "Background Three"
    },
    {
        "id": "title_3",
        "type": "text",
        "label": "Title Three",
        "default":"Breathability"
    },
    {
        "id": "desc_3",
        "type": "richtext",
        "label": "Description Three",
        "default":"<p>Coffee, a natural odor-absorbing material, is embedded in the cloth of our HygenX chairs and headrests/pillows, to provide better breathability and reduction of heat.</p>"
    }
  ]
  }
{% endschema %}