<style>
  .fe800-coma-ppe__container {
    display: flex;
    flex-direction: column;
    padding: 80px 40px;
    gap: 80px;
    background: #f6f6f6;
  }
  .fe800-coma-ppe__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .fe800-coma-ppe__title {
    text-align: center;
    font-size: 29px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.58px;
  }
  .fe800-coma-ppe__specs {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .fe800-coma-ppe__specs-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
  }
  .fe800-coma-ppe__specs-item img {
    display: flex;
    width: 48px;
    height: 48px;
    padding: 0px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .specs-name {
    margin: 0;
    color: #6d6d6d;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.14px;
  }
  @media (max-width: 576px) {
    .fe800-coma-ppe__container {
      padding: 40px 16px;
    }
    .fe800-coma-ppe__title {
      font-size: 14px;
      font-weight: 500;
      line-height: 140%;
      letter-spacing: -0.14px;
    }
    .fe800-coma-ppe__specs {
      align-items: flex-start;
    }
    .specs-name {
      text-align: center;
    }
  }
</style>

<div class="fe800-coma-ppe__container">
  <div class="fe800-coma-ppe__wrapper">
    <div class="fe800-coma-ppe__title">CONSTRUCTION & MATERIALS</div>
    <div class="fe800-coma-ppe__specs">
      <div class="fe800-coma-ppe__specs-item">
        <img
          src="{{ 'new-fe800-sign-coma-ppe-steel-frame-icon.svg' | asset_url }}"
          alt="steel-frame-icon"
          width=""
          height=""
        >
        <p class="specs-name">Steel Frame</p>
      </div>
      <div class="fe800-coma-ppe__specs-item">
        <img
          src="{{ 'new-fe800-sign-coma-ppe-5stars-base-icon.svg' | asset_url }}"
          alt="5stars-base-icon"
          width=""
          height=""
        >
        <p class="specs-name">Aluminum Alloy 5-star Base</p>
      </div>
      <div class="fe800-coma-ppe__specs-item">
        <img
          src="{{ 'new-fe800-sign-coma-ppe-gas-lift-icon.svg' | asset_url }}"
          alt="5stars-base-icon"
          width=""
          height=""
        >
        <p class="specs-name">Gas Lift</p>
      </div>
      <div class="fe800-coma-ppe__specs-item">
        <img
          src="{{ 'new-fe800-sign-coma-ppe-steel-frame-icon.svg' | asset_url }}"
          alt="steel-frame-icon"
          width=""
          height=""
        >
        <p class="specs-name">PUC Synthetic Faux Leather</p>
      </div>
    </div>
    <div class="fe800-coma-ppe__specs">
      <div class="fe800-coma-ppe__specs-item">
        <img
          src="{{ 'new-fe800-sign-coma-ppe-minus-icon.svg' | asset_url }}"
          alt="minus-icon"
          width=""
          height=""
        >
      </div>
      <div class="fe800-coma-ppe__specs-item">
        <img
          src="{{ 'new-fe800-sign-coma-ppe-uphr-foam-icon.svg' | asset_url }}"
          alt="uphr-foam-icon"
          width=""
          height=""
        >
        <p class="specs-name">UPHR Foam</p>
      </div>
      <div class="fe800-coma-ppe__specs-item">
        <img
          src="{{ 'new-fe800-sign-coma-ppe-caster-icon.svg' | asset_url }}"
          alt="caster-icon"
          width=""
          height=""
        >
        <p class="specs-name">Penta RS1 Caster</p>
      </div>
      <div class="fe800-coma-ppe__specs-item">
        <img
          src="{{ 'new-fe800-sign-coma-ppe-minus-icon.svg' | asset_url }}"
          alt="minus-icon"
          width=""
          height=""
        >
      </div>
    </div>
  </div>
  <div class="fe800-coma-ppe__wrapper">
    <div class="fe800-coma-ppe__title">POSTURE PERFECT ERGONOMICS</div>
    <div class="fe800-coma-ppe__specs">
      <div class="fe800-coma-ppe__specs-item">
        <img
          src="{{ 'new-fe800-sign-coma-ppe-seat-height-icon.svg' | asset_url }}"
          alt="seat-height-icon"
          width=""
          height=""
        >
        <p class="specs-name">Adjustable Seat Height</p>
      </div>
      <div class="fe800-coma-ppe__specs-item">
        <img
          src="{{ 'new-fe800-sign-coma-ppe-neck-support-icon.svg' | asset_url }}"
          alt="neck-support-icon"
          width=""
          height=""
        >
        <p class="specs-name">Neck Support</p>
      </div>
      <div class="fe800-coma-ppe__specs-item">
        <img
          src="{{ 'new-fe800-sign-coma-ppe-backrest-icon.svg' | asset_url }}"
          alt="backrest-icon"
          width=""
          height=""
        >
        <p class="specs-name">Adjustable Backrest</p>
      </div>
      <div class="fe800-coma-ppe__specs-item">
        <img
          src="{{ 'new-fe800-sign-coma-ppe-4d-armrests-icon.svg' | asset_url }}"
          alt="4d-armrests-icon"
          width=""
          height=""
        >
        <p class="specs-name">4D Armrests</p>
      </div>
    </div>
    <div class="fe800-coma-ppe__specs">
      <div class="fe800-coma-ppe__specs-item">
        <img
          src="{{ 'new-fe800-sign-coma-ppe-tilt-system-icon.svg' | asset_url }}"
          alt="tilt-system-icon"
          width=""
          height=""
        >
        <p class="specs-name">Adjustable Tilt with Loking System</p>
      </div>
      <div class="fe800-coma-ppe__specs-item">
        <img
          src="{{ 'new-fe800-sign-coma-ppe-minus-icon.svg' | asset_url }}"
          alt="minus-icon"
          width=""
          height=""
        >
      </div>
      <div class="fe800-coma-ppe__specs-item">
        <img
          src="{{ 'new-fe800-sign-coma-ppe-minus-icon.svg' | asset_url }}"
          alt="minus-icon"
          width=""
          height=""
        >
      </div>
      <div class="fe800-coma-ppe__specs-item">
        <img
          src="{{ 'new-fe800-sign-coma-ppe-minus-icon.svg' | asset_url }}"
          alt="minus-icon"
          width=""
          height=""
        >
      </div>
    </div>
  </div>
</div>
