<link rel="stylesheet" href="{{ 'ld-rgb-v2-feature.css' | asset_url }}">

<div id="ldRgbCarouselFeature" class="rgb__fearure">
    <div class="rgb__feature__position">
        <div class="rgb__feature__container">
            <div class="swiper swipersnormal" id="swiperfearure">
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide each cell">
                        <img src="{{ 'ld-rgb2-feature-desk-1.jpeg' | asset_url }}" alt="feature image" />
                        <div class="content">
                            <div class="title">Gameplay Immersion</div>
                            <div class="desc">
                                With the power of our interactive gameplay modes, your gaming
                                experience extends beyond your monitor and onto your chair.
                                Detonate a bomb, see the lights flash. Get shot or injured,
                                see the colors change from green to yellow to red. The sync
                                options go on and on, allowing you to take your gameplay to
                                the next level. <span class="see-less">See less</span>
                            </div>
                            <span class="see-more">See more</span>
                            
                        </div>
                    </div>
                    <!-- Slides -->
                    <div class="swiper-slide each cell">
                        <img src="{{ 'ld-rgb2-feature-desk-2.jpeg' | asset_url }}" alt="feature image" />
                        <div class="content">
                            <div class="title">Wireless Connectivity Through PC</div>
                            <div class="desc">
                                All presets and effect customizations are done through your PC
                                to maintain a cord-free seating experience. The RGB LED kit is
                                the first of its kind to allow full spectrum customization in
                                lighting effects while keeping the mobility of a regular
                                gaming chair. With zero wires to hold you back, you can
                                achieve optimal performance while enjoying a symphony of
                                visual effects to bolster your gaming experience. <span class="see-less">See less</span>
                            </div>
                            <span class="see-more">See more</span>
                        </div>
                    </div>
                    <!-- Slides -->
                    <div class="swiper-slide each cell">
                        <img src="{{ 'ld-rgb2-feature-desk-3.jpeg' | asset_url }}" alt="feature image" />
                        <div class="content">
                            <div class="title">Customizable Color Combinations</div>
                            <div class="desc">
                                Customizable RGB LEDs let you style your gaming chair to match
                                your mood. Choose from dozens of out-of-box presets and
                                patterns or create your own, all from the ease of your
                                fingertips. Fully adjustable intensity, pattern, color, and
                                speeds of individual LEDs put the creative vision in your own
                                hands. <span class="see-less">See less</span>
                            </div>
                            <span class="see-more">See more</span>
                        </div>
                    </div>
                    <!-- Slides -->
                    <div class="swiper-slide each cell">
                        <img src="{{ 'ld-rgb2-feature-desk-4.jpeg' | asset_url }}" alt="feature image" />
                        <div class="content">
                            <div class="title">Magnetic Charger</div>
                            <div class="desc">
                                Charging is made simple with our multi-option recharging
                                method. The magnetic charging port allows you to quickly
                                connect/disconnect with ease. If wiring is not your choice,
                                you may opt for rechargeable batteries and external charging
                                instead. Different uses for different habits. <span class="see-less">See less</span>
                            </div>
                            <span class="see-more">See more</span>
                        </div>
                    </div>
                </div>

                <div class="swiper-pagination swiperfearure-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev swiperfearure-prev"></div>
                <div class="swiper-button-next swiperfearure-next"></div>

            </div>


        </div>
    </div>
</div>