<div class="block-menuquickview" expand='0'>
    <div class="menucontent">
        <div class="inner">
            <div class="col col-product">
                <!-- item -->
                <div class="item">
                    <img src="{{ 'fe800-series1.jpg' | asset_img_url: '350x' }}">
                    <div class="item-detail">
                        <div class="item-information">
                            <label>SL3800</label>
                            <label><span class="custom_product_price" data-product-id="7024401154159">$349.99</span></label>
                        </div>
                        <a class="vertagear-btn -blue" href="https://www.vertagear.com/products/sl3800" target="_blank" rel="noopener">Shop Now</a>
                    </div>

                </div>
                <!-- item -->
                <div class="item">
                    <img src="{{ 'fe800-series2.jpg' | asset_img_url }}">
                    <div class="item-detail">
                        <div class="item-information">
                            <label>SL5800</label>
                            <label><span class="custom_product_price" data-product-id="3874717401199">$299.99</span></label>
                        </div>
                        <a class="vertagear-btn -blue" href="https://www.vertagear.com/products/sl5800" target="_blank" rel="noopener">Shop Now</a>
                    </div>

                </div>
                <!-- item -->
                <div class="item">
                    <img src="{{ 'fe800-series3.jpg' | asset_img_url }}">
                    <div class="item-detail">
                        <div class="item-information">
                            <label>PL4800</label>
                            <label><span class="custom_product_price" data-product-id="7025941348463">$579.99</span></label>
                        </div>
                        <a class="vertagear-btn -blue" href="https://www.vertagear.com/products/pl4800-ergonomic-gaming-chair" target="_blank" rel="noopener">Shop Now</a>
                    </div>

                </div>
                <!-- item -->
                <div class="item">
                    <img src="{{ 'fe800-series4.jpg' | asset_img_url }}">
                    <div class="item-detail">
                        <div class="item-information">
                            <label>PL6800</label>
                            <label><span class="custom_product_price" data-product-id="7025941446767">$549.99</span></label>
                        </div>
                        <a class="vertagear-btn -blue" href="https://www.vertagear.com/products/pl6800-big-and-tall-ergonomic-gaming-chair" target="_blank" rel="noopener">Shop Now</a>
                    </div>

                </div>

            </div>

        </div>
        <div class="quickview-footer-group">
            <div class="vertagear-container">
                <a href="/">Home</a> / 800 Series chair
            </div>
            <div class="quickview-footer js-viewmoreallproduct"></div>
            <a class="vertagear-cta -blue js-gotoidelement" goto='.series_collection'><img src="{{ 'fe800-icon-chair.svg' | asset_url }}" />View all products</a>
        </div>
    </div>
</div>