{% include 'gravityadmin' %}
<div style="display: none !important;  visibility: hidden !important;" class="cmspro-section" id="cmspro-08a8fd57"></div>

{{ 'vertagear-industry-reviews.scss.css' | asset_url | stylesheet_tag }}
<div class="industry-reviews">
  
  <div class="review">
    <a href="https://www.forbes.com/sites/forbes-finds/2019/04/24/5-best-gaming-chairs-for-the-serious-gamer/#387cde6f3385" target="_blank">

      <div class="review-logo">
        <img src="{{ 'forbes.png' | asset_url }}">
      </div>

      <p class="review-content">
        <!--               "The chair has a nice, supportive padding, 
which is  -->
        "Perfect for gamers who might need to spend more than a few hours at their desk at a time."
      </p>
      <p class="review-byline">
        Forbes
      </p>
      <!--             <p class="review-person">
Don Reisinger 
</p> -->
    </a>
  </div>
  
  <div class="review">
    <a href="https://www.evetech.co.za/vertagear-gaming-chairs/x/136.aspx" target="_blank">

      <div class="review-logo">
        <img src="{{ 'evetech.png' | asset_url }}">
      </div>
      <p class="review-content">
        "Groundbreaking designs from the Vertagear SL and 
        Triigger Series have attained international renown, for good reason."
      </p>
      <p class="review-byline">
        Evetech
      </p>
    </a>
  </div>

  <div class="review">
    <a href="http://www.ign.com/articles/the-best-gaming-chairs" target="_blank">

      <div class="review-logo">
        <img src="{{ 'ign.png' | asset_url }}">
      </div>
      <p class="review-content">
        <!--               "While there's a crazy amount of racing chairs available because of their high visibility,  -->
        "You'll be hard pressed to find a better option."
        <!--               than the Vertagear SL4000." -->
      </p>
      <p class="review-byline">
        IGN
      </p>
    </a>
  </div>
  <div class="review">
    <a href="https://www.gamecrate.com/hands-vertagear-racing-series-p-line-gaming-chair/13341" target="_blank">

      <div class="review-logo">
        <img src="{{ 'gamecrate.png' | asset_url }}">
      </div>
      <p class="review-content">
        "If you're currently using a chair that's too small or too short for you, 
        a jump up to the P-Line from Vertagear could make a big difference in terms
        of comfort."            </p>
      <p class="review-byline">
        Game Crate
      </p>
      <!--             <p class="review-person">
Nicolas Scibetta
</p> -->
    </a>
  </div>
  <div class="review">
    <a href="https://www.pcgamer.com/vertagear-pl4500-gaming-chair-review/" target="_blank">

      <div class="review-logo">
        <img src="{{ 'pc-gamer.jpg' | asset_url }}" alt="PC Gamer">
      </div>
      <p class="review-content">
        "The whole thing smacks of quality."
        <!--               thanks to an industrial-strength metal base, hard-wearing PVC leather, plastic, and fabric that’s still soft to the touch." -->
      </p>
      <p class="review-byline">
        PC Gamer
      </p>
      <!--             <p class="review-person">
Benjamin Abbott
</p> -->
    </a>
  </div>
  <div class="review">
    <a href="https://proclockers.com/reviews/gaming-accessories/vertagear-s-line-sl4000-blackcarbon-edition-gaming-chair-review?nopaging=1" target="_blank">

      <div class="review-logo">
        <img src="{{ 'proclockers.png' | asset_url }}">
      </div>

      <p class="review-content">
        <!--               "The Vertagear S-Line SL4000 Racing Series Black/Carbon Edition Racing Chair  -->
        "Should be at the top of your list when looking for a gaming chair."
        <!--               that’s very comfortable and has a ton of options." -->
      </p>
      <p class="review-byline">
        Prolockers
      </p>
    </a>
  </div>
 
  <div class="review">
    <a href="https://www.ultimategamechair.com/vertagear-pl6000-chair-review/" target="_blank">

      <div class="review-logo">
        <img src="{{ 'ultimate-gaming-chair.png' | asset_url }}">
      </div>

      <p class="review-content">
        <!--               "It was like a nice and heavenly cloud when we sat down. -->
        "The Vertagear chair is definitely one of our most recommended gaming chairs"
        <!--               and it’s not something that you’ll ever be disappointed with anytime soon." -->
      </p>
      <p class="review-byline">
        Ultimate Gaming Chair
      </p>
      <!--             <p class="review-person">
Kevin Zhou
</p> -->

    </a>
  </div>


  <div class="review">
    <a href="https://techdissected.com/reviews/accessories/review-vertagear-sl-2000-racing-series-gaming-chair/" target="_blank">

      <div class="review-logo">
        <img src="{{ 'tech-dissected.png' | asset_url }}">
      </div>
      <p class="review-content">
        "The quality of product you will get for that price is phenomenal 
        <!--               and you’ll have a product that will last you for a lot of years to come
to sit and enjoy your favorite games." -->
      </p>
      <p class="review-byline">
        Tech Dissected
      </p>
      <!--             <p class="review-person">
Chris Wade
</p> -->
    </a>
  </div>
  <div class="review">
    <a href="http://m.hardocp.com/article/2017/05/19/vertagear_triigger_350_special_edition_gaming_chair_review/4" target="_blank">

      <div class="review-logo">
        <img src="{{ 'hard-opc.png' | asset_url }}">
      </div>
      <p class="review-content">
        "I would venture to say that it has been the best chair I have ever had in terms of back support."
      </p>
      <p class="review-byline">
        Hard OCP
      </p>
      <!--             <p class="review-person">
Kyle Bennett
</p> -->
    </a>
  </div>
  <div class="review">
    <a href="https://www.overclock3d.net/reviews/audio/vertagear_sl4000_gaming_chair_review/6" target="_blank">

      <div class="review-logo">
        <img src="{{ 'overclock3d.png' | asset_url }}">
      </div>

      <p class="review-content">
        "If you're into racing games or are perhaps 
        just looking for a new chair... 
        Vertagear definitely has something to offer you."
      </p>
      <p class="review-byline">
        Overclock3d
      </p>
    </a>
  </div>

  <div class="review">
    <a href="http://www.pcgamer.com/the-best-racing-style-gaming-chair/" target="_blank">

      <div class="review-logo">
        <img src="{{ 'pc-gamer.jpg' | asset_url }}" alt="PC Gamer">
      </div>
      <p class="review-content">
        "Vertagear's build quality is miles ahead."
      </p>
      <p class="review-byline">
        PC Gamer
      </p>
    </a>
  </div>
  <div class="review">
    <a href="https://supergamereviews.com/maxnomic-vs-dxracer-vs-vertagear/" target="_blank">

      <div class="review-logo">
        <img src="{{ 'supergame-reviews.png' | asset_url }}">
      </div>

      <p class="review-content">
        "Vertagear is a brand that shows
        <!--               more of  -->
        sophistication and substance. 
        <!--               rather than vibrant design" -->
      </p>
      <p class="review-byline">
        Super Gamer Reviews
      </p>
    </a>
  </div>


          {% schema %}
  {
    "name": "Industry Reviews",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
  
<script>
  
setTimeout(function(){ 
    if ($('.yotpo-icon-empty-star').length) {
      $('.yotpo-icon-empty-star').parents('.yotpo-regular-box').hide();
    } 
}, 2000);
  
  
</script>
