{% include 'gravityadmin' %}
<div style="display: none !important;  visibility: hidden !important;" class="cmspro-section" id="cmspro-f1d721fb"></div>

{{ 'vertagear-award-logos.scss.css' | asset_url | stylesheet_tag }}
<div class="awards-wrapper">
    <div class="grid-container">
      <div class="awards-slider">
        <ul class="awards-slide-desktop">
          <li class="award-logo-list-item">
            <a href="https://www.bestsevenreviews.com/category/benchmark/" target="_blank">
            	<img src="{{ 'aw-1.png' | asset_url }}">
            </a>
          </li>
          <li class="award-logo-list-item">
            <a href="https://www.cowcotland.com/articles/1949-3/siege-vertagear-sl2000.html" target="_blank">
            	<img src="{{ 'aw-2.png' | asset_url }}">
            </a>
          </li>
          <li class="award-logo-list-item">
            <a href="https://www.thelab.gr/reviews/input-devices-peripherals-reviews/vertagear-sl2000-gaming-chair-review-r662/" target="_blank">
	            <img src="{{ 'aw-3.png' | asset_url }}">
            </a>
          </li>
          <li class="award-logo-list-item">
            <a href="https://www.59hardware.net/articles/p%C3%A9riph%C3%A9riques/fauteuil-gaming-vertagear-sl4000--rd-2015101417407/2.htm" target="_blank">
	            <img src="{{ 'aw-4.png' | asset_url }}">
            </a>
          </li>
          <li class="award-logo-list-item">
            <a href="http://gaming-stuhl.de/vertagear-gaming-chair/" target="_blank">
            	<img src="{{ 'aw-5.png' | asset_url }}">
            </a>
          </li>
          <li class="award-logo-list-item">
            <a href="http://www.kitguru.net/desktop-pc/gaming-rig/matthew-wilson/vertagear-sl4000-gaming-chair-review-2/3/" target="_blank">
            	<img src="{{ 'aw-6.png' | asset_url }}">
            </a>
          </li>
          <li class="award-logo-list-item">
            <a href="https://www.modding.fr/test-siege-gamer-vertagear-sl4000/" target="_blank">
	            <img src="{{ 'aw-7.jpg' | asset_url }}">
            </a>
          </li>
          <li class="award-logo-list-item">
            <a href="https://www.overclock3d.net/reviews/audio/vertagear_sl4000_gaming_chair_review/1" target="_blank">
            	<img src="{{ 'aw-8.png' | asset_url }}">
            </a>
          </li>
        </ul>
        
        <ul class="awards-slide-desktop">
          <li class="award-logo-list-item">
            <a href="http://www.pcgameware.co.uk/reviews/other/vertagear-racing-series-s-line-sl4000-gaming-chair-review/" target="_blank">
            	<img src="{{ 'aw-9.png' | asset_url }}">
            </a>
          </li>
          <li class="award-logo-list-item">
            <a href="https://www.cowcotland.com/articles/1949-3/siege-vertagear-sl2000.html" target="_blank">
            	<img src="{{ 'aw-10.png' | asset_url }}">
            </a>
          </li>
          <li class="award-logo-list-item">
            <a href="https://proclockers.com/reviews/gaming-accessories/vertagear-s-line-sl4000-blackcarbon-edition-gaming-chair-review?nopaging=1">
            	<img src="{{ 'aw-11.png' | asset_url }}">
            </a>
          </li>
          <li class="award-logo-list-item">
            <a href="#">
            	<img src="{{ 'aw-12.png' | asset_url }}">
            </a>
          </li>
          <li class="award-logo-list-item">
            <a href=" https://www.eteknix.com/vertagear-s-line-sl4000-gaming-chair-review/5/" target="_blank">
            	<img src="{{ 'aw-13.png' | asset_url }}">
            </a>
          </li>
          <li class="award-logo-list-item">
            <a href="https://www.vortez.net/articles_pages/vertagear_racing_series_s_line_sl4000_review,5.html">
            	<img src="{{ 'aw-14.png' | asset_url }}">
            </a>
          </li>
          <li class="award-logo-list-item">
            <a href="#">
	            <img src="{{ 'aw-15.png' | asset_url }}">
            </a>
          </li>
          <li class="award-logo-list-item">
           <a href="https://www.ocaholic.ch/modules/publisher/item.php?page=4&itemid=3924">
            <img src="{{ 'aw-16.png' | asset_url }}">
          </a>
          </li>
        </ul>
          
        
        <ul class="awards-slide-desktop">
          <li class="award-logo-list-item">
            <a href="https://www.tweaktown.com/reviews/7523/vertagear-racing-series-line-sl4000-gaming-chair-review/index4.html" target="_blank">
            	<img src="{{ 'aw-17.png' | asset_url }}">
            </a>
          </li>
          <li class="award-logo-list-item">
            <a href="http://www.enostech.com/vertagear-sl4000-gaming-chair-review/" target="_blank">
            	<img src="{{ 'aw-18.png' | asset_url }}">
            </a>
          </li>
          <li class="award-logo-list-item">
            <a href="https://hardwareviews.com/review-vertagear-s-line-sl4000-racing-series/" target="_blank">
            	<img src="{{ 'aw-19.png' | asset_url }}">
            </a>
          </li>
          <li class="award-logo-list-item">
            <a href="https://www.xtremehardware.com/recensioni/periferiche/vertagear-sl5000-2015101311018/?start=5">
            	<img src="{{ 'aw-20.png' | asset_url }}">
            </a>
          </li>
          <li class="award-logo-list-item">
            <a href="http://www.actualidadhardware.com/review-vertagear-sl5000-racing-series/" target="_blank">
	            <img src="{{ 'aw-21.png' | asset_url }}">
          	</a>
          </li>
          <li class="award-logo-list-item">
            <a href="http://www.tweak.dk/review/Vertagear-PL6000-VirtusPro-Edition/3004/1/1" target="_blank">
            	<img src="{{ 'aw-22.png' | asset_url }}">
            </a>
          </li>
          <li class="award-logo-list-item">
            <a href="https://www.techpowerup.com/reviews/Vertagear/Triigger_275/6.html">
            	<img src="{{ 'aw-23.png' | asset_url }}">
            </a>
          </li>
          <li class="award-logo-list-item">
			<a href="https://www.bit-tech.net/reviews/tech/peripherals/vertagear-triigger-line-350-and-275-reviews/2/">
	            <img src="{{ 'aw-24.png' | asset_url }}">
            </a>
          </li>
        </ul>
        
        <ul class="awards-slide-desktop">
          <li class="award-logo-list-item">
            <a href="https://www.hardocp.com/article/2017/05/19/vertagear_triigger_350_special_edition_gaming_chair_review/4" target="_blank">
            	<img src="{{ 'aw-25.png' | asset_url }}">
            </a>
          </li>
        </ul>
        
      </div>
    </div>
  </div>


<script>

    var collection = "{{collection.title}}";
    switch (collection) {
      case 'S-Line':
        var awardImagesToLoad = ["aw-1", "aw-2", "aw-3", "aw-4", "aw-5", "aw-6", "aw-7", "aw-8", "aw-9", "aw-10", "aw-11", "aw-12", "aw-13", "aw-14", "aw-15", "aw-16", "aw-17", "aw-18", "aw-19", "aw-20", "aw-21"];
        break;
      case 'P-Line': 
        var awardImagesToLoad = ["aw-22"];
        break;
      case 'Triigger': 
        var awardImagesToLoad = ["aw-2", "aw-3", "aw-6","aw-23", "aw-24", "aw-25"];
        break;
      default: 
        break;
    }


    if (awardImagesToLoad) {
      
      jQuery('.award-logo-list-item').each(function(idx, el) {
          var childLink = jQuery(el).children('a').children('img').attr('src');
          if (childLink) {
            var childLinkImgName = childLink.substr(childLink.lastIndexOf("/")+1, (childLink.lastIndexOf(".png")-childLink.lastIndexOf("/")-1));
          }
          if (!awardImagesToLoad.includes(childLinkImgName)) {
              jQuery(this).remove();
          }
        
      });
      
    }
  
  jQuery(document).ready(function(){
    jQuery(".awards-slider").slick({
      autoplay: true,
      autoplaySpeed: 3000,
      arrows: false,
      slidesToShow: 1,
      slidesToScroll: 1
    });
  });
</script>

{% schema %}
  {
    "name": "Award  Badges",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
