{% include 'gravityadmin' %}
<div style="display: none !important;  visibility: hidden !important;" class="cmspro-section" id="cmspro-f1d721fb"></div>

{{ 'vertagear-award-logos.scss.css' | asset_url | stylesheet_tag }}
<div class="awards-wrapper">
  <div class="grid-container">
    <div class="awards-slider">
      <ul class="awards-slide-desktop">
        <li class="award-logo-list-item">
          <a href="http://www.59hardware.net/articles/p%C3%A9riph%C3%A9riques/fauteuil-gaming-vertagear-sl4000--rd-2015101417407/2.html" target="_blank">
            <img src="{{ 'awh-1.jpg' | asset_url }}">
          </a>
        </li>
        <li class="award-logo-list-item">
          <a href="http://gaming-stuhl.de/vertagear-gaming-chair/" target="_blank">
            <img src="{{ 'awh-2.jpg' | asset_url }}">
          </a>
        </li>
        <li class="award-logo-list-item">
          <a href="http://www.kitguru.net/desktop-pc/gaming-rig/matthew-wilson/vertagear-sl4000-gaming-chair-review-2/3/" target="_blank">
            <img src="{{ 'awh-3.jpg' | asset_url }}">
          </a>
        </li>
        <li class="award-logo-list-item">
          <a href="http://www.modding.fr/test-siege-gamer-vertagear-sl4000/" target="_blank">
            <img src="{{ 'awh-4.jpg' | asset_url }}">
          </a>
        </li>
        <li class="award-logo-list-item">
          <a href="http://www.overclock3d.net/reviews/audio/vertagear_sl4000_gaming_chair_review/1" target="_blank">
            <img src="{{ 'awh-5.jpg' | asset_url }}">
          </a>
        </li>
        <li class="award-logo-list-item">
          <a href="http://www.pcgameware.co.uk/reviews/other/vertagear-racing-series-s-line-sl4000-gaming-chair-review/" target="_blank">
            <img src="{{ 'awh-6.jpg' | asset_url }}">
          </a>
        </li>
        <li class="award-logo-list-item">
          <a href="http://www.play3r.net/reviews/misc/vertagear-sl4000-gaming-chair-review/4/" target="_blank">
            <img src="{{ 'awh-7.jpg' | asset_url }}">
          </a>
        </li>
        <li class="award-logo-list-item">
          <a href="http://proclockers.com/reviews/accessories/vertagear-s-line-sl4000-blackcarbon-edition-gaming-chair-review?nopaging=1" target="_blank">
            <img src="{{ 'awh-8.jpg' | asset_url }}">
          </a>
        </li>
      </ul>

      <ul class="awards-slide-desktop">
        <li class="award-logo-list-item">
          <a href="http://techicize.com/vertagear-sl4000-gaming-chair-review/" target="_blank">
            <img src="{{ 'awh-9.jpg' | asset_url }}">
          </a>
        </li>
        <li class="award-logo-list-item">
          <a href="http://www.eteknix.com/vertagear-s-line-sl4000-gaming-chair-review/5/" target="_blank">
            <img src="{{ 'awh-10.jpg' | asset_url }}">
          </a>
        </li>
        <li class="award-logo-list-item">
          <a href="http://www.vortez.net/articles_pages/vertagear_racing_series_s_line_sl4000_review,5.html">
            <img src="{{ 'awh-11.jpg' | asset_url }}">
          </a>
        </li>
        <li class="award-logo-list-item">
          <a href="http://www.wallofgaming.com/test-vertagear-sl4000-white/3/">
            <img src="{{ 'awh-12.jpg' | asset_url }}">
          </a>
        </li>
        <li class="award-logo-list-item">
          <a href="http://www.ocaholic.ch/modules/smartsection/item.php?page=4&itemid=3924" target="_blank">
            <img src="{{ 'awh-13.jpg' | asset_url }}">
          </a>
        </li>
        <li class="award-logo-list-item">
          <a href="http://www.tweaktown.com/reviews/7523/vertagear-racing-series-line-sl4000-gaming-chair-review/index4.html">
            <img src="{{ 'awh-14.jpg' | asset_url }}">
          </a>
        </li>
        <li class="award-logo-list-item">
          <a href="http://www.enostech.com/vertagear-sl4000-gaming-chair-review/">
            <img src="{{ 'awh-15.jpg' | asset_url }}">
          </a>
        </li>
        <li class="award-logo-list-item">
          <a href="https://hardwareviews.com/review-vertagear-s-line-sl4000-racing-series/">
            <img src="{{ 'awh-16.jpg' | asset_url }}">
          </a>
        </li>
      </ul>
      <ul class="awards-slide-desktop">
        <li class="award-logo-list-item">
          <a href="http://benchmarkreviews.com/30651/vertagear-sl2000-gaming-chair-review/">
            <img src="{{ 'awh-17.jpg' | asset_url }}">
          </a>
        </li>
        <li class="award-logo-list-item">
          <a href="http://www.cowcotland.com/articles/1949-3/siege-vertagear-sl2000.html">
            <img src="{{ 'awh-18.jpg' | asset_url }}">
          </a>
        </li>
        <li class="award-logo-list-item">
          <a href="https://www.thelab.gr/reviews/input-devices-peripherals-reviews/vertagear-sl2000-gaming-chair-review-r662/">
            <img src="{{ 'awh-19.jpg' | asset_url }}">
          </a>
        </li>
        <li class="award-logo-list-item">
          <a href="http://www.xtremehardware.com/recensioni/periferiche/vertagear-sl5000-2015101311018/?start=5">
            <img src="{{ 'awh-20.jpg' | asset_url }}">
          </a>
        </li>
        <li class="award-logo-list-item">
          <a href="http://www.actualidadhardware.com/review-vertagear-sl5000-racing-series/">
            <img src="{{ 'awh-21.jpg' | asset_url }}">
          </a>
        </li>
      </ul>


    </div>
  </div>
</div>


<script>

  var collection = "{{collection.title}}";
  switch (collection) {
    case 'S-Line':
      var awardImagesToLoad = ["awh-1", "awh-2", "awh-3", "awh-4", "awh-5", "awh-6", "awh-7", "awh-8", "awh-9", "awh-10", "awh-11", "awh-12", "awh-13", "awh-14", "awh-15", "awh-16", "awh-17", "awh-18", "awh-19", "awh-20", "awh-21"];
      break;
    default: 
      break;
  }


  if (awardImagesToLoad) {

    jQuery('.award-logo-list-item').each(function(idx, el) {
      var childLink = jQuery(el).children('a').children('img').attr('src');
      if (childLink) {
        var childLinkImgName = childLink.substr(childLink.lastIndexOf("/")+1, (childLink.lastIndexOf(".png")-childLink.lastIndexOf("/")-1));
      }
      if (!awardImagesToLoad.includes(childLinkImgName)) {
        jQuery(this).remove();
      }

    });

  }

  jQuery(document).ready(function(){
    jQuery(".awards-slider").slick({
      autoplay: true,
      autoplaySpeed: 3000,
      arrows: false,
      slidesToShow: 1,
      slidesToScroll: 1
    });
  });
</script>
<style>
  
</style> 

{% schema %}
{
"name": "Award  Badges",
"settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
