<!-- /templates/page.liquid -->
{{ 'alliances.scss.css' | asset_url | stylesheet_tag }}
<div class="grid__item community-index large--two-thirds push--large--one-sixth">
    <div class="sitewide--title-wrapper">
       <h1 class="page--title">{{ page.title }}</h1>
    </div>
    <div class="community-item">
       <h3>Professional Teams</h3>
       <!--<a class="community__featured-image" href="/pages/virtus-pro">
       <img src="//cdn.shopify.com/s/files/1/1759/4609/articles/vitruspro-new_150x150.png?v=1487422037" alt="Virtus Pro">
       </a>-->
       <!--<a class="community__featured-image" href="/pages/echo-fox">
       <img src="//cdn.shopify.com/s/files/1/1759/4609/articles/echofox_white_150x150.png?v=1487545545" alt="Echo Fox">
       </a>-->
      <div class='alliances-flex'>
       <a class="alliance-item" href="/pages/panda-global">
       <img src="//cdn.shopify.com/s/files/1/1759/4609/articles/panda-new_150x150.png?v=1487552638" alt="Panda Global">
       </a>
       <!--<a class="community__featured-image" href="http://phoenix1.gg/">
       <img src="//cdn.shopify.com/s/files/1/1759/4609/t/15/assets/p1_150x150.jpg?4384355898383838326" alt="Phoenix 1">
       </a>-->
      <a class="alliance-item" href="http://www.team-immunity.com/" target="_blank">
       <img src="{{ 'team-immunity-pro-team-logo-min.png'| asset_url }}" alt="team-immunity">
       </a>
      <!--<a class="community__featured-image" href="http://www.big-clan.com/" target="_blank">
       <img src="{{ 'bigclan-min.jpg'| asset_url }}" alt="Big Clan">
       </a>-->
      <a class="alliance-item" href="https://cnb.gg/?fbclid=IwAR1ZFWyWVn0Zd_v_YN0nroT72QUgIy2-Ir2Nhc6NyWP40_b4AoUsPo-i4cQ" target="_blank">
       <img src="{{ 'cnb-esports.png'| asset_url }}" alt="CNB e-Sports">
       </a>
      <a class="alliance-item" href="http://teammisfits.gg/" target="_blank">
        <img src="{{ 'misfits_esports.png'| asset_img_url: '150x150' }}" alt="Misfits Gaming">
      </a>
      <a class="alliance-item" href="http://tsm.gg/" target="_blank">
        <img src="{{ 'tsm-logo.png'| asset_img_url: '150x150' }}" alt="TSM">
      </a>
      <a class="alliance-item" href="https://brondby.com/" target="_blank">
        <img src="{{ 'brondby-logo.jpg'| asset_img_url: '150x150' }}" alt="Brondby"">
      </a>
      <a class="alliance-item" href="http://www.wizardsdg.com/ " target="_blank">
        <img src="{{ 'logo-wizards-dg.png' | asset_url }}" alt="Wizards DG"">
      </a>
      <a class="alliance-item" href="http://www.soar.gg/ " target="_blank">
        <img src="{{ 'soar.png' | asset_url }}" alt="SoaR Gaming">
      </a>
      <a class="alliance-item" href="https://bucksgaming.nba.com/" target="_blank">
        <img src="{{ 'bucks-gaming.gif' | asset_url }}" alt="Bucks Gaming">
      </a>
      {% comment %}<a class="alliance-item" href="https://spacestationgaming.com/ " target="_blank">
        <img src="{{ 'ssg-logo.png' | asset_url }}" alt="Spacestation Gaming">
      </a>{% endcomment %}
      <a class="alliance-item" href="https://cltxgaming.com/ " target="_blank">
        <img src="{{ 'celtics-logo.png' | asset_url }}" alt="CLTX Gaming">
      </a>
      <a class="alliance-item" href="https://heatcheck.nba.com/" target="_blank">
        <img src="{{ 'heat-check-logo.png' | asset_url }}" alt="HEAT Check Gaming">
      </a>
      <a class="alliance-item" href="https://www.teamatlantis.gg " target="_blank">
       <img src="{{ 'team_alantis.jpg'| asset_url }}" alt="team-alantis">
       </a> 
      <a class="alliance-item" href="https://www.teamxcluded.com" target="_blank">
       <img src="{{ 'team-xcluded-logo_black.png'| asset_url }}" alt="Team Xcluded">
      </a>
        <a class="alliance-item" href="https://www.facebook.com/LIGamingleague/" target="_blank">
       <img src="{{ 'Long_Island_Vector_Logo_1.png'| asset_url }}" alt="Long Island Gaming League">
      </a>
      </div>
    </div>
    <div class="community-item">
      <h3>Colleges</h3>
      <div class='alliances-flex'>
      <a class="alliance-item" href="/pages/university-of-california-irvine">
        <img src="//cdn.shopify.com/s/files/1/1759/4609/articles/uci_150x150.png?v=1487422238" alt="University of California, Irvine">
      </a>
      <a class="alliance-item" href="/pages/kansas-wesleyan-university">
        <img src="//cdn.shopify.com/s/files/1/1759/4609/articles/KWU_eSPORTS_small_5261d3b1-ed07-45b3-8b9f-bd8934b5960e_150x150.png?v=1487552829" alt="Kansas Wesleyan University">
      </a>
      <a class="alliance-item" href="http://www.berkeley.edu">
        <img src="{{'cal-yellow.png'|asset_img_url }}" alt="U.C. Berkeley">
      </a>
      <a class="alliance-item" href="http://www.sbubearcats.com/index.aspx?path=esports">
        <img src="{{ 'sbuesports.png'| asset_url }}" alt="SBU eSports">
      </a>
      <a class="alliance-item" href="https://www.uccs.edu/">
        <img src="{{ 'logo-colorado-frost.png'| asset_url }}" alt="Colorado Frost">
      </a>  
      </div>
    </div>
    <div class="community-item">
       <h3>Events</h3>
      <div class='alliances-flex'>
       <a class="alliance-item" href="/pages/capcom-pro-tour">
       <img src="//cdn.shopify.com/s/files/1/1759/4609/articles/CAPCOM_PRO_TOUR_BLK_350X450_002A_150x150.png?v=1487553075" alt="Capcom Pro Tour">
       </a>
       <a class="alliance-item" href="/pages/2ggaming">
       <img src="//cdn.shopify.com/s/files/1/1759/4609/articles/2ggticon-Copy_150x150.jpg?v=1487553146" alt="2GGaming">
       </a>
       <a class="alliance-item" href="/blogs/news/stepping-into-the-front-lines-with-h1z1-fight-for-the-crown">
       <img src="{{ 'fight-chrown3-min.jpg' | asset_url }}" alt="fight-chrown">
       </a>
       <a class="alliance-item" href="http://htc2v2.com/" target="_blank">
       <img src="{{ 'htc2v2-min.jpg' | asset_url }}" alt="HTC2V2">
       </a>
       <a class="alliance-item" href="http://evo.shoryuken.com/" target="_blank">
       <img src="//cdn.shopify.com/s/files/1/1759/4609/t/15/assets/evo_150x150.jpg?9983715512240097151" alt="EVO">
       </a>
       <a class="alliance-item" href="http://www.csgoleague.com/" target="_blank">
       <img src="{{ 'logo-ecs.png' | asset_url }}" alt="ECS Esports Championship Series">
       </a>
       <a class="alliance-item" href="https://smash.gg/tournament/the-big-house-7/details" target="_blank">
       <img src="{{ 'logo-TBH7-CS7-Yellow_V3.png' | asset_url }}" alt="The Big House">
       </a>
       <a class="alliance-item" href="https://smash.gg/tournament/genesis-5/details" target="_blank">
       <img src="{{ 'logo-gg-genesis-MASTER.png' | asset_url }}" alt="GG Genesis">
       </a>
      </div>
    </div>
 </div>