{{ 'wallpapers.scss.css' | asset_url | stylesheet_tag }}

<!-- /templates/page.liquid -->
<div class="grid_ page-main--wrapper">

  <div class="large--two-thirds push--large--one-sixth">

    <div class="sitewide--title-wrapper">
      <h1 class="page--title">{{ page.title }}</h1>
    </div>

    <div class="rte">
      <div class="wallpapers">
        <h3>Social Graphic</h3>
        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-6">
          	<a href="{{ 'WallpapersSocialGraphic-1.png' | asset_url }}" target="_blank">
              <img src="{{ 'WallpapersSocialGraphic-1-thumb.jpg' | asset_url }}" class="img-responsive">
            </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
          	<a href="{{ 'WallpapersSocialGraphic-1.png' | asset_url }}" target="_blank">
              <img src="{{ 'WallpapersSocialGraphic-2-thumb.jpg' | asset_url }}" class="img-responsive">
            </a>
          </div>
        </div>
        
        <h3>Computer</h3>
        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-6">
          	<a href="{{ 'Vertagear-16by9-WP-1.png' | asset_url }}" target="_blank">
              <img src="{{ 'Vertagear-16by9-WP-1-thumb.jpg' | asset_url }}" class="img-responsive">
            </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
          	<a href="{{ 'Vertagear-16by9-WP-2.png' | asset_url }}" target="_blank">
              <img src="{{ 'Vertagear-16by9-WP-2-thumb.jpg' | asset_url }}" class="img-responsive">
            </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
          	<a href="{{ 'Vertagear-16by9-WP-3.png' | asset_url }}" target="_blank">
              <img src="{{ 'Vertagear-16by9-WP-3-thumb.jpg' | asset_url }}" class="img-responsive">
            </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
          	<a href="{{ 'Vertagear-16by9-WP-4.png' | asset_url }}" target="_blank">
              <img src="{{ 'Vertagear-16by9-WP-4-thumb.jpg' | asset_url }}" class="img-responsive">
            </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
          	<a href="{{ 'Vertagear-16by9-WP-5.png' | asset_url }}" target="_blank">
              <img src="{{ 'Vertagear-16by9-WP-5-thumb.jpg' | asset_url }}" class="img-responsive">
            </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
          	<a href="{{ 'Vertagear-16by9-WP-6.png' | asset_url }}" target="_blank">
              <img src="{{ 'Vertagear-16by9-WP-6-thumb.jpg' | asset_url }}" class="img-responsive">
            </a>
          </div>
        </div>
        
        <h3>Phone</h3>
        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-6">
          	<a href="{{ 'VertagearPhoneWP-1.png' | asset_url }}" target="_blank">
              <img src="{{ 'VertagearPhoneWP-1-thumb.jpg' | asset_url }}" class="img-responsive">
            </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
          	<a href="{{ 'VertagearPhoneWP-2.png' | asset_url }}" target="_blank">
              <img src="{{ 'VertagearPhoneWP-2-thumb.jpg' | asset_url }}" class="img-responsive">
            </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
          	<a href="{{ 'VertagearPhoneWP-3.png' | asset_url }}" target="_blank">
              <img src="{{ 'VertagearPhoneWP-3-thumb.jpg' | asset_url }}" class="img-responsive">
            </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
          	<a href="{{ 'VertagearPhoneWP-4.png' | asset_url }}" target="_blank">
              <img src="{{ 'VertagearPhoneWP-4-thumb.jpg' | asset_url }}" class="img-responsive">
            </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
          	<a href="{{ 'VertagearPhoneWP-5.png' | asset_url }}" target="_blank">
              <img src="{{ 'VertagearPhoneWP-5-thumb.jpg' | asset_url }}" class="img-responsive">
            </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
          	<a href="{{ 'VertagearPhoneWP-6.png' | asset_url }}" target="_blank">
              <img src="{{ 'VertagearPhoneWP-6-thumb.jpg' | asset_url }}" class="img-responsive">
            </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
          	<a href="{{ 'VertagearPhoneWP-7.png' | asset_url }}" target="_blank">
              <img src="{{ 'VertagearPhoneWP-7-thumb.jpg' | asset_url }}" class="img-responsive">
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
