{{ 'vertagear-rgb-led-top.scss.css' | asset_url | stylesheet_tag }}
<div class="top-rgb-hero">
  <div class="grid-container">
    <h2>PL4500 Upgrade</h2>
    <h1>RGB LED Top Kit</h1>
    <div class="hero-copy-container">
     Unleash new levels of your gaming experience with the RGB LED kit for your Vertagear PL4500 gaming chair. Designed to be a seamless experience, the RGB LED kit is the world’s first wirelessly operated RGB gaming chair. The smart interactive effects yield unlimited possibilities to reflect your mood on live streams or immerse yourself in intense gaming adventures. Showcase your creativity with fully customizable illumination and vivid animation effects to bring your battlestation to life.
    </div>
    <div class="vertagear-jump-list-container">
      <ul>
        <li>
          <a href="/products/rgb-led-top-kit" class="vertagear-button">Shop Now</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="top-rgb-container">
  <div class="grid-container">
    <div class="copy-container">
      <h3>Customize your gaming experience</h3>
      <p class="rgb content">
       The RGB LED Upgrade kit allows you to mix and match your beloved gaming chair to your setup in color, or in experience. 
        With <span style="font-weight:bold;">NZXT CAM</span> software integration, adjusting colors, interactions, 
        and modes are all accessible with ease at your fingertips.  
      </p>
    </div>
    <div class="icon-list">
      <ul class="rgb-icon-list">
        <li>
          <div class="rgb-icon">
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283.12 201.64">
              <title>wireless</title>
              <path d="M302.5,78.7C265.6,42.9,221.4,23.6,170,21.6,125.5,20,85.1,32.2,48.6,57.5A190.22,190.22,0,0,0,23.3,78.8a5.3,5.3,0,0,0-1.4,5.8,4.65,4.65,0,0,0,4.2,3.1c2.1.2,3.6-1.1,5-2.5,36.8-35.4,80.9-53,131.8-53.5,3.5,0,7-.2,10.4,0a187.34,187.34,0,0,1,122,54.1c2.7,2.7,5.8,2.8,7.9.6S305.1,81.3,302.5,78.7Z" transform="translate(-21.55 -21.46)"/>
              <path d="M163.3,61.8h-3.2q-52.65,1.05-94.4,33.1a123.85,123.85,0,0,0-13.9,12.2c-2.4,2.4-2.5,5.3-.5,7.5s5,2.1,7.5-.2c.7-.6,1.4-1.3,2.1-2q53.85-49.5,126-38.8c31,4.7,57.7,18.7,80.2,40.6a5.27,5.27,0,0,0,2.4,1.7c2.5.7,4.7.1,6-2.2,1.4-2.6.6-4.8-1.4-6.7C243.2,77.1,206.1,62.3,163.3,61.8Z" transform="translate(-21.55 -21.46)"/>
              <path d="M244,134.2c-22.8-21.3-49.9-31.8-80.9-32.4-31.7.5-59.1,11.3-82,33-3.1,2.9-3.5,6-1.2,8.3s5.2,2,8.1-.8c33-32.3,84.5-39.6,125.2-17.7a107.41,107.41,0,0,1,25.9,19,5.09,5.09,0,0,0,6.9.4c2.2-1.6,2.1-3.6,1.1-5.9A13,13,0,0,0,244,134.2Z" transform="translate(-21.55 -21.46)"/>
              <path d="M216.5,163.6c-15.1-14.1-33-21.1-53.6-21.5-20.8.4-38.8,7.4-53.9,21.7a5.43,5.43,0,0,0-1.9,2.8c-.6,2.4-.1,4.5,2.2,5.8,2.5,1.4,4.7.7,6.8-1.2,18.9-17.5,40.8-22.8,65.6-16.3a64.15,64.15,0,0,1,28.1,16.2c3.3,3.2,7.7,2.8,9-.9C219.8,167.5,218.5,165.5,216.5,163.6Z" transform="translate(-21.55 -21.46)"/>
              <path d="M163.1,181.9Z" transform="translate(-21.55 -21.46)"/>
              <path d="M163.1,181.9a20.6,20.6,0,1,0,20.6,20.6h0A20.57,20.57,0,0,0,163.1,181.9Zm0,32.9a12.29,12.29,0,0,1-12.3-12.3h0a12.3,12.3,0,1,1,12.3,12.3Z" transform="translate(-21.55 -21.46)"/>
            </svg>
          </div>
          <span>
            Wireless Connectivity
          </span>
        </li>
        <li>
          <div class="rgb-icon">
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 301.24 207.73"><title>gaming</title><path d="M315.5,79.5C297.7,12,257.2,11.9,234.6,17.9c-14.5,3.9-25.7,10.9-33.3,21.2H142.9c-7.6-10.2-18.9-17.3-33.3-21.2-10.7-2.8-26.8-4.6-42.2,3.3C49.6,30.3,36.6,49.9,28.8,79.5c-13.6,51.7-9.9,133.1,27,142.8a28.2,28.2,0,0,0,7.1.9c12.5,0,26.5-8.2,40.5-23.7,12.1-13.4,23.9-32,33.3-52.4h71c10.3,22.4,23.3,42.3,36.7,56,15.6,16,30.9,22.6,44.2,19.1C325.4,212.6,329.2,131.2,315.5,79.5Zm-12.4,3.3c14.3,54.5,5,121-17.8,127a15.83,15.83,0,0,1-3.8.5c-18.3,0-45.3-30.3-63.6-72.2a6.42,6.42,0,0,0-5.9-3.9H132.6a6.32,6.32,0,0,0-5.9,3.9c-19.7,45-49.3,76.5-67.4,71.7-22.9-6-32.2-72.5-17.8-127C51,46.7,68,28.3,91.9,28.3a59.75,59.75,0,0,1,14.6,2c12.6,3.3,22,9.6,27.8,18.6a6.56,6.56,0,0,0,5.4,3h65.2a6.33,6.33,0,0,0,5.4-3c5.8-9,15.2-15.3,27.8-18.6C269.8,22,291.6,39.7,303.1,82.8Z" transform="translate(-21.55 -15.47)"/><path d="M114.2,90.1H92.6V68.5a6.2,6.2,0,1,0-12.4,0V90.1H58.4a6.2,6.2,0,1,0,0,12.4H80v21.7a6.2,6.2,0,0,0,12.4,0V102.6h21.7a6.23,6.23,0,0,0,6.2-6.2A6.17,6.17,0,0,0,114.2,90.1Z" transform="translate(-21.55 -15.47)"/><path d="M190.7,90.1h-39a6.2,6.2,0,1,0,0,12.4h39a6.23,6.23,0,0,0,6.2-6.2A6.1,6.1,0,0,0,190.7,90.1Z" transform="translate(-21.55 -15.47)"/><path d="M256.2,84.1a6.23,6.23,0,0,0,6.2-6.2V72.1a6.23,6.23,0,0,0-6.2-6.2h0a6.23,6.23,0,0,0-6.2,6.2v5.8A6.23,6.23,0,0,0,256.2,84.1Z" transform="translate(-21.55 -15.47)"/><path d="M231.9,102.6h5.8a6.2,6.2,0,1,0,0-12.4h-5.8a6.2,6.2,0,0,0,0,12.4Z" transform="translate(-21.55 -15.47)"/><path d="M256.2,126.9a6.23,6.23,0,0,0,6.2-6.2v-5.8a6.23,6.23,0,0,0-6.2-6.2h0a6.23,6.23,0,0,0-6.2,6.2v5.8A6.23,6.23,0,0,0,256.2,126.9Z" transform="translate(-21.55 -15.47)"/><path d="M274.8,102.6h5.8a6.2,6.2,0,0,0,0-12.4h-5.8a6.23,6.23,0,0,0-6.2,6.2A6.1,6.1,0,0,0,274.8,102.6Z" transform="translate(-21.55 -15.47)"/></svg>
          </div>
          <span>
            Gaming Mode
          </span>
        </li>
        <li>
          <div class="rgb-icon">
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 245.02 200.54"><title>audio</title><path d="M142.8,21.5a5.21,5.21,0,0,0-2.9.9L47.1,89.3H26.4a4.91,4.91,0,0,0-4.9,4.9v55.1a4.91,4.91,0,0,0,4.9,4.9H47.1l92.8,66.9a4.82,4.82,0,0,0,6.8-1.1,4.76,4.76,0,0,0,.9-2.9V26.4A4.76,4.76,0,0,0,142.8,21.5Zm-99,122.9H31.3V99.1H43.8Zm94.1,63.1L53.6,146.8V96.7L137.9,36Z" transform="translate(-21.5 -21.5)"/><path d="M175.6,63.2a4.88,4.88,0,1,0-6.9,6.9h0a73.09,73.09,0,0,1,0,103.3,4.88,4.88,0,0,0,6.7,7.1l.2-.2A82.87,82.87,0,0,0,175.6,63.2Z" transform="translate(-21.5 -21.5)"/><path d="M202.8,49.4a4.88,4.88,0,0,0-6.9,6.9,92.71,92.71,0,0,1,0,130.8,4.88,4.88,0,0,0,6.9,6.9A102.3,102.3,0,0,0,202.8,49.4Z" transform="translate(-21.5 -21.5)"/><path d="M229.4,32.2h0a4.88,4.88,0,1,0-6.9,6.9,116.85,116.85,0,0,1,0,165.2h0a4.88,4.88,0,1,0,6.9,6.9C278.9,161.9,278.9,81.7,229.4,32.2Z" transform="translate(-21.5 -21.5)"/></svg>
          </div>
          <span>
            Audio Sync
          </span>
        </li>
        <li>
          <div class="rgb-icon">
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 237.86 237.87"><title>spectrum</title><path d="M162.2,93.1,151.6,87l7.6-13.4a4.31,4.31,0,0,0-1.6-5.9l-17-9.8a4.28,4.28,0,0,0-5.9,1.6L127,72.8l-10.5-6.1a4.36,4.36,0,0,0-5.9,1.5l-9.8,17a4.31,4.31,0,0,0,1.6,5.9l7.7,4.4L84.4,140.1a17.57,17.57,0,0,0-1.1,15l-1.4,2.4a10.25,10.25,0,0,0-1.4,8.2,10.71,10.71,0,0,0,4.8,6.8,11.16,11.16,0,0,0,5.8,1.7,9.86,9.86,0,0,0,2.4-.3,10.71,10.71,0,0,0,6.8-4.8,5.74,5.74,0,0,0,.4-.7l1.4-2.5a17.77,17.77,0,0,0,12.5-8.4l25.7-44.6,7.8,4.5a4.92,4.92,0,0,0,2,.5h1.3a4.33,4.33,0,0,0,2.6-2l9.8-17A4.52,4.52,0,0,0,162.2,93.1Zm-27.7-16,5.6-9.6,9.6,5.6-5.6,9.6ZM89,163.8a2,2,0,0,1,.2-1.7l2.5-4.4a4.15,4.15,0,0,0,0-4.3,8.67,8.67,0,0,1,0-8.8L117.4,100l15.3,8.8L107,153.4a8.89,8.89,0,0,1-7.8,4.4,4.25,4.25,0,0,0-3.7,2.2l-2.4,4.5a2.18,2.18,0,0,1-3.1.8A2.52,2.52,0,0,1,89,163.8Zm65.1-65.4-5.6,9.6L118,90.4,110.4,86l5.6-9.6Z" transform="translate(-0.13 -0.03)"/><path d="M222.3,59.9v-.4l-.4-.4c-33-56.7-106-75.9-162.7-43a118.21,118.21,0,0,0-43,43l-.4.4V60a119.06,119.06,0,0,0,0,118.1v.3l.4.5a119.17,119.17,0,0,0,205.7,0l.5-.6V178A119.31,119.31,0,0,0,222.3,59.9ZM123.2,205.2a86.27,86.27,0,0,0,68.2-39.5l21,12.1a110.35,110.35,0,0,1-89.2,51.6ZM46.5,165.8a86.58,86.58,0,0,0,68.2,39.4v24.2a110.25,110.25,0,0,1-89.2-51.5ZM114.7,32.7A86.12,86.12,0,0,0,46.5,72.2l-21-12.1A109.82,109.82,0,0,1,114.7,8.5ZM42.2,158.3l-21,12.1a110.38,110.38,0,0,1,0-103l21,12.1A86.25,86.25,0,0,0,42.2,158.3ZM191.4,72.2a86.12,86.12,0,0,0-68.2-39.5V8.5a110.35,110.35,0,0,1,89.2,51.6Zm4.3,7.4,21-12.1a110.38,110.38,0,0,1,0,103l-21-12.1A86.25,86.25,0,0,0,195.7,79.6Zm1,39.4A77.7,77.7,0,1,1,119,41.3,77.84,77.84,0,0,1,196.7,119Z" transform="translate(-0.13 -0.03)"/></svg>
          </div>
          <span>
            Full-spectrum Colors
          </span>
        </li>
        <li>
          <div class="rgb-icon">
		  	<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200.06"><title>charger</title><path d="M217.4,21.5H186.2a4.06,4.06,0,0,0-4.1,4.1v95.9a60.55,60.55,0,1,1-121.1.1v-96a4.06,4.06,0,0,0-4.1-4.1H25.6a4.06,4.06,0,0,0-4.1,4.1v95.9a100,100,0,0,0,200,0V25.6A4.06,4.06,0,0,0,217.4,21.5Zm-4.1,8.2v23h-23v-23Zm-160.5,0v23h-23v-23Zm68.7,183.6a92.19,92.19,0,0,1-91.8-91.8V61h23v60.6a68.7,68.7,0,0,0,137.4,0V61h23v60.5C213.2,172,172,213.2,121.5,213.3Z" transform="translate(-21.5 -21.44)"/><path d="M91.8,87.9h18.4v35.5a4.17,4.17,0,0,0,3,4,4.3,4.3,0,0,0,1.2.2,4.19,4.19,0,0,0,3.5-1.9l36.8-58.1a4.46,4.46,0,0,0,.2-4.2,4.08,4.08,0,0,0-3.6-2.1H132.9V25.6a4.14,4.14,0,0,0-7.6-2.3l-37,58.3a4.46,4.46,0,0,0-.2,4.2A4.36,4.36,0,0,0,91.8,87.9Zm32.7-48.1V65.2a4.06,4.06,0,0,0,4.1,4.1h15.1l-25.2,39.8V83.8a4.06,4.06,0,0,0-4.1-4.1H99.3Z" transform="translate(-21.5 -21.44)"/></svg>
          </div>
          <span>
            Magnetic Charger
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="top-rgb-video-block">
  <video preload="auto" controls poster="{{'NEW-RGB_PL4500_video.jpg' | asset_url }}">
    <source src="{{ 'NEW-RGB_PL4500.webm' | asset_url }}" type="video/webm">
    <source src="{{ 'NEW-RGB_PL4500.mp4' | asset_url }}" type="video/mp4">
    <p>
      Your browser doesn't support HTML5 video.
      <a href="{{ 'NEW-RGB_PL4500.mp4' | asset_url }}">Download</a> the video instead.
    </p>
  </video>
</div>


<div class="collection-feature-block one">
  <div class="grid-container">
    <h2>Wireless Connectivity Through PC</h2>
    <p class="feature-copy">
      All presets and effect customizations are done through your PC to maintain a cord-free seating experience. The RGB LED kit is the first of it’s kind to allow full spectrum customization in lighting effects while maintaining the mobility of a normal gaming chair. With zero wires to hold you back, you can achieve optimal performance while enjoying a symphony of visual effects to bolster your gaming experience.
    </p>
  </div>
</div>
<div class="collection-feature-block two">
  <div class="grid-container">
    <div class="copy-container">
      <h2>Gameplay Immersion</h2>
      <p class="feature-copy">
      	With the power of our gameplay interactive modes, your gaming experience extends beyond your monitor and onto your chair. Detonate a bomb, see the lights flash. Get shot or injured, see the colors change from green to yellow to red. The sync options go on and on, allowing you to take your gameplay to the next level. 
      </p>
    </div>
  </div>
</div>
<div class="collection-feature-block three">
  <div class="grid-container">
    <h2>Audio Visual Sync</h2>
    <p class="feature-copy">
      Synchronize your tunes and see your music come to life with vibrant lighting effects and interactions, creating an entire new way of self-expression during your streams and gameplay.
    </p>
  </div>
</div>
<div class="collection-feature-block four">
  <div class="grid-container">
    <div class="copy-container">
      <h2>Customizable Color Combinations</h2>
      <p class="feature-copy">
      	Customizable RGB LEDs lets you style your gaming chair to match your mood. Choose from dozens of out-of-box presets and patterns or create your own, all from the ease of your fingertips. Fully adjustable intensity, pattern, color and speeds of individual LEDs puts the creative vision in your own hands.
      </p>
    </div>
  </div>
</div>
<div class="collection-feature-block five">
  <div class="grid-container">
    <div class="copy-container">
      <h2>Magnetic Charger and Replaceable Batteries</h2>
      <p class="feature-copy">
      	Charging is made simple with our multi-option recharging method. 
        The magnetic charging port allows you to quickly connect/disconnect with ease. 
        If wiring is not your choice, you may opt for rechargeable batteries and 
        external charging instead. Different uses for different habits.  
      </p>
    </div>
  </div>
</div>
<div class="shop-other-product-lines">
    <ul class="other-product-lines">
      <li class="top-kit">
        <h3>PL4500 Add-On</h3>
        <h2>RGB LED Top Kit</h2>
        <div class="vertagear-jump-list-container">
          <ul>
            <li>
        		<a href="/products/rgb-led-top-kit" class="vertagear-button">Shop Now</a>
            </li>
          </ul>
      	</div>
      </li>
      <li class="bottom-kit">
        <h3>PL4500 Add-On</h3>
        <h2>RGB LED Bottom Kit</h2>
        <div class="vertagear-jump-list-container">
          <ul>
            <li>
        		<a href="/products/rgb-led-bottom-kit" class="vertagear-button">Shop Now</a>
            </li>
            <li>
               <a href="/pages/rgb-led-bottom-kit" class="vertagear-learn-more">Learn More</a>
            </li>
          </ul>
      	</div>
      </li>
    </ul>
  </div>


{% section 'vertagear-customer-reviews' %}

{% section 'rgb-top-manual' %}
