{{ 'vertagear-rgb-bottom-kit.scss.css' | asset_url | stylesheet_tag }}
<div class="top-rgb-hero">
  <div class="grid-container">
    <h2>SL 5000</h2>
    <h1>RGB LED KIT </h1>
    <div class="hero-copy-container">
     Unleash new levels of your gaming experience with the RGB LED kit for your Vertagear SL5000 gaming chair. Designed to be a seamless experience, the RGB LED kit is the world’s first wirelessly operated RGB gaming chair. The smart interactive effects yield unlimited possibilities to reflect your mood on live streams or immerse yourself in intense gaming adventures. Showcase your creativity with fully customizable illumination and vivid animation effects to bring your battlestation to life.
    </div>
    <div class="vertagear-jump-list-container">
      <ul>
        <li>
          <a href="/products/rgb-led-bottom-kit?variant=29205503869039" class="vertagear-button">Shop Now</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="top-rgb-container">
  <div class="grid-container">
    <div class="copy-container">
      <h3>RGB LED KIT</h3>
      <p class="rgb content">
       The RGB LED Upgrade kit allows you to mix and match your beloved gaming chair to your setup in color, or in experience. With NZXT CAM software integration, adjusting colors, interactions, and modes are all accessible with ease at your fingertips.  
      </p>
    </div>
    <div class="icon-list">
      <ul class="rgb-icon-list">
        <li>
          <div class="rgb-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="116.037" height="83.611" viewBox="0 0 116.037 83.611">
              <g id="wireless_connectivity" data-name="wireless connectivity" transform="translate(-134.484 -252.993)">
                <path id="Path_2132" data-name="Path 2132" d="M189.767,252.993c-31.716,0-53.893,22.75-54.822,23.717A1.656,1.656,0,0,0,137.335,279c.219-.225,22.161-22.7,52.431-22.7,30.356,0,57.72,24.14,57.993,24.385a1.657,1.657,0,1,0,2.208-2.47C248.817,277.191,221.408,252.993,189.767,252.993Z" fill="#fff"/>
                <path id="Path_2133" data-name="Path 2133" d="M186.071,263.919c-25.869,0-43.957,18.555-44.714,19.345a1.656,1.656,0,0,0,2.391,2.293c.176-.184,17.854-18.324,42.323-18.324,24.511,0,46.634,19.512,46.854,19.709a1.656,1.656,0,1,0,2.208-2.469C234.2,283.633,211.867,263.919,186.071,263.919Z" transform="translate(4.211 7.176)" fill="#fff"/>
                <path id="Path_2134" data-name="Path 2134" d="M181.891,273.541c-19.257,0-32.719,13.808-33.284,14.4A1.657,1.657,0,1,0,151,290.23c.128-.133,13.032-13.375,30.891-13.375,17.9,0,34.1,14.278,34.258,14.423a1.657,1.657,0,0,0,2.209-2.47C217.662,288.182,201.077,273.541,181.891,273.541Z" transform="translate(8.974 13.496)" fill="#fff"/>
                <path id="Path_2135" data-name="Path 2135" d="M177.8,283.711c-12.789,0-21.726,9.167-22.1,9.556a1.656,1.656,0,1,0,2.391,2.293c.083-.084,8.317-8.536,19.709-8.536,11.434,0,21.832,9.157,21.936,9.248a1.656,1.656,0,0,0,2.209-2.469C201.484,293.392,190.52,283.711,177.8,283.711Z" transform="translate(13.633 20.176)" fill="#fff"/>
                <path id="Path_2136" data-name="Path 2136" d="M172.818,292.6a8.994,8.994,0,1,0,8.995,8.995A9.005,9.005,0,0,0,172.818,292.6Zm0,14.674a5.68,5.68,0,1,1,5.681-5.68A5.687,5.687,0,0,1,172.818,307.275Z" transform="translate(19.27 26.015)" fill="#fff"/>
              </g>
            </svg>
          </div>
          <span>
            Wireless Connectivity
          </span>
        </li>
        <li>
          <div class="rgb-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="113.279" height="79.521" viewBox="0 0 113.279 79.521">
              <g id="gaming_mode" data-name="gaming mode" transform="translate(-299.373 -253.207)">
                <path id="Path_2137" data-name="Path 2137" d="M386.426,253.219c-9.051-.326-17.81,7.175-20,9.21H356.3a1.507,1.507,0,0,0-.289.059,1.561,1.561,0,0,0-.29-.059H345.6c-2.2-2.035-10.951-9.553-20-9.21-9.776.375-24.825,11.734-26.08,34.925-1.079,19.957,3.782,42.564,13.519,44.295a17.775,17.775,0,0,0,3.151.289c7.691,0,13.876-5.505,20.209-17.748l6.456-12.485,13.134.172.02-.005.022.005,13.134-.172,6.458,12.485c6.335,12.244,12.52,17.75,20.209,17.748a17.931,17.931,0,0,0,3.151-.289c9.737-1.73,14.6-24.338,13.519-44.295C411.249,264.952,396.2,253.593,386.426,253.219ZM398.4,329.143c-7.609,1.344-13.335-3.2-19.8-15.7l-7.41-14.319-15.178.2-15.179-.2-7.406,14.319c-6.468,12.5-12.194,17.05-19.8,15.7-6.722-1.195-11.851-20.65-10.762-40.817a41.512,41.512,0,0,1,5.373-18.836c4.823-8.25,11.94-12.714,17.492-12.927.06,0,.12.005.181,0,8.722-.2,17.755,8.631,17.845,8.722l.49.487h11.479a1.715,1.715,0,0,0,.29-.059,1.649,1.649,0,0,0,.289.059h10.79l0,0h.686l.489-.485,0,0,.005-.005c.159-.157,8.941-8.728,17.537-8.728.161,0,.323,0,.484.01,8.884.34,21.771,11.566,22.862,31.763C410.253,308.494,405.123,327.949,398.4,329.143Z" transform="translate(0 0)" fill="#fff"/>
                <path id="Path_2138" data-name="Path 2138" d="M330.56,275.576H320.35v-9.791a1.673,1.673,0,1,0-3.347,0v9.791H306.794a1.673,1.673,0,1,0,0,3.347H317v10.628a1.673,1.673,0,0,0,3.347,0V278.923H330.56a1.673,1.673,0,0,0,0-3.347Z" transform="translate(3.871 7.343)" fill="#fff"/>
                <path id="Path_2139" data-name="Path 2139" d="M346.446,270.277H328.207a1.673,1.673,0,1,0,0,3.347h18.238a1.673,1.673,0,0,0,0-3.347Z" transform="translate(18.29 11.495)" fill="#fff"/>
                <path id="Path_2140" data-name="Path 2140" d="M352.267,270.277h-5.621a1.673,1.673,0,1,0,0,3.347h5.621a1.673,1.673,0,1,0,0-3.347Z" transform="translate(30.707 11.495)" fill="#fff"/>
                <path id="Path_2141" data-name="Path 2141" d="M362.1,270.277h-5.621a1.673,1.673,0,0,0,0,3.347H362.1a1.673,1.673,0,0,0,0-3.347Z" transform="translate(37.329 11.495)" fill="#fff"/>
                <path id="Path_2142" data-name="Path 2142" d="M353.253,263.781a1.673,1.673,0,0,0-1.673,1.673v5.623a1.673,1.673,0,1,0,3.347,0v-5.623A1.673,1.673,0,0,0,353.253,263.781Z" transform="translate(35.156 7.12)" fill="#fff"/>
                <path id="Path_2143" data-name="Path 2143" d="M353.253,273.873a1.673,1.673,0,0,0-1.673,1.673v5.621a1.673,1.673,0,0,0,3.347,0v-5.621A1.673,1.673,0,0,0,353.253,273.873Z" transform="translate(35.156 13.916)" fill="#fff"/>
              </g>
            </svg>
          </div>
          <span>
            Gaming Mode
          </span>
        </li>
        <li>
          <div class="rgb-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="112.764" height="91.068" viewBox="0 0 112.764 91.068">
              <g id="audio_sync" data-name="audio sync" transform="translate(-462.387 -254.58)">
                <path id="Path_2144" data-name="Path 2144" d="M518.721,255a3.541,3.541,0,0,0-3.665.221l-41.564,28.658H462.387v29.949H473.5l40.587,27.329a4.19,4.19,0,0,0,6.53-3.475V258.139A3.541,3.541,0,0,0,518.721,255Zm-53.04,32.173h5.59v23.361h-5.59Zm51.645,50.509a.9.9,0,0,1-1.4.743l-41.365-27.853v-23.43l42.361-29.208a.255.255,0,0,1,.4.211Z" transform="translate(0 0.005)" fill="#fff"/>
                <path id="Path_2145" data-name="Path 2145" d="M521.157,255.038a1.648,1.648,0,0,0-2.281,2.378c.176.168,17.565,17.112,17.565,40.568,0,23.495-18.708,44.708-18.9,44.919A1.647,1.647,0,1,0,520,345.1c.805-.9,19.736-22.343,19.736-47.116C539.735,273.138,521.914,255.766,521.157,255.038Z" transform="translate(35.416)" fill="#fff"/>
                <path id="Path_2146" data-name="Path 2146" d="M514.324,260.06a1.648,1.648,0,0,0-2.281,2.378c.142.135,14.159,13.794,14.159,32.7,0,18.944-15.1,36.076-15.256,36.247a1.646,1.646,0,0,0,2.454,2.2c.659-.735,16.1-18.221,16.1-38.443C529.5,274.84,514.943,260.655,514.324,260.06Z" transform="translate(31.147 3.249)" fill="#fff"/>
                <path id="Path_2147" data-name="Path 2147" d="M507.773,265.741a1.647,1.647,0,1,0-2.281,2.377c.1.1,10.305,10.042,10.305,23.8,0,13.8-11.027,26.313-11.14,26.438a1.647,1.647,0,0,0,2.456,2.2c.489-.547,11.979-13.56,11.979-28.633C519.092,276.769,508.235,266.184,507.773,265.741Z" transform="translate(27.079 6.924)" fill="#fff"/>
              </g>
            </svg>
          </div>
          <span>
            Audio Sync
          </span>
        </li>
        <li>
          <div class="rgb-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="102.049" height="102.822" viewBox="0 0 102.049 102.822">
              <g id="full-spectrum" transform="translate(-624.552 -252.684)">
                <path id="Path_2148" data-name="Path 2148" d="M719.49,277.767a1.213,1.213,0,0,0-.057-.152c-.02-.033-.053-.05-.076-.08a50.992,50.992,0,0,0-87.494-.115c-.024.036-.06.057-.08.095s-.019.07-.034.1A50.982,50.982,0,0,0,674.3,354.7a1.41,1.41,0,0,0,2.548,0,51.043,51.043,0,0,0,42.488-24.786c.026-.033.056-.059.08-.093a1.477,1.477,0,0,0,.059-.149,50.874,50.874,0,0,0,.013-51.9Zm-1.779,49.223-10.663-6.972a35.141,35.141,0,0,0-.526-32.634l11.172-6.989a48.026,48.026,0,0,1,.017,46.6Zm-42.135,9.584a32.363,32.363,0,1,1,32.363-32.363A32.4,32.4,0,0,1,675.576,336.574Zm40.646-58.642-11.182,7a35.228,35.228,0,0,0-28.029-15.912V255.589A48.157,48.157,0,0,1,716.222,277.932Zm-42.081-22.343v13.427a35.218,35.218,0,0,0-27.527,15.166l-11.542-6.468A48.15,48.15,0,0,1,674.141,255.589Zm-40.554,24.582,11.489,6.44a35.107,35.107,0,0,0-.988,33.374l-10.839,6.671a48.053,48.053,0,0,1,.339-46.485Zm1.118,48.958,10.77-6.628a35.252,35.252,0,0,0,28.666,16.9v12.42A48.155,48.155,0,0,1,634.7,329.129Zm42.306,22.7v-12.42a35.248,35.248,0,0,0,28.645-16.872l10.584,6.92A48.15,48.15,0,0,1,677.01,351.826Z" transform="translate(0 0)" fill="#fff"/>
                <path id="Path_2149" data-name="Path 2149" d="M682.372,276.538l-10.167-6.227-4.213,6.412-5.147-3.307-6.229,8.964,5.133,3.208L649.322,306.2v13.2l11.28-5.434,12.869-20.835,4.116,2.69,5.936-9.753-5.37-3.281Zm-9.294-2.33,5.237,3.209-2.627,3.89-5.25-3.083ZM658.6,311.743l-6.409,3.089V307l12.016-19.929,6.867,4.48Zm20.983-24.723-2.906,4.776-3.591-2.347c-.013-.009-.02-.024-.034-.033l-7.455-4.865a1.383,1.383,0,0,0-.264-.1l-4.642-2.9,2.931-4.218,5.209,3.345.031-.047,6.521,3.829Z" transform="translate(10.763 7.66)" fill="#fff"/>
              </g>
            </svg>
          </div>
          <span>
            Full-spectrum Colors
          </span>
        </li>
        <li>
          <div class="rgb-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="92.949" height="94.095" viewBox="0 0 92.949 94.095">
              <g id="magnetic_charger" data-name="magnetic charger" transform="translate(-789.571 -252.684)">
                <path id="Path_2150" data-name="Path 2150" d="M882.52,254.03a1.214,1.214,0,0,0-.055-.272,1.353,1.353,0,0,0-.05-.249,1.31,1.31,0,0,0-.164-.246,1.419,1.419,0,0,0-.123-.182,1.375,1.375,0,0,0-.249-.17,1.2,1.2,0,0,0-.178-.12,1.352,1.352,0,0,0-.281-.058,1.2,1.2,0,0,0-.24-.05H865.9l-.193,44.577a23.246,23.246,0,0,1-1.544,7.921C856,326.163,843.076,329.3,836.1,329.3s-19.895-3.134-28.065-24.116a11.165,11.165,0,0,1-.938-3.788c-.125-.927-.3-2.229-.607-4.209l-.288-43.163a1.293,1.293,0,0,0-.061-.288,1.441,1.441,0,0,0-.047-.23,1.281,1.281,0,0,0-.164-.242,1.36,1.36,0,0,0-.125-.184,1.329,1.329,0,0,0-.26-.175,1.388,1.388,0,0,0-.167-.112,1.344,1.344,0,0,0-.522-.1H789.571l.139,17.171v.009L790,305.684a26.258,26.258,0,0,0,2.5,10.53c4.338,9.189,17.274,30.565,43.629,30.565s39.291-21.375,43.628-30.565a26.262,26.262,0,0,0,2.5-10.561l.271-51.617v-.007Zm-2.7,1.346-.07,13.137H868.528l.057-13.137Zm-76.3,0,.089,13.137H792.391l-.106-13.137Zm73.8,59.689c-11.922,25.252-30.927,29.022-41.194,29.022s-29.274-3.77-41.194-29.022a23.519,23.519,0,0,1-2.239-9.43l-.28-34.429h11.214l.175,26.1.015.2c.312,2.011.49,3.323.615,4.253a13.571,13.571,0,0,0,1.1,4.406c3.025,7.767,12.058,25.831,30.573,25.831s27.548-18.064,30.574-25.831a25.991,25.991,0,0,0,1.727-8.86l.113-26.093h11.222l-.18,34.4A23.563,23.563,0,0,1,877.319,315.065Z" transform="translate(0 0)" fill="#fff"/>
                <path id="Path_2151" data-name="Path 2151" d="M823.65,306.212l20.172-33.62H832.577l.135-18.19c0-.035,0-.071,0-.1v-.058a1.345,1.345,0,0,0-1.335-1.355h-.011a1.344,1.344,0,0,0-1.306,1.024l-16.894,28.935H823.65Zm-5.793-26.062,12.126-20.772-.12,15.906h9.2l-12.724,21.21V280.15Z" transform="translate(8.165 0.069)" fill="#fff"/>
              </g>
            </svg>
          </div>
          <span>
            Magnetic Charger
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>

{% comment %}
<div class="top-rgb-video-block">
  <video preload="auto" controls poster="{{'NEW-RGB_PL4500_video.jpg' | asset_url }}">
    <source src="{{ 'NEW-RGB_PL4500.webm' | asset_url }}" type="video/webm">
    <source src="{{ 'NEW-RGB_PL4500.mp4' | asset_url }}" type="video/mp4">
    <p>
      Your browser doesn't support HTML5 video.
      <a href="{{ 'NEW-RGB_PL4500.mp4' | asset_url }}">Download</a> the video instead.
    </p>
  </video>
</div>
{% endcomment %}


<div class="collection-feature-block one">
  <div class="grid-container">
    <div class="content-inner">
      <h2>Wireless Connectivity<br>Through PC</h2>
      <p class="feature-copy">
		All presets and effect customizations are done through your PC to maintain a cord-free seating experience. The RGB LED kit is the first of it’s kind to allow full spectrum customization in lighting effects while maintaining the mobility of a normal gaming chair. With zero wires to hold you back, you can achieve optimal performance while enjoying a symphony of visual effects to bolster your gaming experience.    </p>
  	</div>
  </div>
</div>
<div class="collection-feature-block two">
  <div class="grid-container">
    <div class="content-inner">
      <h2>Gameplay Immersion</h2>
      <p class="feature-copy">
        With the power of our gameplay interactive modes, your gaming experience extends beyond your monitor and onto your chair. Detonate a bomb, see the lights flash. Get shot or injured, see the colors change from green to yellow to red. The sync options go on and on, allowing you to take your gameplay to the next level.      </p>
    </div>
  </div>
</div>
<div class="collection-feature-block three">
  <div class="grid-container">
    <div class="content-inner">
      <h2>Audio Visual Sync</h2>
      <p class="feature-copy">
        Synchronize your tunes and see your music come to life with vibrant lighting effects and interactions, creating an entire new way of 
        self-expression during your streams and gameplay.
      </p>
    </div>
  </div>
</div>
<div class="collection-feature-block four">
  <div class="grid-container">
    <div class="content-inner">
      <h2>Customizable Color<br>Combinations</h2>
      <p class="feature-copy">
		Customizable RGB LEDs lets you style your gaming chair to match your mood. Choose from dozens of 
        out-of-box presets and patterns or create your own, all from the ease of your fingertips. Fully adjustable intensity, pattern, color and speeds of individual LEDs puts the creative vision in your own hands.      </p>
    </div>
  </div>
</div>
<div class="collection-feature-block five">
  <div class="grid-container">
    <div class="content-inner">
      <h2>Magnetic Charger &<br>Replaceable Batteries</h2>
      <p class="feature-copy">
        Customizable RGB LEDs lets you style your gaming chair to match your mood. Choose from dozens of out-of-box presets and patterns or create your own, all from the ease of your fingertips. Fully adjustable intensity, pattern, color and speeds of individual LEDs puts the creative vision in your own hands.
      </p>
    </div>
  </div>
</div>
<div class="shop-other-product-lines">
    <ul class="other-product-lines">
      <li>
        <div>
          <h2>RGB LED <br>Top Kit</h2>
          <div class="other-product-buttons">
            <a href="/products/sl5000-rgb-led-top-upgrade-kit?variant=32097206796399" class="vertagear-button">Shop Now</a>
            <a href="/pages/rgb-top-kit" class="vertagear-button btn-text">Learn more</a>
          </div>
        </div>
      </li>
      <li>
        <div>
          <h2>RGB LED <br>Bottom Kit</h2>
          <a href="/products/rgb-led-bottom-kit?variant=29205503869039" class="vertagear-button">Shop Now</a>
		</div>
      </li>
    </ul>
  </div>


{% section 'vertagear-customer-reviews' %}

{% section 'rgb-top-manual' %}
