{% section 'military-discount' %}


{% comment %}
{{ 'military-discount.scss.css' | asset_url | stylesheet_tag }}
{{ 'https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js' | script_tag }}
{{ 'https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css' | stylesheet_tag }}
<div class='hero'>
  <img class='desktop no-drag' src='{{ 'military_hero_3.png' | asset_url }}' />
  <img class='mobile no-drag' src='{{ 'military_mobile_hero.jpg' | asset_url }}' />
  <h1 class='military-heading'>Vertagear Military Appreciation Program</h1>
  <h2 class='discount-notice'>Get <strong>20%</strong> off your purchase now.</h2>
</div>
<div class='community'>
    <img class='laptops no-drag' src='{{ 'military_laptops.jpg' | asset_url }}' />
    <div class='gaming'>
      <h2 class='part'>As part of the gaming community</h2>
      <p>we have a duty to support our own, especially the men and women who've made countless sacrifices to defend
        our way of life. At Vertagear, we'd like to express our gratitude to our heroes.</p>
    </div>
</div>
<div class='military-form' name='mildisc'>
  <img class='desktop no-drag' src='{{ 'form_background.jpg' | asset_url }}' />
  <img class='mobile no-drag' src='{{ 'form_mobile_background.jpg' | asset_url }}' />
  <div class='content'>
  <h2>Just One Step Away</h2>
    <p>HOW TO RECEIVE YOUR DISCOUNT</p>
    <ol>
      <li>Click "Get Your Discount Code" below and sign into VerifyPass.</li>
      <li>After verification, you'll receive a one-time discount code to apply during checkout.</li>
    </ol>
    <div class='form'>
      <div id='militarydiscount' class="vfyps_mil">
        <input type="button" class='submit' value='GET YOUR DISCOUNT CODE' style="pointer-events:none">
      </div>
      <br />
      <p>Terms & Conditions</p>
      <ul>
      <li>This program is only applicable to all military members and dependents in the United States.</li>
<li>Each Vertagear Student Program discount offer may only be used once and cannot be combined with other programs, promotions, or offers.</li>
<li>Vertagear reserves the right to withdraw, terminate, or amend the terms of sale at any time.</li>
      </ul>
    </div>
  </div>
</div>
<div class='slogan'>
  <h2>Comfort. Design. Vertagear.</h2>
  <p>We bring inspired design and innovative features to gaming chairs. We enrich the lifestyle of gamers with
    products that suit your needs and boast the best in ergonomics.</p>
  <div class='chair'>
    <img class='no-drag' src='{{ 'mil_trigger.png' | asset_url }}' />
    <h3>Triigger Line Gaming Series</h3>
    <p>Redefining gaming chairs.</p>
    <a href='https://www.vertagear.com/collections/gaming-series'><button type='button' class='more'>More</button></a>
  </div>
  <div class='chair'>
    <img class='no-drag' src='{{ 'mil_sline.png' | asset_url }}' />
    <h3>S-Line Racing Series</h3>
    <p>Combines comfort and flexibility with a racing-style aesthetic.</p>
    <a href='https://www.vertagear.com/collections/racing-series'><button type='button' class='more'>More</button></a>
  </div>
  <div class='chair'>
    <img class='no-drag' src='{{ 'mil_pline2.png' | asset_url }}' />
    <h3>P-Line Racing Series</h3>
    <p>Built with industrial strength and large padding for extra support, durability, and space.</p>
    <a href='https://www.vertagear.com/products/pl6000-gaming-chair'><button type='button' class='more'>More</button></a>
  </div>
</div>
<!-- <div class='partners'>
  <h2>In partnership with</h2><a href='https://stack-up.org'><img class='no-drag' src='{{ 'stack_up.jpg' | asset_url }}' /></a>
</div> -->

<script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
<script type="text/javascript">twttr.conversion.trackPid('o0z4t', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=o0z4t&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
<img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=o0z4t&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
</noscript>
{% endcomment %}