<link rel="stylesheet" href="{{ '2ypp.css' | asset_url }}" />

<div class="hero">
  <div class="hero__text">
    <div class="hero__title">
      Vertagear Protection Program
    </div>
    <div class="hero__header">
      2-year Wear & Tear
      Protection Program
    </div>
    <div class="hero__desc">
      Enjoy peace of mind with the Vertagear Wear & Tear Protection Program. Coverage includes PUC faux
      leather
      cracking or tearing, microfiber tearing, broken stitching or damage to casters or armrest padding.
      Excludes accidental stains or damage.
    </div>
    <a class="hero__action" href="/pages/2-year-wear-and-tear" target="_blank">
      JOIN THIS PROGRAM
    </a>
  </div>
</div>

<div id="actionMobile" class="action-mobile no-desktop">
  <a href="/pages/2-year-wear-and-tear" target="_blank">
    JOIN PROTECTION PROGRAM
  </a>
</div>

<div class="how">
  <div class="how__header">
    <div class="how__header__title">HOW DO YOU GET <br class="no-desktop" />FREE 2-YEAR WEAR & TEAR?</div>
    <div class="how__header__strong">Just 3 simple steps</div>
  </div>
  <div class="how_steps">
    <div class="how__step">
      <div class="max-width-desktop">
        <div class="how__step__img"><img src="{{ '2ypp-how-step1.png' | asset_url }}" alt="how step" /></div>
        <div class="how__step__text">
          <div class="how__step__title">STEP 01</div>
          <div class="how__step__desc">Input your information and select purchased model</div>
        </div>
      </div>
    </div>
    <div class="how__step step2 step-strong">
      <div class="max-width-desktop">
        <div class="how__step__img"><img src="{{ '2ypp-how-step2.png' | asset_url }}" alt="how step" /></div>
        <div class="how__step__text">
          <div class="how__step__title">STEP 02</div>
          <div class="how__step__desc">Input your review and select your ratings</div>
        </div>
      </div>
    </div>
    <div class="how__step">
      <div class="max-width-desktop">
        <div class="how__step__img"><img src="{{ '2ypp-how-step3.png' | asset_url }}" alt="how step" /></div>
        <div class="how__step__text">
          <div class="how__step__title">STEP 03</div>
          <div class="how__step__desc">Upload product's video or image. Done</div>
        </div>
      </div>
    </div>
  </div>
  <div class="how__action max-width-desktop no-mobile">
    <a class href="/pages/2-year-wear-and-tear" target="_blank">JOIN PROTECTION PROGRAM</a>
  </div>
</div>

<div class="get">
  <div class="max-width-desktop">
    <div class="get__title">
      What will you get when you join the program?
    </div>
    <div class="get__info">
      <div class="get__info__each">
        <div class="get__info__each__img"><img src="{{ '2ypp-get-info1.svg' | asset_url }}" /></div>
        <div class="get__info__each__title">Faster Support Resolutions</div>
        <div class="get__info__each__desc">Registering your product means faster resolutions for your
          queries as
          we will have quick access to your product info.</div>
      </div>
      <div class="get__info__each">
        <div class="get__info__each__img"><img src="{{ '2ypp-get-info2.svg' | asset_url }}" /></div>
        <div class="get__info__each__title">Be In The Loop</div>
        <div class="get__info__each__desc">Stay informed and get to know the latest promotions and product
          updates.</div>
      </div>
      <div class="get__info__each">
        <div class="get__info__each__img"><img src="{{ '2ypp-get-info3.svg' | asset_url }}" /></div>
        <div class="get__info__each__title">Easy Access To Product Article</div>
        <div class="get__info__each__desc">Access the latest information you need easily and conveniently
          from
          our support articles.</div>
      </div>
    </div>
  </div>
</div>

<div class="tc">
  <div class="max-width-desktop">
    <div class="tc__title">Term & Conditions</div>
    <div class="tc__info">
      <div class="tc__info__each tc__info__each1">
        <div class="tc__info__each__num">01</div>
        <div class="tc__info__each__text">US & Canada Purchaser Only</div>
      </div>
      <div class="tc__info__each tc__info__each2">
        <div class="tc__info__each__num">02</div>
        <div class="tc__info__each__text">Your social post must be public. (You may need to add #promotion,
          #ad depending on your local regulations.)</div>
      </div>
      <div class="tc__info__each tc__info__each3">
        <div class="tc__info__each__num">03</div>
        <div class="tc__info__each__text">Warranty coverage starts from the original purchase date.</div>
      </div>
      <div class="tc__info__each tc__info__each4">
        <div class="tc__info__each__num">04</div>
        <div class="tc__info__each__text">Each Vertagear chair is entitled to warranty extension.</div>
      </div>
      <div class="tc__info__each tc__info__each5">
        <div class="tc__info__each__num">05</div>
        <div class="tc__info__each__text">Vertagear reserves the right to make any changes where it deems
          necessary in its absolute discretion to these Terms and Conditions at any time. The decisions of
          Vertagear on all matters relating to the Program shall be final and binding on all customers.
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{ '2ypp.js' | asset_url }}" async defer></script>