{% include "zendesk-widget" %}
<!-- /templates/page.liquid -->
{% assign featured_gaming_chairs = collections['store-page-featured-gaming-chairs'].products %}
{% assign accessories = collections['store-page-featured-accessories'].products %}
<div class="hero-wrapper">
  <a href='{{ settings.store_page_hero_url }}'>
    <div class='hero' style="background-image:url({{ settings.store_page_mobile_hero | img_url: 'master' }});">
      <img class='hero-img' src="{{ settings.store_page_hero | img_url: 'master' }}" />
      <img class='mobile-hero-img' src="{{ settings.store_page_mobile_hero | img_url: 'master' }}" />
      <div class='hero_info'>
        <h1>{{ settings.store_page_hero_heading }}</h1>
        <!--<p>{{ settings.store_page_hero_desc }}</p>
        <div class='main_button'>
          <a href='{{ settings.store_page_hero_button_url }}'>
            <div class='button_text'>{{ settings.store_page_hero_button_text }}</div>
          </a>
        </div>-->
      </div>
    </div>
  </a>
  {% if settings.store_page_hero_2 %}
    <a href='{{ settings.store_page_hero_url_2 }}'>
      <div class='hero' style="background-image:url({{ settings.store_page_mobile_hero_2 | img_url: 'master' }});">
        <img class='hero-img' src="{{ settings.store_page_hero_2 | img_url: 'master' }}" />
      	<img class='mobile-hero-img' src="{{ settings.store_page_mobile_hero_2 | img_url: 'master' }}" />
      </div>
    </a>
    {% if settings.store_page_mobile_hero_3 %}
      <a href='{{ settings.store_page_hero_url_3 }}'>
        <div class='hero' style="background-image:url({{ settings.store_page_mobile_hero_3 | img_url: 'master' }});">
          <img class='hero-img' src="{{ settings.store_page_hero_3 | img_url: 'master' }}" />
      	  <img class='mobile-hero-img' src="{{ settings.store_page_mobile_hero_3 | img_url: 'master' }}" />
        </div>
      </a>
    {% endif %}
  {% endif %}
</div>
{% if settings.store_page_hero_2 %}
<script>
  jQuery(".hero-wrapper").slick({
    autoplay: true,
    autoplaySpeed: 5000,
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: false,
    dots: true,
  });
</script>
{% endif %}
<div class='testimonial'>
  <p>{{ settings.store_page_testimonial_text }}</p><img style='width: 95px; height: 20px;' src='{{ 'pcgamer-logo.svg' | asset_url }}' />
</div>
<div class='featured_gaming_chairs'>
  <div class='container'>
    <h2 class='header'>Featured Gaming Chairs</h2>
    <p class='featured'>We bring inspired design and innovative features to gaming chairs. We enrich the lifestyle of gamers with products that suit your needs and boast the best in ergonomics.</p>
    <div id='fgc_wrapper'>
      {% include 'buy-now' with featured_gaming_chairs %}
    </div>
  </div>
</div>
<div class='accessories'>
  <div class='container'>
    <h2 class='header'>Accessories</h2>
    <div id='acc_wrapper'>
      {% include 'buy-now' with accessories %}
    </div>
  </div>
</div>
<div class='info'>
  <div class='warranty'>
    <div class='warranty_icon'></div>
    <h2>Warranty</h2>
    Up to 10 years manufacturer warranty
    <div class='relative_smaller_button'>
      <a href='https://www.vertagear.com/pages/warranty'>
        <div class='button_text'>LEARN MORE</div>
      </a>
    </div>
  </div>
  <div class='assembly'>
    <div class='assembly_icon'></div>
    <h2>Easy Assembly</h2>
    Vertagear S-Line Racing Series Rev. 2 assembly
    <div class='relative_smaller_button'>
      <a href='https://www.youtube.com/watch?v=Au67-Vk5p1I'>
        <div class='button_text'>WATCH VIDEO</div>
      </a>
    </div>
  </div>
</div>

<script>
  initSlick = function() {
    $('#fgc_wrapper').slick({
      mobileFirst: true,
      arrows: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 767,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
          }
        }
      ]
    });
    $('#fgc_wrapper').slick('slickGoTo', 0);
    $('#acc_wrapper').slick({
      mobileFirst: true,
      arrows: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 767,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
          }
        }
      ]
    });
    $('#acc_wrapper').slick('slickGoTo', 0);
  };
  
	initSlick();
  
  $(window).on('resize', function() {
    $('#fgc_wrapper').slick('slickGoTo', 0);
    $('#acc_wrapper').slick('slickGoTo', 0);
    var width = $(window).width();
    if(width < 768) {
      initSlick();
    }
  });
  
  $(document).ready(function() {
  $('.quantity-right-plus').on('click', function(e) {
    e.preventDefault();
    var productId = $(this).attr('data-product-id');
    var quantity = parseInt($('#' + productId + '-quantity').val());
    $('#' + productId + '-quantity').val(quantity + 1);
  });

  $('.quantity-left-minus').click(function(e){
    e.preventDefault();
    var productId = $(this).attr('data-product-id');
    var quantity = parseInt($('#' + productId + '-quantity').val());
    if(quantity > 0){
      $('#' + productId + '-quantity').val(quantity - 1);
    }
  });
  });
</script>

{% include 'paypal-popup' %}  

<script>
  ;$(document).ready(function(){
    jQuery(".zero-product-display .qv").on("click", function(){
      jQuery().absolveGa("virtual_pageview", {
        path: "store/quick-view",
        title: "Store: Open quick view"
      });
    });
    jQuery(".add-to-cart-btn").on("click", function(){
      jQuery().absolveGa("virtual_pageview", {
        path: "store/quick-view/add-to-cart",
        title: "Store/QuickView: Add To Cart"
      });
    });
    jQuery("a.buy-now").on("click", function(){
      jQuery().absolveGa("virtual_pageview", {
        path: "store/buynow",
        title: "Store: Press Buy Now"
      });
    });
  });
</script>
<script>
  Geolizr.init(function($) {
    Geolizr.getGeoData(function(geoData, refreshed) {
      var redirects = {
        "1445":
        	{"id":1445,"redirectUrl":"https:\/\/www.vertagear.nl\/pages\/store","redirectIgnoreReferrers":null,"filterlistType":"none","filterlistUrls":null},
        "1446":
        	{"id":1446,"redirectUrl":"https:\/\/www.vertagear.nl\/pages\/store","redirectIgnoreReferrers":null,"filterlistType":"none","filterlistUrls":null}
      };
      var countryToRedirect = {"AL":1445,"AD":1445,"AM":1445,"AT":1445,"AZ":1445,"BY":1445,"BE":1445,"BA":1445,"BG":1445,"HR":1445,"CY":1445,"CZ":1445,"DK":1445,"DD":1445,"FI":1445,"FR":1445,"GF":1445,"PF":1445,"TF":1445,"FQ":1445,"GE":1445,"DE":1445,"GR":1445,"HU":1445,"IS":1445,"IE":1445,"IT":1445,"KZ":1445,"LV":1445,"LI":1445,"LT":1445,"LU":1445,"MK":1445,"MT":1445,"FX":1445,"MD":1445,"MC":1445,"ME":1445,"NL":1445,"AN":1445,"NO":1445,"PL":1445,"PT":1445,"RO":1445,"RU":1445,"SM":1445,"RS":1445,"CS":1445,"SK":1445,"SI":1445,"ES":1445,"SE":1445,"CH":1445,"TR":1445,"VI":1445,"UA":1445,"GB":1445,"VA":1445,"EE":1446};

      var redirect = redirects[countryToRedirect[geoData.country.code]];
      var regionRedirect = redirects[countryToRedirect[geoData.country.code + '-' + geoData.region]];
      if(regionRedirect)
          redirect = regionRedirect;
      console.log("geolizr redirect data: ",redirect);
      /*
      Geolizr.redirect(redirect, false);
      */
    }, true);
  });
</script>