<!-- /templates/page.liquid -->
{{ 'pillow-sc.scss.css' | asset_url | stylesheet_tag }}
<div class='hero'>
    <div class='container'>
        <div class='hero_info'>
            <h1>RACING SERIES PILLOW Sc</h1>
            <p>
                Gaming can be an intense activity that requires
                thousands of hours of play to reach the pinnacle of skill. Day
                in day out, we sit in our chairs, lean back against our
                headrest, and grind. But most people arent aware that by
                doing so we transmit billions of bacteria and odor particles
                to the headrest.
                <br /><br />
                We're bringing you the industry's first solution to this over-
                looked issue by introducing our new hygenic pillow cover:
                the Racing Series Pillow Sc.
            </p>
            <div class='main_button'>
                <a href='https://www.vertagear.com/products/vertagear-racing-series-headrest-sc-cover?variant=35115606469'>
                    <div class='button_text'>PRE-ORDER NOW →</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class='silver_lining'>
    <div class='container'>
        <div class='silver_lining_info'>
            <h3>What makes our pillow cover hygenic? By infusing the fabric 
            with silver lining and coffee grounds, we've created a cover 
            that is both antibacterial and anti-odor. Here's how it works.</h3>
            <br />
            <h2>Silver Lining</h2>
            <img class='no-drag' src="{{'pillow-silver-new.png' | asset_url }}" />
            <p>Silver is long hailed for its antibacterial properties.
            Silver interrupts bacteria's ability to form chemical bonds
            critical to its survival, so when bacteria meets silver it
            falls apart. Hospitals and healthcare facilities utilize this
            unique trait of silver by employing an array of
            silver-imbedded equipment such as surgical tools,
            needles, stethoscopes, and wound dressings.</p>
        </div>
    </div>
</div>
<div class='coffee'>
    <div class='container'>
        <div class='coffee_fiber_info'>
            <h2>Coffee Fiber</h2>
            It's crazy to think that the coffee we drink can be used in 
            fabric as a deodorizing agent. When roasted, coffee beans swell, 
            expanding the space within. During subsequent brewing hot water 
            removes materies clogging up the space.
            <br />
            <img class='no-drag' src="{{'coffee-fiber.png' | asset_url }}" />
            <p>
            <strong style='font-size: 18px;'>
                But how exactly is coffee made into fiber?
            </strong>
            <br /><br />
            Recycled coffee grounds are collected and processed
            through a patented method before being combined with
            polymer. The combination of the processed grounds
            and recycled plastic creates masterbatches, which are
            carrier resins then used to create the extrusion of yarn.
            The yarn produced carries with it a number of features
            that put it above other common fabrics.
            </p>
        </div>
    </div>
</div>
<div class='odor_control'>
    <div class='container'>
        <div class='odor_control_info'>
            <h2>Odor Control</h2>
            <img class='no-drag' src="{{'odor-control.png' | asset_url }}" />
            <br />
            <p>The patented technology of producing coffee fiber
            maximizes the functionality of the grounds. When odor
            particles pass through the coffee grounds, they are
            absorbed into the pores. The odor is left undetectable
            to your nose, and best of all, this function permanently
            exists and does not wash away.</p>
        </div>
    </div>
</div>
<div class='quick_drying'>
    <div class='container'>
        <div class='quick_drying_info'>
            <h2>Quick Drying</h2>
            <img class='no-drag' src="{{'quick-drying.png' | asset_url }}" />
            <br />
            <p>Coffee fiber moves moisture away from the skin to
            the outer surface, speeding the drying process
            considerably. The moisture is spread across the
            surface and increases the contact area to air. This is
            also a permanent function of coffee fiber.</p>
        </div>
    </div>
</div>
<div class='friendly_to_env'>
    <div class='container'>
        <div class='environmental_info'>
            <img class='no-drag' src="{{ 'environment.png' | asset_url }}" />
            <br /><br />
            <h2>Environmentally Friendly</h2>
            <p>By using disposed coffee grounds, coffee fiber is the first film 
            material developed without the use of food-based production. 
            In recycling the grounds, the resources required to produce the 
            fabric are minimal. The use of naturally-occurring silver also adds 
            to the eco-friendliness of the pillow cover.</p>
        </div>
    </div>
</div>
<div class='preorder'>
    <div class='container'>    
        <div class='preorder_info'>      
            We believe in providing gamers with the experience of true comfort, 
            and there is no comfort without cleanliness. At Vertagear, we're 
            solving the gaming experience piece by piece.
            <div class='main_button'>
                <a href='https://www.vertagear.com/products/vertagear-racing-series-headrest-sc-cover?variant=35115606469'>
                    <div class='button_text'>PRE-ORDER NOW →</div>
                </a>
            </div>
        </div>
    </div>
</div>