{% layout none %}
<!DOCTYPE html>
<html>

<head>
	<!-- CSS -->

  {{ 'password.scss.css' | asset_url | stylesheet_tag }}	
	{% include 'font-links' %}
	<title>{{ 'coming_soon.general.title' | t }}</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />	
	
</head>

<body>

<header id="site-header" style="display: none;">
	<div class="site-header--inner">
		{% form 'storefront_password' %}
			{{ form.errors | default_errors }}
			<div class="form-group">
			<label for='password'>{{ 'coming_soon.general.password' | t }}</label>
			<div class="input-group">		
			<input type='password' name='password' id='password' class="form-control password--input" autofocus />
			<span class="input-group-btn"><input class="btn btn-default" name="commit" type="submit" value="{{ 'coming_soon.general.continue' | t }}" /></span>
			</div>
			</div>
		{% endform %}
		<p class="password--store-owner">{{ 'coming_soon.general.store_owner' | t }} {{ 'coming_soon.general.store_owner_html' | t }}</p>
		<div class="password--close"><a href="#"><img src="{{ 'close.png' | asset_url }}" alt="Close" /></a></div>
	</div>     
</header>

<div class="password--wrapper">
	
	<div class="password--main">
	
		<div class="password--logo">       
			{% if settings.logo_use_image %}
				<a href="/" class="site-header__logo-link">
					<img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
				</a>
			{% else %}
				<h1 id="site-title"><a href="/">{{ shop.name }}</a></h1>
			{% endif %}
		</div>
	
		{% if shop.password_message and shop.password_message != '' %}
			<div class="welcome-message custom-font">
				<h1>{{ shop.password_message }}</h1>
			</div>
		{% else %}
			<div class="welcome-message custom-font">
				<h1>{{ 'coming_soon.general.opening_soon' | t }}</h1>
			</div>
		{% endif %}
		
		<div class="password--mailing-list">
			{% form 'customer' %}
				{{ form.errors | default_errors }}
				{% if form.posted_successfully? %}
					<div class="alert alert-success" role="alert">
						{{ 'coming_soon.general.thanks_mailing' | t }}
					</div>
				{% else %}
				<div class="form-group">
					<label for="email">{{ 'coming_soon.general.find_out' | t }}</label>
					<div class="input-group">
						<input type="hidden" name="contact[tags]" value="prospect, password page">
						<input type="email" name="contact[email]" id="email" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" class="form-control password--input">
						<span class="input-group-btn"><input type="submit" value="{{ 'general.newsletter_form.submit' | t }}" class="btn btn-default"></span>
					</div>
				</div>
				{% endif %}
			{% endform %}
		</div>
		
		<div id="password--site-owner-options">
			<p><a href="#" id="password-show">{{ 'coming_soon.general.password' | t }}</a></p>
		</div>
		
		<div id="footer">
			<div id='powered'>
				{{ 'coming_soon.general.powered_by_html' | t }}
			</div>
		</div>
		
	</div>
	
	
      
</div>
  
{{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  
<script type="text/javascript">
	document.getElementById('password').focus();
	$( "#password-show" ).click(function() {
	  $( "#site-header" ).slideToggle( "slow");
	});
	$( ".password--close a" ).click(function() {
	  $( "#site-header" ).slideToggle( "slow");
	});
	$(function() {
	  if ( $('.storefront-password-form .errors').size() ) {
	    $( "#site-header" ).slideToggle( "slow");
	  }
	});
</script>
  
</body>
</html>