{% comment %}
<script>SPOCustom = {}; SPOCustom.customVariantSelectors = true;</script>
{% endcomment %}

<script src="https://scripts.sirv.com/sirv.js"></script>
<script>
  var SirvOptions = {
    image: {
      lazy: false
    }
  }
</script>

<div>
        <div class="section">
            <div class="background" style="background-color: white;"><img class="Sirv" style="width: 50%;"
                    data-src="https://tanatanh.sirv.com/vtg/vtg-komen/1_bg.png"></div>
            <div class="content" style="width: 50%; right: 0;">
                <div
                    style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; flex-flow: column;">
                    <div style="width: 100%; display: flex;">
                        <h1 style="display: flex; align-items: flex-end;" class="text-blue top">
                            Vertagear<img class="heart"
                                src="https://tanatanh.sirv.com/vtg/vtg-komen/Path%2051%402x.jpg?w=150">
                        </h1>
                    </div>
                    <div style="display: flex; width: 100%">
                        <h1 class="text-blue top"><span class="text-blue">w/ </span> <span class="text-pink">Susan G.
                                Komen速</span></h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="background">
                <img class="Sirv" data-src="https://tanatanh.sirv.com/vtg/vtg-komen/2_bg.png">
            </div>
            <div class="content padding-left">
                <div style="display: flex; flex-flow: column; width: 55%">
                    <h1 class="text-blue">Impactful Partnership</h1>
                    <div>
                        <span>
                            Vertagear is partnering with Susan G. Komen速 to help bring awareness
                            into the gaming community about their mission to save lives by meeting the most
                            critical needs of the communities and investing in breakthrough research to prevent
                            and cure breast cancer. Join the fight. Save Lives.
                        </span>
                    </div>
                    <div style="margin-top: 1em">
                        <button class="text-blue" style="border: 1px solid; padding: 0 1em;">
                            <a href="https://www.komen.org/" target="blank">
                                <div><span>Learn more about</span></div>
                                <div>
                                    <h3>Susan G. Komen速</h3>
                                </div>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="background">
                <img class="Sirv" data-src="https://tanatanh.sirv.com/vtg/vtg-komen/3_bg.png">
            </div>
            <div class="content padding-right" style="justify-content: flex-end;">
                <div style="display: flex; flex-flow: column; width: 40%;">
                    <h1 class="text-blue">Fight Together!</h1>
                    <p>
                        Team Vertagear has created a custom Pink Edition PL1000 gaming chair to
                        honor and encourage all our friends, colleagues and loved ones who have
                        been impacted by this disease.
                    </p>
                    <div style="display: flex;">
                        <div style="width: 50%;">
                            <h3 class="text-blue" style="margin: 1em 0"><b>1 in 8 women</b></h3>
                            <p class="text-blue">
                                1 in 8 women in the United
                                States will be diagnosed with
                                breast cancer in her lifetime.
                            </p>
                        </div>
                        <div style="width: 50%; display: flex; justify-content: center; padding: 1em">
                            <img style="width: 100%; object-fit: scale-down;"
                                src="https://tanatanh.sirv.com/vtg/vtg-komen/Hands%402x.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-four">
            <div class="background">
            </div>
            <div class="content padding-left padding-right">
                <div style="display: flex; flex-flow: column; align-items: center; width: 50%; align-items: flex-start">
                    <h2 class="text-blue" style="position: relative; bottom: -0.5em;"><b>Show your</b></h2>
                    <h1 class="text-blue">Love &amp; Support</h1>
                    <p>
                        *20% of the retail sales price from each of Vertagear's PL1000 pink edition will be donated to 
                         Susan G. Komen速 to assist their goal in creating a world without breast cancer and supporting 
                         those impacted by the disease.
                    </p>
                </div>
                <div
                    style="width: 50%; height: 100%; display: flex; justify-content: center; align-items: center; flex-flow: column;">
                    <div style="width: 100%; display: flex; justify-content: center; margin-bottom: 3em;">
                        <div style="margin-right: 4em;">
                            <div>
                                <img class="support-icon"
                                    src="https://tanatanh.sirv.com/vtg/vtg-komen/shopping.jpg?w=150&amp;h=150">
                            </div>
                            <div class="text-pink" style="text-align: center; margin-top: 1em; font-style: italic;">
                                Shop
                            </div>
                        </div>
                        <div>
                            <div>
                                <img class="support-icon"
                                    src="https://tanatanh.sirv.com/vtg/vtg-komen/heart.jpg?w=150&amp;h=150">
                            </div>
                            <div class="text-pink" style="text-align: center; margin-top: 1em; font-style: italic;">
                                Love
                            </div>
                        </div>

                    </div>
                    <div style="width: 100%; display: flex; justify-content: center;">
                        <div style="margin-right: 4em;">
                            <div>
                                <img class="support-icon"
                                    src="https://tanatanh.sirv.com/vtg/vtg-komen/support.jpg?w=150&amp;h=150">
                            </div>
                            <div class="text-pink" style="text-align: center; margin-top: 1em; font-style: italic;">
                                Support
                            </div>
                        </div>
                        <div>
                            <div>
                                <img class="support-icon"
                                    src="https://tanatanh.sirv.com/vtg/vtg-komen/enjoy.jpg?w=150&amp;h=150">
                            </div>
                            <div class="text-pink" style="text-align: center; margin-top: 1em; font-style: italic;">
                                Enjoy
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>

  		<div>
          <img class="Sirv" data-src="https://tanatanh.sirv.com/vtg/vtg-komen/5_bg_separator.jpg" width="100%">
  		</div>
<!--  
        <div class="section">
            <div class="background">
                <img style="z-index: 1" class="Sirv" data-src="https://tanatanh.sirv.com/vtg/vtg-komen/5_bg.png">
                <img style="position: absolute; right: 0; width: 51%; height: 100%; object-fit: cover;" class="Sirv"
                    data-src="https://tanatanh.sirv.com/vtg/vtg-komen/PL4500_stevebitanga%401X.png">
            </div>
            <div class="content" style="z-index: 1;">
                <div class="quote"
                    style="display: flex; flex-flow: column; align-items: center; width: 50%;">
                    <h3 class="text-blue">"We will fight together.</h3>
                    <h3 class="text-blue">Thanks Vertagear Team!"</h3>
                    <h3 class="text-blue" style="margin-top: 0.5em"><b>by Verdi Kim</b></h3>
                </div>
            </div>
        </div>
-->  
    </div>

    <script>
        $(document).ready(() => {
            $('.new-edit-top__breadcrumb').fadeOut();
            $('.new-edit-top').css("background-color", "#f2d5db");
        })

        $(window).on("scroll", function (e) {
            if ($(window).scrollTop() >= $("header.main-header").height()) {
                $("header.main-header").fadeOut(500)
            } else {
                $("header.main-header").fadeIn(500);
            }
        });
    </script>
    <style>
        body {
            line-height: 1.2em;
        }

        span,
        p {
            font-size: smaller;

            margin: 0;
            padding: 0;
        }

        h1,
        h2,
        h3,
        h4 {
            margin: 0;
            padding: 0;
        }

        h1 {
            font-weight: 600;
        }

        .text-blue {
            color: #4e4cf7;
        }

        .text-pink {
            color: #f2d5db;
        }

        .section {
            position: relative;
        }

        .section-four {
            height: 25em;
            margin-bottom: 2em;
        }

        .section>.background {
            display: flex;
        }

        .section>.content {
            position: absolute;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            top: 0;
        }

        .padding-left {
            padding-left: 100px;
        }

        .padding-right {
            padding-right: 100px;
        }

        /* Extra small devices (phones, 600px and down) */
        @media only screen and (max-width: 600px) {
            body {
                font-size: 50%;
            }

            h1 {
                font-size: 120%;
            }

            h1.top {
                font-size: 200%;
            }

            h2 {
                font-size: 90%;
            }

            h3 {
                font-size: 80%;
                margin-bottom: 0 !important;
            }

            .padding-left {
                padding-left: 10px;
            }

            .padding-right {
                padding-right: 10px;
            }

            img.heart {
                width: 50px;
            }

            img.support-icon {
                width: 50px;
                height: 50px;
            }

            img.sign {
                width: 30px;
            }

            .section-four {
                height: 22em;
                margin-bottom: 0;
            }
            .quote {
                position: relative;
                top: 2em;
            }
        }

        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (min-width: 600px) {
            body {
                font-size: 70%;
            }

            h1 {
                font-size: 150%;
            }

            h2 {
                font-size: 130%;
            }

            h3 {
                font-size: 110%;
            }

            .padding-left {
                padding-left: 25px;
            }

            .padding-right {
                padding-right: 25px;
            }

            img.heart {
                width: 75px;
            }

            img.support-icon {
                width: 50px;
                height: 50px;
            }

            img.sign {
                width: 50px;
            }

            .section-four {
                height: 22em;
                margin-bottom: 0;
            }
            .quote {
                position: relative;
                top: 2em;
            }
        }

        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {
            body {
                font-size: 80%;
            }

            h1 {
                font-size: 200%;
            }

            h2 {
                font-size: 150%;
            }

            h3 {
                font-size: 120%;
            }

            .padding-left {
                padding-left: 25px;
            }

            .padding-right {
                padding-right: 25px;
            }

            img.heart {
                width: 100px;
            }

            img.support-icon {
                width: 70px;
                height: 70px;
            }

            img.sign {
                width: 50px;
            }

            .section-four {
                height: 22em;
                margin-bottom: 0;
            }
            .quote {
                position: relative;
                top: 3em;
            }
        }

        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
            body {
                font-size: 100%;
            }

            h1 {
                font-size: 250%;
            }

            h2 {
                font-size: 200%;
            }

            h3 {
                font-size: 150%;
            }

            .padding-left {
                padding-left: 50px;
            }

            .padding-right {
                padding-right: 50px;
            }

            img.heart {
                width: 125px;
            }

            img.support-icon {
                width: 100px;
                height: 100px;
            }

            img.sign {
                width: 75px;
            }
            
            .section-four {
                height: 25em;
                margin-bottom: 2em;
            }
            .quote {
                position: relative;
                top: 4em;
            }
        }

        /* Extra large devices (large laptops and desktops, 1200px and up) */
        @media only screen and (min-width: 1200px) {
            body {
                font-size: 100%;
            }

            h1 {
                font-size: 400%;
            }

            h2 {
                font-size: 300%;
            }

            h3 {
                font-size: 200%;
            }

            h3 {
                font-size: 150%;
            }

            img.heart {
                width: 150px;
            }

            img.support-icon {
                width: 150px;
                height: 150px;
            }

            img.sign {
                width: 75px;
            }

            .section-four {
                height: 25em;
                margin-bottom: 2em;
            }

            .quote {
                position: relative;
                top: 5em;
            }
          
          	.tdf_discount_content {
            	margin-top: 30px;
            }
        }
    </style>

<div id="new-edit-top" class="new-edit-top">
    <div class="new-edit-top__container">
        <ul class="new-edit-top__breadcrumb">
            <li class="new-edit-top__breadcrumb-li"><a class="new-edit-top__breadcrumb-link" href="/">Home</a></li>
            {% if product.type %}
            <li class="new-edit-top__breadcrumb-li"><a class="new-edit-top__breadcrumb-link" style="pointer-events:none">{{ product.type }}</a></li>
<!--            href="{{ collections[product.type].url }}" -->
            {% endif %}
            <li class="new-edit-top__breadcrumb-li"><a class="new-edit-top__breadcrumb-link  -current"
                    href="{{ product.url }}">{{ product.title }}</a></li>
        </ul>
        <div class="new-edit-top__main">
            <div class="new-edit-top__left">
                <div class="product-single__photo-wrapper" id="ProductPhotoImgWrapper">
                    {% if product.metafields.custom_fields["isrgb"] == 1 %}
                        <a href="{{product.metafields.custom_fields["rgb_kit_link"]}}" class="product-single__photo-wrapper-rgbled-link" target="_blank" rel="noopener">
                            <img src="{{ 'rgbled.png' | asset_url}}" alt="RGB LED Upgrade Kit Compatible" class="product-single__photo-wrapper-rgbled">
                        </a>
                    {% endif %}
                    <div class="product-single__photo-wrapper-inner" id="ProductPhotoImg">
                        <div class="product-image-slider-container-main"></div>
                    </div>
                </div>
                {% if product.type contains 'S-Line' or product.type contains 'P-Line' or product.type contains 'Triigger'%}
                <div class="new-edit-top__recommend">
                    <div class="new-edit-top__recommend-title">
                        Recommended For
                    </div>
                    <div class="new-edit-top__recommend-group">
                        <div class="new-edit-top__recommend-info">
                            <div class="new-edit-top__recommend-info-icon"><img
                                    src="{{ 'sl5000-weight.svg' | asset_url}}" alt="Recommended Weight:"></div>
                            <div class="new-edit-top__recommend-info-text">{{ product.metafields.custom_fields["recommended_weight"] }}</div>
                        </div>
                        <div class="new-edit-top__recommend-info">
                            <div class="new-edit-top__recommend-info-icon"><img
                                    src="{{ 'sl5000-height.svg' | asset_url}}" alt="Recommended Height:"></div>
                            <div class="new-edit-top__recommend-info-text">{{product.metafields.custom_fields["recommended_height"]}}</div>
                        </div>
                    </div>
                </div>
                <div class="new-edit-top__btn-box">
                    <a href="/pages/chair-selection-tool" class="new-edit-top__btn" target="_blank" rel="noopener">Chair Selection Tool</a>
                </div> 
              	{% endif %}
                <div class="product-image-slider-container"></div>
            </div>
            <div class="new-edit-top__right">
            {% form 'product', product %}
              <form  action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
                    <div class="new-edit-top__title-group">

                        <div class="new-edit-top__title -rgbled {% if product.title.size > 10 %}-smaller-text{% endif %}">

                            <div class="new-edit-top__title-inner">
                                <span class="new-edit-top__title-text">{{ product.title }}</span>
                                {% if product.metafields.custom_fields["isrgb"] == 1 %}
                                <a href="{{product.metafields.custom_fields["rgb_kit_link"]}}" class="new-edit-top__title-rgbled-link" target="_blank" rel="noopener">
                                    <img src="{{ 'rgbled.png' | asset_url}}" alt="RGB LED Upgrade Kit Compatible" class="new-edit-top__title-rgbled">
                                </a>
                                {% endif %}
                            </div>
                        </div>
                      <h2><b>Pink Hero Edition</b></h2>
                        <div class="new-edit-top__info-price  -mobile">
                            <span class="ag-vg-product-section-label"></span>
                            <span class="new-product-initial-price custom_product_price" data-product-id="{{ product.id }}">
                                {% if current_variant.price < current_variant.compare_at_price %}<span
                                    class="new-product-final-price-compare-at">{{ current_variant.compare_at_price | money }}</span>{% endif %}
                                <span class="new-product-final-price">{{ current_variant.price }}</span>
                            </span>
                        </div>
                    </div>
                    <div class="new-edit-top__info">
                        <div class="new-edit-top__info-price  -desktop">
                            <span class="new-product-initial-price custom_product_price" data-product-id="{{ product.id }}">
                                {% if current_variant.price < current_variant.compare_at_price %}<span
                                    class="new-product-final-price-compare-at">{{ current_variant.compare_at_price | money }}</span>{% endif %}
                                <span class="new-product-final-price">{{ current_variant.price }}</span>
                            </span>
                        </div>
                        <a data-oke-reviews-product-listing-rating="" style="display:inline-block" class="bottomLine ag-vg-product-rating" data-oke-reviews-scroll-target-id="bottom-review">
                          	<div data-oke-reviews-version="2.13.0" class="okeReviews okeReviews--theme">
<div class="okeReviews-reviewsSummary js-okeReviews-reviewsSummary" data-oke-ga-click-action="Star Rating Summary Click" data-oke-ga-click-label="PL1000">
<div class="okeReviews-reviewsSummary-starRating">
<span class="okeReviews-starRating okeReviews-starRating--small">
<span class="okeReviews-a11yText" data-uw-styling-context="true">Rated 4.8 out of 5</span>
<span class="okeReviews-starRating-indicator" role="presentation">
<span class="okeReviews-starRating-indicator-layer"></span>
<span class="okeReviews-starRating-indicator-layer okeReviews-starRating-indicator-layer--foreground" style="width: 96%"></span>
</span>
</span>
</div>
<div class="okeReviews-reviewsSummary-ratingCount">
<span aria-hidden="true" data-uw-styling-context="true">9 Reviews</span>
<span class="okeReviews-a11yText" data-uw-styling-context="true">Based on 9 reviews</span>
</div>
</div>
</div>

                      	</a>
                    </div>         
                
                    {% if product.variants.size > 0 %}
                      {% for option in product.options %}
                          {% if option == "Base-colors" %}
                            <div class="new-edit-top__swatch-color">
                              {% include 'swatch' with 'Base-colors' %}
                            </div>
                          {% elsif option == "Base-Color" %}
                            <div class="new-edit-top__swatch-color">
                              {% include 'swatch' with 'Base-Color' %}
                            </div>
                          {% else %}

                          {% endif %}
                      {% endfor %}
                    {% endif %}
                      <div class="new-edit-top__description -less">
                        <div class="new-edit-top__description-inner">{{product.description}}</div>
                        <div class="new-edit-top__description-more">Read More</div>
                      </div>
                      <script>
                        const topMoreBtn = document.querySelector('.new-edit-top__description-more')
                        topMoreBtn.addEventListener('click',()=>{
                            document.querySelector('.new-edit-top__description').classList.remove('-less')
                            topMoreBtn.style = 'display:none'
                        })
                      </script>         
                
                    {% if product.available and product.variants.size > 0 %}
                        {% for option in product.options %}
                            {% if option == "Base-colors" %}
                                <div class="new-edit-top__choosed-color" aria-hidden="true"></div>
                            {% elsif option == "Base-Color" %}
                                <div class="new-edit-top__choosed-color" aria-hidden="true"></div>
                            {% endif %}
                        {% endfor %}
                	{% endif %}
                    {% assign variants_size = product.variants | size %}
                    {% unless variants_size > 1 %}<style>.selector-wrapper{display:none !important;}</style>{% endunless %}
                    <div class="new-edit-top__options">
                        <select id="ag-vg-product-select" name="id">
                            {% for variant in product.variants %}
                            <option value="{{ variant.id }}"> {{ variant.title }} - {{ variant.price | money}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="new-edit-top__quantity">
                        <label for="Quantity">Quantity</label>
                        <input type="number" id="Quantity" name="quantity" value="1" min="1" class="ag-vg-product-quantity-selector">
                    </div>
                    {% if product.title contains 'PL4500 RGB LED Top Upgrade Kit' or product.title contains 'SL5000 RGB LED Top Upgrade Kit' %}
                        <div class="new-edit-top__quantity new-edit-top__engrave new-edit-top__options">
                          <label for="engrave" class="new-edit-top__engrave-label">

                              {% if product.first_available_variant.inventory_quantity > 0%}
                                Engrave your Logo
                              {% else %}
                                {% if product.title contains 'PL4500 RGB LED Top Upgrade Kit' %}
                                    {% assign  link = '/products/pl4500-rgb-led-acrylic-personalized-service' %}
                                {% else %}
                                    {% assign  link = '/products/sl5000-rgb-led-acrylic-personalized-service' %}
                                {% endif %}
                                <a href="{{link}}"  class="new-edit-top__engrave-label-link">Engrave your Logo</a>
                              {% endif %}
                              <div class="new-edit-top__engrave-tip">
                                  ?
                                  <div class="new-edit-top__engrave-tip-content">
                                      <div class="new-edit-top__engrave-tip-content-inner">
                                          <div class="new-edit-top__engrave-tip-content-title">
                                              Customiztion Service
                                          </div>
                                          <div class="new-edit-top__engrave-tip-content-main">
                                              Take the personalization of your chair to the next level! Our high-quality laser engravement technology is available for you to personalize the logotype on the RGB acrylics of your RGB Kit.
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </label>
                            {% if product.first_available_variant.inventory_quantity > 0%}
                              <select id="engrave" class="single-option-selector">
                                  <option value="no">No</option>
                                  <option value="yes">Yes</option>
                              </select>
                            {% endif %}
                        </div>
                    {% endif %}

                    <span class="ag-vg-product-section-label"></span>
                    <span class="ag-vg-product-initial-price"></span>
                    {% if product.type == 'Personalized Service' %}
                    <div  class="new-edit-top__read new-edit-top__description-more" onclick="document.querySelector('#popup-image').classList.remove('-in-active')">
                        Read Instructions
                    </div>
                    {% endif %}
                    <style>.-hide-btn #AddToCart{ display:none!important; }</style>
                    <div class="new-edit-top__submit {% if product.type == 'Personalized Service' %} -hide-btn{% endif %}" >
                        <input type="submit" class="ag-vg-product-add-to-cart" id="AddToCart" value="ADD TO CART" ></input>
                    </div>
              </form>
              {% endform %}
                <div class="new-edit-top__bottom">
                  	{% if product.type contains 'S-Line' or product.type contains 'P-Line' or product.type contains 'Triigger'%}
                  	{% unless product.id == 4589522288751 %}
                    <div class="new-edit-top__bottom-single" onclick="document.querySelector('.product-learn-more-wear-and-tear-popup').classList.remove('-in-active')">
                        <div class="new-edit-top__bottom-single-left">
                            <div class="new-edit-top__bottom-single-left-text">
                                <b>Free<br>protection</b><br>program
                            </div>
                            <div class="new-edit-top__bottom-single-left-detail">
                                See Details
                            </div>
                        </div>
                        <div class="new-edit-top__bottom-single-right">
                            <div class="new-edit-top__bottom-single-img">
                                <img src="{{ 'wear-and-tear-icon.svg' | asset_url}}" class="new-edit-top__bottom-single-img-inner" alt="">
                                <img src="{{ 'wear-and-tear-icon-outline.svg' | asset_url}}" class="new-edit-top__bottom-single-img-inner -absolute" alt="">
                            </div>
                        </div>
                    
                    </div>
                    {% endunless %}
                    {% endif %}
<!--                   	<div class="new-edit-top__bottom-single" style="cursor:default;">
                        <div class="new-edit-top__bottom-single-left">
                            <div class="new-edit-top__bottom-single-left-text">
                                0% APR<br>6 months<br>or Pay in 4
                            </div>
                        </div>
                        <div class="new-edit-top__bottom-single-right">
                            <div class="new-edit-top__bottom-single-img">
                                <img src="{{ 'product-paypal.svg' | asset_url}}" class="new-edit-top__bottom-single-img-inner" alt="">
                            </div>
                        </div>
                    
                    </div> -->
                  <div class="new-edit-top__bottom-single" style="cursor:default;">
                        <div class="new-edit-top__bottom-single-left">
                            <div class="new-edit-top__bottom-single-left-text">
                              <b>Buy now<br>Pay later</b>
                            </div>
                        </div>
                        <div class="new-edit-top__bottom-single-right">
                            <div class="new-edit-top__bottom-single-img">
                                <img src="{{ 'klarna-logo.svg' | asset_url}}" class="new-edit-top__bottom-single-img-inner" alt="">
                            </div>
                        </div>
                    
                    </div>
                 </div>
                 {% if product.type contains 'Personalized Service'%}
                     <div class="new-edit-top__final">
                  		<a  class="new-edit-top__read new-edit-top__description-more" href="/pages/privacy-policy">
                            Privacy Policy
                        </a>
          			</div>
                 {% endif%}
            </div>
          <div data-oke-reviews-widget data-oke-reviews-product-id="shopify-{{ product.id }}"></div>
        </div>
    </div>
</div>{% render 'product_infox' %}