
{{ 'fe800-all.css' | asset_url | stylesheet_tag }}
{% include 'fe800-all-custom' %}
{% include 'product-learn-more-wear-and-tear-popup-request' %}
<div class="page-fe800 layoutv1 product-800" fe800-product-detail="sl3800" loading-cart="0">
    {% section 'fe800-viewproduct' %}
    <div id="popup-reviews" style="display: none;">{% section 'fe800-productdetail-popup-reviews' %}</div>
  {% section 'fe800-popup-herobanner' %}
  {% section 'fe800-productdetail-popupgallery' %}
  {% section 'fe800-productdetail-topbar-info' %}
  {% section 'fe800-productdetail-popupzoom' %}

  <div class="fe800-popup" loading-popup="0">
    <div class="popup-inner"></div>
  </div>

    <div id="fullpage">
      {% section 'sl3800-info-updateV1' %}
      {% section 'new-fe800-product-detail' %}
      {% section 'new-fe800-specifications' %}
      {% section 'new-fe800-sl5800-also-like' %}
        {% comment %} {% section 'fe800-signatures_1_sl3800' %}
        {% section 'fe800-signatures_2_sl3800' %}
        {% include 'fe800-signatures_4',order: 5 %}
        {% section 'fe800-moreproduct_features' %}
        {% section 'fe800-productdetail-sl3800-specifications' %}
    </div> {% endcomment %}
    {% comment %} {% include 'zakeke-engravelogo.liquid' %}
    {% render 'fe800-product_comparison' %}
    {% section 'fe800-productdetail-reviews' %}
    {% section 'fe800-series_collection' %} {% endcomment %}


</div>

<script src="{{ 'flickity-v2.3.0.js' | asset_url }}"></script>
<script src="{{ 'fe800-custom.src.js' | asset_url }}" type="text/javascript" async defer></script>
<script src="{{ 'swiper-bundle.min.js' | asset_url }}"></script>
<script src="{{ 'clsProductsDetails.js' | asset_url }}" type="text/javascript" async defer></script>
<script src="{{ 'clsProductsDetails.js' | asset_url }}" type="text/javascript" async defer></script>
<script src="{{ 'clsProductsDetails-UpdateV1.js' | asset_url }}" type="text/javascript" async defer></script>
<script src="{{ 'jquery.zoom.min.js' | asset_url }}" crossorigin="anonymous"></script>
<script src="{{ 'jquery.magnify.js' | asset_url }}" crossorigin="anonymous"></script>
<script src="{{ 'jquery.mobile-events.min.js' | asset_url }}" crossorigin="anonymous"></script>
{% render 'product_infox' %}